/** Frontend styles **/
/*---------------------------------------------------------
 Mixins (_utility.scss)
-------------------------------------------------------- */
.leyka-tpl-radio .leyka-screen-reader-text,
.leyka-tpl-toggles .leyka-screen-reader-text {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  border: 0 none;
  padding: 0; }

.leyka-scale-ultra {
  position: relative;
  border: 1px solid #1db318;
  box-sizing: border-box; }
  .leyka-scale-ultra .leyka-scale-scale {
    height: 16px; }
    .leyka-scale-ultra .leyka-scale-scale .target {
      background: #fff;
      width: 100%;
      height: 100%; }
    .leyka-scale-ultra .leyka-scale-scale .collected {
      height: 100%;
      background: rgba(29, 179, 24, 0.5); }
  .leyka-scale-ultra .leyka-scale-label {
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    text-align: center;
    height: 14px; }
    .leyka-scale-ultra .leyka-scale-label span {
      font-size: 11px;
      line-height: 14px;
      padding: 0 3px;
      color: #333; }

.leyka-scale-ultra-fake {
  position: relative;
  border: 1px solid #ccc;
  box-sizing: border-box; }
  .leyka-scale-ultra-fake .leyka-scale-scale {
    height: 16px; }
    .leyka-scale-ultra-fake .leyka-scale-scale .target {
      background: #fff;
      width: 100%;
      height: 100%; }
    .leyka-scale-ultra-fake .leyka-scale-scale .collected {
      height: 100%;
      background: rgba(204, 204, 204, 0.5); }
  .leyka-scale-ultra-fake .leyka-scale-label {
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    text-align: center;
    height: 14px; }
    .leyka-scale-ultra-fake .leyka-scale-label span {
      font-size: 11px;
      line-height: 14px;
      padding: 0 3px;
      color: #333; }

/** Leyka payment form  (_form.scss) **/
/* Reset form elements */
.leyka-tpl-radio,
.leyka-tpl-toggles {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background: #fff;
  font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%; }
.leyka-tpl-radio button,
.leyka-tpl-radio input,
.leyka-tpl-radio select,
.leyka-tpl-radio textarea,
.leyka-tpl-toggles button,
.leyka-tpl-toggles input,
.leyka-tpl-toggles select,
.leyka-tpl-toggles textarea {
    box-sizing: border-box;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
    outline: none; }
  #leyka-payment-form textarea {
    overflow: auto;
    vertical-align: top; }
  #leyka-payment-form input[type="radio"],
  #leyka-payment-form input[type="checkbox"] {
    padding: 0;
    display: inline;
    vertical-align: middle; }
  #leyka-payment-form input[type="radio"],
  #leyka-payment-form input[type="checkbox"] {
    margin-right: 4px; }
  
.leyka-tpl-radio input[type="text"],
.leyka-tpl-radio input[type="password"],
.leyka-tpl-radio input[type="email"],
.leyka-tpl-radio textarea,
.leyka-tpl-radio select,
.leyka-tpl-toggles input[type="text"],
.leyka-tpl-toggles input[type="password"],
.leyka-tpl-toggles input[type="email"],
.leyka-tpl-toggles textarea,
.leyka-tpl-toggles select
{
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    padding: 6px 4px;
    outline: none;
    border-radius: 3px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #444;
    margin: 6px 0; /*MASHA*/ }
  #leyka-payment-form select {
    width: auto;
    padding: 1px; }
  .leyka-tpl-radio input[type="text"]:focus,
  .leyka-tpl-radio input[type="password"]:focus,
  .leyka-tpl-radio input[type="email"]:focus,
  .leyka-tpl-radio textarea:focus,
  .leyka-tpl-toggles input[type="text"]:focus,
  .leyka-tpl-toggles input[type="password"]:focus,
  .leyka-tpl-toggles input[type="email"]:focus,
  .leyka-tpl-toggles textarea:focus
  {
    border: 1px solid #666;
    color: #444;
    box-shadow: inset 1px 1px 1px rgba(200, 200, 200, 0.5); }
  .leyka-tpl-radio input[type="submit"],
  .leyka-tpl-toggles input[type="submit"]
  {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: normal;
    color: #fff;
    background: #1db318;
    border: none;
    padding: 6px 16px;
    border-radius: 3px; }
.leyka-tpl-toggles input[type="submit"]:hover,
.leyka-tpl-toggles input[type="submit"]:focus,
.leyka-tpl-toggles input[type="submit"]:active,
.leyka-tpl-radio input[type="submit"]:hover,
.leyka-tpl-radio input[type="submit"]:focus,
.leyka-tpl-radio input[type="submit"]:active
{
      background: #189414; }
  .leyka-tpl-radio a, .leyka-tpl-radio a:visited,
  .leyka-tpl-toggles a, .leyka-tpl-toggles a:visited {
    color: #1db318; }

.leyka-tpl-radio a:hover,
.leyka-tpl-radio a:focus,
.leyka-tpl-radio a:active,
.leyka-tpl-radio a:visited:hover,
.leyka-tpl-radio a:visited:focus,
.leyka-tpl-radio a:visited:active,
.leyka-tpl-toggles a:hover,
.leyka-tpl-toggles a:focus,
.leyka-tpl-toggles a:active,
.leyka-tpl-toggles a:visited:hover,
.leyka-tpl-toggles a:visited:focus,
.leyka-tpl-toggles a:visited:active {
      color: #189414; }

.leyka-tpl-radio p,
.leyka-tpl-toggles p {
    margin: 0; }
  #leyka-payment-form img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0); }

.leyka-tpl-radio ul, .leyka-tpl-radio li,
.leyka-tpl-toggles ul, .leyka-tpl-toggles li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  #leyka-payment-form:first-child {
    margin-top: 0; }
  #leyka-payment-form:last-child {
    margin-bottom: 0; }

/** Fields  **/
.leyka-tpl-radio#leyka-payment-form .leyka-field,
.leyka-tpl-toggles#leyka-payment-form .leyka-field{
  margin: 12px 0 0; }
#leyka-payment-form .leyka-user-data {
  margin: 35px 0 27px; }
.leyka-tpl-radio .leyka-field.submit,
.leyka-tpl-radio .leyka-field.agree,
.leyka-tpl-toggles .leyka-field.submit,
.leyka-tpl-toggles .leyka-field.agree
{
  font-size: 12px;
  margin: 10px 0;
  padding-left: 0; }
.leyka-tpl-toggles .leyka-field.amount,
.leyka-tpl-radio .leyka-field.amount{
  text-align: left;
  margin: 0;
  /*padding-left: 20px;*/
}
.leyka-tpl-radio .leyka-field.amount *,
.leyka-tpl-toggles .leyka-field.amount *{
    box-sizing: border-box;
    width:auto;
}
.leyka-tpl-radio .leyka-field.amount label, .leyka-tpl-toggles .leyka-field.amount label {
    display: inline;
    margin-right: 8px;
}

.leyka-tpl-radio .leyka-field.amount span, .leyka-tpl-toggles .leyka-field.amount span {
    display: inline;
}

.leyka-tpl-radio .leyka-field.amount .currency,
.leyka-tpl-toggles .leyka-field.amount .currency {
    font-weight: bold;
    text-transform: uppercase;
    height: 36px; }
.leyka-tpl-radio .leyka-field.amount .currency span,
.leyka-tpl-toggles .leyka-field.amount .currency span {
      line-height: 36px;
      vertical-align: middle; }
.leyka-tpl-radio .leyka-field.amount select,
.leyka-tpl-toggles .leyka-field.amount select {
    font-size: 14px; }

.leyka-tpl-radio .leyka-field.recurring,
.leyka-tpl-toggles .leyka-field.recurring {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 28px;
  vertical-align: middle; }

.leyka-tpl-radio .leyka-field.recurring span,
.leyka-tpl-toggles .leyka-field.recurring span {
    display: inline-block;
    padding: 5px;
    background: #f1f1f1;
    line-height: 10px;
    border-radius: 6px;
    margin-right: 8px; }
  #leyka-payment-form .leyka-field.recurring input {
    margin: 0; }
#leyka-payment-form .amount.fixed .amount-variants-container, #leyka-payment-form .amount.fixed label {
  line-height: 36px;
  vertical-align: middle; }
#leyka-payment-form .amount.fixed .figure {
  font-size: 18px;
  margin-left: 5px; }
#leyka-payment-form .amount.fixed .currency span {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 0 8px;
  text-align: center;
  border-radius: 3px; }
#leyka-payment-form .amount.fixed select {
  vertical-align: top;
  border-color: #ccc;
  height: 36px;
  padding: 1px 6px; }

#leyka-payment-form .amount.flexible input {
    border: 1px solid #1db318;
    height: 36px;
    max-width: 250px;
    font-size: 18px;
    padding: 4px;
    text-align: right; }
.leyka-tpl-radio#leyka-payment-form .amount.mixed input[type="text"],
.leyka-tpl-toggles#leyka-payment-form .amount.mixed input[type="text"]
{
  border: 1px solid #1db318;
  height: 36px;
  width: 50px;
  max-width: 250px;
  font-size: 13px;
  padding: 0 4px;
  margin: 0 4px;
  text-align: right; }
  #leyka-payment-form .amount.flexible input:focus, #leyka-payment-form .amount.flexible input:active {
    border-color: #168612;
    box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.5); }
#leyka-payment-form .amount.flexible .currency {
  vertical-align: middle; }
#leyka-payment-form .amount.flexible select {
  vertical-align: top;
  border-color: #ccc;
  height: 36px;
  padding: 1px 6px; }
#leyka-payment-form .leyka-field.box_deatails p {
  margin-top: 1em;
  margin-bottom: 1em; }
  #leyka-payment-form .leyka-field.box_deatails p:first-child {
    margin-top: 0; }
  #leyka-payment-form .leyka-field.box_deatails p:last-child {
    margin-bottom: 0; }
#leyka-payment-form .leyka-user-data .input {
  width: 100%;
  display: inline-block;
  position: relative; }
#leyka-payment-form .leyka-user-data .req:after {
  content: '*';
  font-size: 18px;
  display: block;
  position: absolute;
  right: 7px;
  top: 5px;
  color: red; }
#leyka-payment-form .field-comment {
  color: #666;
  padding-left: 5px;
  font-size: 0.785714em; }
.leyka-tpl-radio .field-error,
.leyka-tpl-toggles .field-error {
  display: none;
  background: #FFE9E9;
  border: 1px solid #FBC4C4;
  color: #DE5959;
  padding: 2px 10px;
  margin-top: 5px;
  font-size: 12px;
  border-radius: 3px; }
.leyka-tpl-radio #leyka-payment-form .field-error a,
.leyka-tpl-toggles #leyka-payment-form .field-error a {
    color: #fc001e; }
    #leyka-payment-form .field-error a:hover, #leyka-payment-form .field-error a:focus, #leyka-payment-form .field-error a:active {
      color: #aa363a; }

/** Errors (out of form)  **/
.entry-content .leyka-nopm-error,
.leyka-nopm-error {
  display: none;
  background: #FFE9E9;
  border: 1px solid #FBC4C4;
  color: #DE5959;
  padding: 2px 10px;
  margin-top: 5px;
  font-size: 12px;
  border-radius: 3px;
  display: block;
  padding: 10px 20px 10px 20px;
  font-size: 0.95em; }
  .entry-content .leyka-nopm-error a,
  .leyka-nopm-error a {
    color: #fc001e; }
    .entry-content .leyka-nopm-error a:hover, .entry-content .leyka-nopm-error a:focus, .entry-content .leyka-nopm-error a:active,
    .leyka-nopm-error a:hover,
    .leyka-nopm-error a:focus,
    .leyka-nopm-error a:active {
      color: #aa363a; }

.entry-content .leyka-submit-errors,
.leyka-submit-errors {
  display: none;
  background: #FFE9E9;
  border: 1px solid #FBC4C4;
  color: #DE5959;
  padding: 2px 10px;
  margin-top: 5px;
  font-size: 12px;
  border-radius: 3px;
  display: block;
  padding: 10px 20px; }
  .entry-content .leyka-submit-errors a,
  .leyka-submit-errors a {
    color: #fc001e; }
    .entry-content .leyka-submit-errors a:hover, .entry-content .leyka-submit-errors a:focus, .entry-content .leyka-submit-errors a:active,
    .leyka-submit-errors a:hover,
    .leyka-submit-errors a:focus,
    .leyka-submit-errors a:active {
      color: #aa363a; }
  .entry-content .leyka-submit-errors ul,
  .leyka-submit-errors ul {
    margin: 5px 0; }
    .entry-content .leyka-submit-errors ul li,
    .leyka-submit-errors ul li {
      margin: 3px 0; }

.single-leyka_campaign *[class*='error'] a {
  color: #fc001e; }
  .single-leyka_campaign *[class*='error'] a:visited {
    color: #fc001e; }
  .single-leyka_campaign *[class*='error'] a:hover {
    color: #aa363a; }

/** Templates specifics styles **/
.leyka-tpl-radio .leyka-pm-fields,
.leyka-tpl-toggles .leyka-pm-fields {
  position: relative;
  background: #fff;
  border: 1px solid #dfdfdf;
  border-left: none;
  padding: 20px;
  margin-right: -1px;
  max-width: 400px;
  box-shadow: 1px 1px 3px rgba(240, 240, 240, 0.67);
}

.entry-content #leyka-payment-form .leyka-pm-icons,
#leyka-payment-form .leyka-pm-icons {
  overflow: hidden; }
.leyka-tpl-radio .leyka-pm-icons li,
.leyka-tpl-toggles .leyka-pm-icons li {
    float: right;
    margin: 0 0 0 5px !important;
    width: 60px;
    border: 1px solid #dfdfdf; }
.entry-content #leyka-payment-form .leyka-pm-desc,
#leyka-payment-form .leyka-pm-desc {
  padding: 20px; }
  .entry-content #leyka-payment-form .leyka-pm-desc p,
  #leyka-payment-form .leyka-pm-desc p {
    line-height: 21px;
    margin-top: 10px; }

/* Toggles */
#leyka-payment-form.leyka-tpl-toggles .leyka-payment-option {
  margin: 5px 0; }

.leyka-tpl-toggles .leyka-toggle-trigger {
  border: 1px solid #dfdfdf;
  background: #f9f9f9;
  padding: 7px 15px;
  cursor: pointer;
  font-weight: bold;
  text-shadow: 1px 1px 1px #f6f6f6; }
  .leyka-toggle-trigger:hover, .leyka-toggle-trigger:focus, .leyka-toggle-trigger:active {
    color: #666; }

.leyka-tpl-toggles .toggle-inactive {
  cursor: default !important; }

.leyka-tpl-toggles .leyka-toggle-area {
    display: none;
    border: 1px solid #dfdfdf;
    border-top: none;
    background: #f9f9f9; }

.leyka-tpl-neo .leyka-toggle-area {
  display: none;
  border: none;
  background: #fff; }

.leyka-tpl-toggles .toggled .leyka-toggle-trigger {
  border-bottom: none; }

/* Radios */
#leyka-payment-form.leyka-tpl-radio .leyka-payment-option {
  margin-bottom: 5px; }
#leyka-payment-form.leyka-tpl-radio .leyka-pm-form {
  border: 1px solid #dfdfdf; }
#leyka-payment-form.leyka-tpl-radio .form-part {
  box-sizing: border-box; }
#leyka-payment-form.leyka-tpl-radio .amount-selector {
  margin: 12px 0 0 20px; }
#leyka-payment-form.leyka-tpl-radio .pm-selector {
  background: #f9f9f9;
  padding: 15px; }
#leyka-payment-form.leyka-tpl-radio #leyka-pm-data {
  background: #f9f9f9; }
#leyka-payment-form.leyka-tpl-radio #leyka-pm-data.loading .leyka-pm-fields:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1) url(../img/ajax-loader.gif) no-repeat center center;
  position: absolute;
  top: 0;
  left: 0; }
#leyka-payment-form.leyka-tpl-radio .leyka-pm-selector label {
  display: block;
  padding: 0 5px 1px;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
#leyka-payment-form.leyka-tpl-radio .leyka-pm-selector .active label {
  border-color: #dfdfdf;
  background: #e7e7e7; }
#leyka-payment-form.leyka-tpl-radio .freeze-field {
  @inclide clearfix; }
  #leyka-payment-form.leyka-tpl-radio .freeze-field .amount {
    float: right; }

.leyka-tpl-radio .leyka-recurring-field {
    margin-left: 20px;
}

/* embed yandex form */
#leyka-payment-form .yandex_money_quick .yandex_money_quick_code,
#leyka-payment-form .yandex_money_quick .leyka-user-data,
#leyka-payment-form #leyka-form-yandex_money_quick .yandex_money_quick_code,
#leyka-payment-form #leyka-form-yandex_money_quick .leyka-user-data {
  margin: 0; }
#leyka-payment-form .yandex_money_quick .yandex_money_quick_code iframe,
#leyka-payment-form #leyka-form-yandex_money_quick .yandex_money_quick_code iframe {
  width: 100% !important;
  height: 420px !important; }

/*embed code area */
.leyka-embed-block {
  background: #fff;
  border: 1px solid #ccc;
  /*border-left: 0;*/
  /*border-bottom: 0;*/
  padding: 20px;
  max-width: 100%;
  box-shadow: 1px 1px 2px rgba(220, 220, 220, 0.5); }
  .leyka-embed-block .leyka-setting-row::after {
    clear: both;
    content: "";
    display: table; }
  .leyka-embed-block .col-1 label {
    font-size: 11px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px; }
  .leyka-embed-block .col-1 #embed_iframe_w,
  .leyka-embed-block .col-1 #embed_iframe_h {
    width: 40px; }
  @media screen and (min-width: 800px) {
    .leyka-embed-block .col-1 {
      float: left;
      width: 210px; } }
  @media screen and (min-width: 800px) {
    .leyka-embed-block .col-2 {
      margin-left: 211px; } }
  .leyka-embed-block .col-2 textarea {
    min-height: 70px; }
  .leyka-embed-block .leyka-embed-preview {
    margin-top: 25px; }
    .leyka-embed-block .leyka-embed-preview h4 {
      margin-top: 0; }
    .leyka-embed-block .leyka-embed-preview iframe {
      max-width: 100%;
      border: 4px solid #dfdfdf;
      padding: 1px; }

#share-campaign-area.toggle {
  background: #fff;
  border-color: #dfdfdf; }
  #share-campaign-area.toggle .leyka-toggle-trigger {
    background: #fff;
    border-color: #dfdfdf; }
  #share-campaign-area.toggle .toggle-area {
    background: #fff;
    border-color: #dfdfdf; }

/** Leyka campaign elements  (_campaign.scss) **/
/* embedded scale */
div[id*="leyka_scale_standalone"] {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background: #fff; }
  div[id*="leyka_scale_standalone"]:first-child {
    margin-top: 0; }
  div[id*="leyka_scale_standalone"]:last-child {
    margin-bottom: 0; }
  div[id*="leyka_scale_standalone"] .leyka-scale {
    border: 1px solid #dfdfdf;
    padding: 15px; }
  div[id*="leyka_scale_standalone"] .leyka-scale-scale {
    height: 8px;
    width: 100%; }
    div[id*="leyka_scale_standalone"] .leyka-scale-scale .target {
      background: #f1f1f1;
      width: 100%;
      height: 100%; }
    div[id*="leyka_scale_standalone"] .leyka-scale-scale .collected {
      background: #1db318;
      height: 100%; }
  div[id*="leyka_scale_standalone"] .leyka-scale-label {
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    margin-top: 5px;
    font-size: 13px; }
  div[id*="leyka_scale_standalone"] .leyka-scale-button {
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    text-align: right;
    font-size: 13px;
    box-sizing: border-box; }
    div[id*="leyka_scale_standalone"] .leyka-scale-button a {
      display: inline-block;
      background: #1db318;
      color: #fff !important;
      font-size: 13px;
      font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-weight: normal;
      font-style: normal;
      text-decoration: none !important;
      padding: 0.4em 1.5em;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      box-sizing: border-box; }
      div[id*="leyka_scale_standalone"] .leyka-scale-button a:visited {
        color: #fff !important; }
      div[id*="leyka_scale_standalone"] .leyka-scale-button a:hover, div[id*="leyka_scale_standalone"] .leyka-scale-button a:focus, div[id*="leyka_scale_standalone"] .leyka-scale-button a:active {
        text-decoration: none;
        background: #168612; }
  div[id*="leyka_scale_standalone"] .leyka-scale.has-button .leyka-scale-button {
    margin-top: 5px; }
  div[id*="leyka_scale_standalone"] .leyka-scale.has-button.wide {
    position: relative; }
    div[id*="leyka_scale_standalone"] .leyka-scale.has-button.wide .leyka-scale-compact {
      margin-right: 169px; }
    div[id*="leyka_scale_standalone"] .leyka-scale.has-button.wide .leyka-scale-button {
      margin-top: 0;
      width: 156px;
      position: absolute;
      right: 15px;
      top: 15px; }

/** Embedded campaign card **/
div[id*="leyka_campaign_card_standalone"] {
  margin-top: 1.5em;
  margin-bottom: 1.5em; }
  div[id*="leyka_campaign_card_standalone"]:first-child {
    margin-top: 0; }
  div[id*="leyka_campaign_card_standalone"]:last-child {
    margin-bottom: 0; }
  div[id*="leyka_campaign_card_standalone"] .leyka-campaign-card {
    border: 1px solid #dfdfdf;
    background: #fff; }
  div[id*="leyka_campaign_card_standalone"] .lk-thumbnail a {
    display: block;
    border: 2px solid transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    div[id*="leyka_campaign_card_standalone"] .lk-thumbnail a:hover, div[id*="leyka_campaign_card_standalone"] .lk-thumbnail a:focus, div[id*="leyka_campaign_card_standalone"] .lk-thumbnail a:active {
      border-color: #1db318; }
  div[id*="leyka_campaign_card_standalone"] .lk-thumbnail img {
    max-width: 100%;
    height: auto;
    vertical-align: middle; }
  div[id*="leyka_campaign_card_standalone"] .lk-title {
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    font-weight: bold;
    font-size: 19.5px;
    line-height: 1.3;
    margin: 0;
    clear: none; }
    div[id*="leyka_campaign_card_standalone"] .lk-title a, div[id*="leyka_campaign_card_standalone"] .lk-title a:visited {
      text-decoration: none;
      color: #3c3c3c; }
      div[id*="leyka_campaign_card_standalone"] .lk-title a:hover, div[id*="leyka_campaign_card_standalone"] .lk-title a:focus, div[id*="leyka_campaign_card_standalone"] .lk-title a:active, div[id*="leyka_campaign_card_standalone"] .lk-title a:visited:hover, div[id*="leyka_campaign_card_standalone"] .lk-title a:visited:focus, div[id*="leyka_campaign_card_standalone"] .lk-title a:visited:active {
        color: #1db318;
        text-decoration: none; }
  div[id*="leyka_campaign_card_standalone"] .lk-info {
    padding: 15px; }
    div[id*="leyka_campaign_card_standalone"] .lk-info p {
      text-transform: none;
      text-decoration: none;
      font-weight: normal;
      font-style: normal;
      font-size: 13px;
      line-height: 1.5;
      margin: 0; }
      div[id*="leyka_campaign_card_standalone"] .lk-info p:nth-of-type(1) {
        margin-top: 15px; }
  div[id*="leyka_campaign_card_standalone"] .leyka-scale {
    border-top: 1px solid #dfdfdf;
    padding: 15px; }
  div[id*="leyka_campaign_card_standalone"] .leyka-scale-scale {
    height: 8px;
    width: 100%; }
    div[id*="leyka_campaign_card_standalone"] .leyka-scale-scale .target {
      background: #f1f1f1;
      width: 100%;
      height: 100%; }
    div[id*="leyka_campaign_card_standalone"] .leyka-scale-scale .collected {
      background: #1db318;
      height: 100%; }
  div[id*="leyka_campaign_card_standalone"] .leyka-scale-label {
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    margin-top: 5px;
    font-size: 13px; }
  div[id*="leyka_campaign_card_standalone"] .leyka-scale-button {
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    text-align: right;
    font-size: 13px;
    box-sizing: border-box; }
    div[id*="leyka_campaign_card_standalone"] .leyka-scale-button a {
      display: inline-block;
      background: #1db318;
      color: #fff !important;
      font-size: 13px;
      font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-weight: normal;
      font-style: normal;
      text-decoration: none !important;
      padding: 0.4em 1.5em;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      box-sizing: border-box; }
      div[id*="leyka_campaign_card_standalone"] .leyka-scale-button a:visited {
        color: #fff !important; }
      div[id*="leyka_campaign_card_standalone"] .leyka-scale-button a:hover, div[id*="leyka_campaign_card_standalone"] .leyka-scale-button a:focus, div[id*="leyka_campaign_card_standalone"] .leyka-scale-button a:active {
        text-decoration: none;
        background: #168612; }
  div[id*="leyka_campaign_card_standalone"] .leyka-scale-button-alone {
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    text-align: right;
    font-size: 13px;
    box-sizing: border-box;
    border-top: 1px solid #dfdfdf;
    padding: 15px; }
    div[id*="leyka_campaign_card_standalone"] .leyka-scale-button-alone a {
      display: inline-block;
      background: #1db318;
      color: #fff !important;
      font-size: 13px;
      font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-weight: normal;
      font-style: normal;
      text-decoration: none !important;
      padding: 0.4em 1.5em;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      box-sizing: border-box; }
      div[id*="leyka_campaign_card_standalone"] .leyka-scale-button-alone a:visited {
        color: #fff !important; }
      div[id*="leyka_campaign_card_standalone"] .leyka-scale-button-alone a:hover, div[id*="leyka_campaign_card_standalone"] .leyka-scale-button-alone a:focus, div[id*="leyka_campaign_card_standalone"] .leyka-scale-button-alone a:active {
        text-decoration: none;
        background: #168612; }
  div[id*="leyka_campaign_card_standalone"] .leyka-scale.has-button .leyka-scale-button {
    margin-top: 5px; }
  div[id*="leyka_campaign_card_standalone"] .leyka-campaign-card.wide {
    position: relative; }
    div[id*="leyka_campaign_card_standalone"] .leyka-campaign-card.wide::after {
      clear: both;
      content: "";
      display: table; }
    div[id*="leyka_campaign_card_standalone"] .leyka-campaign-card.wide .lk-thumbnail {
      float: left;
      width: 40%; }
    div[id*="leyka_campaign_card_standalone"] .leyka-campaign-card.wide .lk-thumbnail + .lk-info {
      margin-left: 45%; }
    div[id*="leyka_campaign_card_standalone"] .leyka-campaign-card.wide .leyka-scale-button-alone,
    div[id*="leyka_campaign_card_standalone"] .leyka-campaign-card.wide .leyka-scale {
      margin-top: 0;
      clear: both; }
    div[id*="leyka_campaign_card_standalone"] .leyka-campaign-card.wide .leyka-scale.has-button {
      position: relative; }
      div[id*="leyka_campaign_card_standalone"] .leyka-campaign-card.wide .leyka-scale.has-button .leyka-scale-compact {
        margin-right: 169px; }
      div[id*="leyka_campaign_card_standalone"] .leyka-campaign-card.wide .leyka-scale.has-button .leyka-scale-button {
        margin-top: 0;
        width: 156px;
        position: absolute;
        right: 15px;
        top: 15px; }
    div[id*="leyka_campaign_card_standalone"] .leyka-campaign-card.wide .leyka-scale-button {
      margin-top: 0; }

/** Campaign card widget **/
div[id*="leyka_campaign_card_widget"] .leyka-campaign-card {
  border: 1px solid #dfdfdf;
  background: #fff; }
div[id*="leyka_campaign_card_widget"] .lk-thumbnail a {
  display: block;
  border: 2px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  div[id*="leyka_campaign_card_widget"] .lk-thumbnail a:hover, div[id*="leyka_campaign_card_widget"] .lk-thumbnail a:focus, div[id*="leyka_campaign_card_widget"] .lk-thumbnail a:active {
    border-color: #1db318; }
div[id*="leyka_campaign_card_widget"] .lk-thumbnail img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }
div[id*="leyka_campaign_card_widget"] .lk-title {
  text-transform: none;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  font-weight: bold;
  font-size: 19.5px;
  line-height: 1.3;
  margin: 0;
  clear: none; }
  div[id*="leyka_campaign_card_widget"] .lk-title a, div[id*="leyka_campaign_card_widget"] .lk-title a:visited {
    text-decoration: none;
    color: #3c3c3c; }
    div[id*="leyka_campaign_card_widget"] .lk-title a:hover, div[id*="leyka_campaign_card_widget"] .lk-title a:focus, div[id*="leyka_campaign_card_widget"] .lk-title a:active, div[id*="leyka_campaign_card_widget"] .lk-title a:visited:hover, div[id*="leyka_campaign_card_widget"] .lk-title a:visited:focus, div[id*="leyka_campaign_card_widget"] .lk-title a:visited:active {
      color: #1db318;
      text-decoration: none; }
div[id*="leyka_campaign_card_widget"] .lk-info {
  padding: 15px; }
  div[id*="leyka_campaign_card_widget"] .lk-info p {
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
    line-height: 1.5;
    margin: 0; }
    div[id*="leyka_campaign_card_widget"] .lk-info p:nth-of-type(1) {
      margin-top: 15px; }
div[id*="leyka_campaign_card_widget"] .leyka-scale {
  border-top: 1px solid #dfdfdf;
  padding: 15px; }
div[id*="leyka_campaign_card_widget"] .leyka-scale-scale {
  height: 8px;
  width: 100%; }
  div[id*="leyka_campaign_card_widget"] .leyka-scale-scale .target {
    background: #f1f1f1;
    width: 100%;
    height: 100%; }
  div[id*="leyka_campaign_card_widget"] .leyka-scale-scale .collected {
    background: #1db318;
    height: 100%; }
div[id*="leyka_campaign_card_widget"] .leyka-scale-label {
  text-transform: none;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  margin-top: 5px;
  font-size: 13px; }
div[id*="leyka_campaign_card_widget"] .leyka-scale-button {
  text-transform: none;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  text-align: right;
  font-size: 13px;
  box-sizing: border-box; }
  div[id*="leyka_campaign_card_widget"] .leyka-scale-button a {
    display: inline-block;
    background: #1db318;
    color: #fff !important;
    font-size: 13px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-style: normal;
    text-decoration: none !important;
    padding: 0.4em 1.5em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    box-sizing: border-box; }
    div[id*="leyka_campaign_card_widget"] .leyka-scale-button a:visited {
      color: #fff !important; }
    div[id*="leyka_campaign_card_widget"] .leyka-scale-button a:hover, div[id*="leyka_campaign_card_widget"] .leyka-scale-button a:focus, div[id*="leyka_campaign_card_widget"] .leyka-scale-button a:active {
      text-decoration: none;
      background: #168612; }
div[id*="leyka_campaign_card_widget"] .leyka-scale-button-alone {
  text-transform: none;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  text-align: right;
  font-size: 13px;
  box-sizing: border-box;
  border-top: 1px solid #dfdfdf;
  padding: 15px; }
  div[id*="leyka_campaign_card_widget"] .leyka-scale-button-alone a {
    display: inline-block;
    background: #1db318;
    color: #fff !important;
    font-size: 13px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-style: normal;
    text-decoration: none !important;
    padding: 0.4em 1.5em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    box-sizing: border-box; }
    div[id*="leyka_campaign_card_widget"] .leyka-scale-button-alone a:visited {
      color: #fff !important; }
    div[id*="leyka_campaign_card_widget"] .leyka-scale-button-alone a:hover, div[id*="leyka_campaign_card_widget"] .leyka-scale-button-alone a:focus, div[id*="leyka_campaign_card_widget"] .leyka-scale-button-alone a:active {
      text-decoration: none;
      background: #168612; }
div[id*="leyka_campaign_card_widget"] .leyka-scale.has-button .leyka-scale-button {
  margin-top: 5px; }
div[id*="leyka_campaign_card_widget"] .lk-title {
  font-size: 16.9px; }

/** Campaign list **/
div[id*="leyka_campaign_list_widget"] {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf; }
  div[id*="leyka_campaign_list_widget"] .lk-thumbnail a {
    display: block;
    border: 2px solid transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    div[id*="leyka_campaign_list_widget"] .lk-thumbnail a:hover, div[id*="leyka_campaign_list_widget"] .lk-thumbnail a:focus, div[id*="leyka_campaign_list_widget"] .lk-thumbnail a:active {
      border-color: #1db318; }
  div[id*="leyka_campaign_list_widget"] .lk-thumbnail img {
    max-width: 100%;
    height: auto;
    vertical-align: middle; }
  div[id*="leyka_campaign_list_widget"] .lk-title {
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    font-weight: bold;
    font-size: 19.5px;
    line-height: 1.3;
    margin: 0;
    clear: none;
    font-size: 16.9px; }
    div[id*="leyka_campaign_list_widget"] .lk-title a, div[id*="leyka_campaign_list_widget"] .lk-title a:visited {
      text-decoration: none;
      color: #3c3c3c; }
      div[id*="leyka_campaign_list_widget"] .lk-title a:hover, div[id*="leyka_campaign_list_widget"] .lk-title a:focus, div[id*="leyka_campaign_list_widget"] .lk-title a:active, div[id*="leyka_campaign_list_widget"] .lk-title a:visited:hover, div[id*="leyka_campaign_list_widget"] .lk-title a:visited:focus, div[id*="leyka_campaign_list_widget"] .lk-title a:visited:active {
        color: #1db318;
        text-decoration: none; }
  div[id*="leyka_campaign_list_widget"] .lk-info p {
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
    line-height: 1.5;
    margin: 0; }
    div[id*="leyka_campaign_list_widget"] .lk-info p:nth-of-type(1) {
      margin-top: 15px; }
  div[id*="leyka_campaign_list_widget"] .leyka-scale-scale {
    height: 8px;
    width: 100%; }
    div[id*="leyka_campaign_list_widget"] .leyka-scale-scale .target {
      background: #f1f1f1;
      width: 100%;
      height: 100%; }
    div[id*="leyka_campaign_list_widget"] .leyka-scale-scale .collected {
      background: #1db318;
      height: 100%; }
  div[id*="leyka_campaign_list_widget"] .leyka-scale-label {
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    margin-top: 5px;
    font-size: 13px; }
  div[id*="leyka_campaign_list_widget"] .leyka-scale-button {
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    text-align: right;
    font-size: 13px;
    box-sizing: border-box; }
    div[id*="leyka_campaign_list_widget"] .leyka-scale-button a {
      display: inline-block;
      background: #1db318;
      color: #fff !important;
      font-size: 13px;
      font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-weight: normal;
      font-style: normal;
      text-decoration: none !important;
      padding: 0.4em 1.5em;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      box-sizing: border-box; }
      div[id*="leyka_campaign_list_widget"] .leyka-scale-button a:visited {
        color: #fff !important; }
      div[id*="leyka_campaign_list_widget"] .leyka-scale-button a:hover, div[id*="leyka_campaign_list_widget"] .leyka-scale-button a:focus, div[id*="leyka_campaign_list_widget"] .leyka-scale-button a:active {
        text-decoration: none;
        background: #168612; }
  div[id*="leyka_campaign_list_widget"] .leyka-scale-button-alone {
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    text-align: right;
    font-size: 13px;
    box-sizing: border-box; }
    div[id*="leyka_campaign_list_widget"] .leyka-scale-button-alone a {
      display: inline-block;
      background: #1db318;
      color: #fff !important;
      font-size: 13px;
      font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-weight: normal;
      font-style: normal;
      text-decoration: none !important;
      padding: 0.4em 1.5em;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      box-sizing: border-box; }
      div[id*="leyka_campaign_list_widget"] .leyka-scale-button-alone a:visited {
        color: #fff !important; }
      div[id*="leyka_campaign_list_widget"] .leyka-scale-button-alone a:hover, div[id*="leyka_campaign_list_widget"] .leyka-scale-button-alone a:focus, div[id*="leyka_campaign_list_widget"] .leyka-scale-button-alone a:active {
        text-decoration: none;
        background: #168612; }
  div[id*="leyka_campaign_list_widget"] .leyka-scale.has-button .leyka-scale-button {
    margin-top: 5px; }
  div[id*="leyka_campaign_list_widget"] .leyka-campaign-list-item {
    padding: 15px 0;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    margin: 5px 0; }
  div[id*="leyka_campaign_list_widget"] .leyka-scale-button-alone,
  div[id*="leyka_campaign_list_widget"] .leyka-scale {
    margin-top: 15px;
    clear: both; }
  div[id*="leyka_campaign_list_widget"] .leyka-campaign-list-item.has-thumb::after {
    clear: both;
    content: "";
    display: table; }
  div[id*="leyka_campaign_list_widget"] .leyka-campaign-list-item.has-thumb .lk-thumbnail {
    width: 65px;
    float: left;
    margin-bottom: 15px; }
  div[id*="leyka_campaign_list_widget"] .leyka-campaign-list-item.has-thumb .lk-title {
    margin-left: 75px; }
  div[id*="leyka_campaign_list_widget"] .leyka-campaign-list-item.has-thumb .lk-info p {
    margin-left: 75px; }
  div[id*="leyka_campaign_list_widget"] .leyka-campaign-list-item.has-thumb.narrow .lk-thumbnail {
    margin-bottom: 15px; }
  div[id*="leyka_campaign_list_widget"] .leyka-campaign-list-item.has-thumb.narrow .lk-info p {
    margin-left: 0;
    clear: both; }

/** Campaign page **/
#leyka-campaign-finished {
  border: 2px solid #1db318;
  padding: 10px 15px;
  color: #373737;
  background: #f9f9f9;
  border-radius: 3px; }

/** Leyka donation lists  (_tickers.scss) **/
div[id*="leyka_donors_list"] {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding: 24px;
  font-size: 14px;
  line-height: 1.5;
  color: #444;
  border: 1px solid #dfdfdf;
  background: #f9f9f9;
  padding: 22px 22px 22px 0; }
  div[id*="leyka_donors_list"]:first-child {
    margin-top: 0; }
  div[id*="leyka_donors_list"]:last-child {
    margin-bottom: 0; }
  div[id*="leyka_donors_list"] .ldl-item {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 15px 15px 15px 22px; }
    div[id*="leyka_donors_list"] .ldl-item:first-child {
      margin-top: 0; }
    div[id*="leyka_donors_list"] .ldl-item:last-child {
      margin-bottom: 0; }
    div[id*="leyka_donors_list"] .ldl-item:nth-of-type(odd) {
      border: 1px solid #dfdfdf;
      border-left: 0;
      background: #fff; }
    div[id*="leyka_donors_list"] .ldl-item .amount {
      font-weight: bold;
      color: darken(#444, 5%);
      margin-bottom: 5px; }
    div[id*="leyka_donors_list"] .ldl-item .purpose {
      font-size: 12px;
      margin-top: 5px; }
    div[id*="leyka_donors_list"] .ldl-item .meta {
      font-size: 12px;
      color: #9d9d9d; }

div[id*="leyka_donors_list"].wide .ldl-item {
  max-width: 640px; }
  div[id*="leyka_donors_list"].wide .ldl-item::after {
    clear: both;
    content: "";
    display: table; }
  div[id*="leyka_donors_list"].wide .ldl-item .amount {
    float: left;
    width: 30%;
    margin-bottom: 0; }
  div[id*="leyka_donors_list"].wide .ldl-item .purpose,
  div[id*="leyka_donors_list"].wide .ldl-item .meta,
  div[id*="leyka_donors_list"].wide .ldl-item .donor-comment {
    margin-left: 35%;
  }
    div[id*="leyka_donors_list"].wide .ldl-item .donor-comment {
        margin-top: 10px;
        font-size: 12px;
        color: #9d9d9d;
    }

/** Elements **/
.leyka-tpl-radio #leyka-copy,
.leyka-tpl-toggles #leyka-copy {
  margin-top: 5px;
  position: relative;
  text-align: right;
  font-size: 11px;
  line-height: 18px;
  padding: 4px 30px 4px 4px;
  border: 1px solid #caf8c8;
  background: #f5fef5; }

.leyka-tpl-radio #leyka-copy:after,
.leyka-tpl-toggles #leyka-copy:after {
    content: '';
    display: block;
    background: transparent url(../img/menu-icon.png) no-repeat 0 0;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 5px;
    top: 5px; }

#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  display: none; }

.leyka-tpl-radio .leyka-oferta-text,
.leyka-tpl-toggles .leyka-oferta-text {
  display: none;
  width: 640px;
  height: 500px;
  padding: 25px 30px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 1px 1px 3px 1px rgba(20, 20, 20, 0.7); }

.leyka-tpl-radio .leyka-oferta-text .leyka-modal-close,
.leyka-tpl-toggles .leyka-oferta-text .leyka-modal-close {
    display: block;
    position: absolute;
    top: -7px;
    right: -7px;
    background: #aaa;
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: 21px;
    height: 21px;
    border: 1px solid #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.7);
    cursor: pointer; }

.leyka-tpl-radio .leyka-oferta-text .leyka-modal-close:hover,
.leyka-tpl-toggles .leyka-oferta-text .leyka-modal-close:hover {
      background: #1db318;
}

.leyka-tpl-radio .leyka-oferta-text .leyka-oferta-text-frame,
.leyka-tpl-toggles .leyka-oferta-text .leyka-oferta-text-frame {
    width: 100%;
    height: 100%;
    overflow-y: scroll; }

.leyka-tpl-radio .leyka-oferta-text .leyka-oferta-text-flow,
.leyka-tpl-toggles .leyka-oferta-text .leyka-oferta-text-flow {
    font-size: 13px;
    line-height: 1.35;
    padding-left: 5px;
    padding-right: 20px;
}

.leyka-tpl-radio .leyka-oferta-text .leyka-oferta-text-flow p,
.leyka-tpl-toggles .leyka-oferta-text .leyka-oferta-text-flow p {
      margin: 1.35em 0; }

.leyka-tpl-radio .leyka-oferta-text-flow p,
.leyka-tpl-toggles .leyka-oferta-text-flow p {
  margin: 1.35em 0; }

/** "Neo" template **/
.leyka-tpl-neo {
    border: 1px solid #d1d1d1;
    background: #ffffff;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.08);
    border-top: none;
}

.leyka-tpl-neo .leyka-payment-option .leyka-toggle-trigger {
    font-family: "Helvetica Neue", Helvetica Neue, Helvetica, sans-serif;
    color: #224883;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.5;
    font-size: 18px;
    padding: 15px 30px;
    cursor: pointer;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    margin-top: -1px;
}

.leyka-tpl-neo .leyka-pm-fields {
    position: relative;
    background: #fff;
    padding: 30px;
    max-width: 100%;
}

.leyka-tpl-neo .leyka-payment-option.toggled .leyka-toggle-trigger {
    border-bottom: 2px solid #1db318;
    color: #1db318;
}

.leyka-tpl-neo .currency-variants {
    display: inline-block;
    /*margin-left: 25px;*/
    flex: 0 1 auto;
    text-align: right;
}

.leyka-tpl-neo .currency-selector-row {
    display: flex;
    justify-content: flex-start;
}

.leyka-tpl-neo .leyka-field.amount-selector {
    position: relative;
}

.leyka-tpl-neo .leyka-field.amount-selector .currency {
    font-family: Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.9);
    font-weight: normal;
    letter-spacing: normal;
    font-size: 18px;
    line-height: inherit;
    text-transform: uppercase;
    width: 40px;
    margin-left: 10px;
}

.leyka-tpl-neo .leyka-field.amount-selector .currency .leyka-screen-reader-text {
    display: none;
}

.leyka-tpl-neo .leyka-field.amount-selector .currency-frame {
    display: block;
    line-height: inherit;
    width: 100%;
    height: 40px;
    text-align: left;
    position: relative;
    z-index: 1;
}

.leyka-tpl-neo .leyka-field.amount-selector .currency-frame span {
    display: flex;
    flex: 0 0 auto;
    align-self: flex-start;
    background: #ffffff;
    width: 100%;
    line-height: inherit;
    height: 40px;
    z-index: 10;

}

.leyka-tpl-neo .leyka-field.amount-selector .currency-frame select {
    border: none;
    width: 90px;
    background: transparent;
    font-family: Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.9);
    font-weight: normal;
    letter-spacing: normal;
    font-size: 18px;
    line-height: inherit;
    text-transform: uppercase;
}

.leyka-tpl-neo .leyka-payment-option .leyka-field.recurring {
    background: #f8f8f8 none repeat scroll 0 0;
    border-radius: 4px;
    margin-bottom: 36px;
    padding: 4px 8px 5px;
}

.leyka-tpl-neo .leyka-field.amount {
    padding-left: 0;
}

.leyka-tpl-neo#leyka-payment-form .leyka-field.amount-selector {
    margin-top: 0;
    line-height: 40px;
}

.leyka-tpl-neo .leyka-payment-option .leyka-field a,
.leyka-tpl-neo .leyka-payment-option .leyka-field a:visited,
.leyka-tpl-neo .leyka-payment-option .leyka-field a:hover,
.leyka-tpl-neo .leyka-payment-option .leyka-field a:focus,
.leyka-tpl-neo .leyka-payment-option .leyka-field a:active {
color: #224883;
}

.leyka-tpl-neo .leyka-payment-option .leyka-field a:hover,
.leyka-tpl-neo .leyka-payment-option .leyka-field a:focus,
.leyka-tpl-neo .leyka-payment-option .leyka-field a:active {
text-decoration: underline;
}

.leyka-payment-option .leyka-field.rdc-textfield {
    padding: 20px 0;
    position: relative;
    display: block;
    width: 100%;
}
.leyka-tpl-neo#leyka-payment-form .leyka-donor-fields {
    margin-top: 36px;
}
.leyka-tpl-neo#leyka-payment-form .leyka-recurring-field {
    margin-top: 15px;
}

.leyka-tpl-neo .rdc-textfield .rdc-textfield__input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #e7e7e7;
    border-image: none;
    border-style: none none solid;
    border-radius: 0;
    border-width: medium medium 2px;
    display: block;
    font-family: Helvetica,sans-serif;
    font-size: 16px;
    line-height: 18px;
    padding: 4px 0;
    text-align: left;
    width: 100% !important;
}

.leyka-tpl-neo .rdc-textfield .rdc-textfield__input:focus {
    border-bottom-color: #f02700;
}

.leyka-tpl-neo .rdc-textfield .rdc-textfield__input:focus ~ label {
    color: #f02700;
}

/* Hide the inputs placeholders: */
.leyka-tpl-neo .rdc-textfield input::-webkit-input-placeholder { /* WebKit browsers */
    color: #fff;
    opacity: 0;
}
.leyka-tpl-neo .rdc-textfield input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff;
    opacity: 0;
}
.leyka-tpl-neo .rdc-textfield input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;
    opacity: 0;
}
.leyka-tpl-neo .rdc-textfield input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #fff;
}

.leyka-tpl-neo .rdc-textfield label {
    bottom: 0;
    color: rgba(0, 0, 0, 0.9);
    font-size: 19px;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: left;
    top: 0;
    width: 100%;
}

.leyka-tpl-neo .rdc-inputfix .rdc-inputfix__label, .rdc-textfield label {
    font-family: Helvetica,sans-serif;
    line-height: 1;
    pointer-events: none;
    white-space: nowrap;
}

.leyka-tpl-neo#leyka-payment-form .rdc-radio .rdc-radio__button {
    /*display: none;*/
    position: absolute;
    left: -9999px;
}

.leyka-tpl-neo#leyka-payment-form .figure.rdc-radio {
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 40px;
}

.leyka-tpl-neo#leyka-payment-form .leyka-field.amount-selector .figure .rdc-radio__label {
    color: rgba(0, 0, 0, 0.9);
    font-family: Helvetica,sans-serif;
    font-size: 28px;
    display: inline-block;
    width: 100%;
    /*height: 100%;*/
    border: 1px solid #d1d1d1;
    padding: 0;
    cursor: pointer;
}

.leyka-tpl-neo#leyka-payment-form .rdc-radio .rdc-radio__button:focus + .rdc-radio__label {
    background-color: #1db318;
    border-color: #1db318;
    color: white;
}

.leyka-tpl-neo#leyka-payment-form .leyka-field.amount-selector .figure-flex span {
    margin-left: 10px;
}

.leyka-tpl-neo#leyka-payment-form .leyka-field.amount-selector .figure-sep {
    font-family: Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.9);
    font-weight: normal;
    letter-spacing: normal;
    font-size: 18px;
    line-height: inherit;
    text-transform: uppercase;
    color: #224883;
    margin-right: 8px;
}

.leyka-tpl-neo#leyka-payment-form .leyka-field.amount-selector .donate_amount_flex {
    border: 2px solid #dfdfdf;
    border-radius: 2px;
    font-family: Helvetica, sans-serif;
    font-size: 28px;
    color: rgba(0, 0, 0, 0.9);
    line-height: 30px;
    text-align: right;
    width: 90px;
    padding: 0.1em;
}

.leyka-tpl-neo#leyka-payment-form .leyka-field.amount-selector .donate_amount_flex:focus {
    border: 2px solid #1db318;
}

.leyka-tpl-neo .leyka-payment-option .leyka-field.agree {
    margin: 18px 0 18px 0;
    position: relative;
}

.leyka-tpl-neo .leyka_agree-error.field-error {
    bottom: 30px;
}
.leyka-tpl-neo .leyka_agree_pd-error.field-error {
    bottom: -17px;
}

.leyka-tpl-neo label.checkbox {
    display: block;
    width: 100%;
    padding-left: 26px;
}

.leyka-tpl-neo input[type="checkbox"] {
    border: medium none;
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 0;
}

.leyka-tpl-neo .leyka-checkbox-label::before {
    background: #fff none repeat scroll 0 0;
    border: 2px solid rgba(0, 0, 0, 0.9);
    border-radius: 2px;
    content: "";
    cursor: pointer;
    display: block;
    height: 16px;
    left: -26px;
    position: absolute;
    top: 1px;
    width: 16px;
}

.leyka-tpl-neo .leyka-checkbox-label {
    display: inline-block;
    font-size: 15px;
    position: relative;
    color: rgba(0, 0, 0, 0.9);
    font-family: Helvetica,sans-serif;
    line-height: 18px;
    text-align: left;
}

.leyka-tpl-neo input[type="checkbox"]:checked ~ .leyka-checkbox-label::before {
    background-color: #1db318;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMTdweCIgaGVpZ2h0PSIxM3B4IiB2aWV3Qm94PSIwIDAgMTcgMTMiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiPiAgICAgICAgPHRpdGxlPlNoYXBlPC90aXRsZT4gICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+ICAgIDxkZWZzPjwvZGVmcz4gICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSI+ICAgICAgICA8cGF0aCBkPSJNMTYuNSwxLjg3OTE0Mjg2IEw1LjUyODU3MTQzLDEyLjg1MDU3MTQgTDAuNSw3LjgyMiBMMS43ODkxNDI4Niw2LjUzMjg1NzE0IEw1LjUyODU3MTQzLDEwLjI2MzE0MjkgTDE1LjIxMDg1NzEsMC41OSBMMTYuNSwxLjg3OTE0Mjg2IEwxNi41LDEuODc5MTQyODYgWiIgaWQ9IlNoYXBlIiBmaWxsPSIjRkZGRkZGIiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIj48L3BhdGg+ICAgIDwvZz48L3N2Zz4=");
    background-repeat: no-repeat;
    background-size: 16px 13px;
    border-color: #1db318;
}


.leyka-tpl-neo #leyka_donation_submit {
display: inline-block;
font-family: "Helvetica Neue", Helvetica Neue, Helvetica, sans-serif;
text-transform: uppercase;
color: #ffffff;
transition: all 0.3s;
padding: 14px 24px;
font-size: 16px;
line-height: 18px;
background: #1db318;
border: 1px solid #1db318;
}

.leyka-tpl-neo #leyka_donation_submit:hover,
.leyka-tpl-neo #leyka_donation_submit:focus,
.leyka-tpl-neo #leyka_donation_submit:active {
background: #f02700;
border-color: #f02700;
color: #ffffff;
}

.leyka-tpl-neo .field-error {
    color: #f02700;
    display: inline-block;
    font-size: 11px;
    padding: 0 2px;
    margin: 0;
    text-transform: none;
    position: absolute;
    bottom: 3px;
}
.leyka-tpl-neo .field-error, .leyka-submit-errors {
    font-family: Helvetica,sans-serif;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.5;
}

.leyka-tpl-neo .leyka_donation_amount-error {
    bottom: -10px;
    margin-left: 30px;
}

.leyka-tpl-neo .leyka-payment-option .submit {
    margin-top: 40px;
}

.leyka-tpl-neo .leyka-pm-icons {
    margin: 0;
}

.leyka-tpl-neo .leyka-pm-icons::after {
clear: both;
content: "";
display: table;
}

.leyka-tpl-neo .leyka-pm-icons li {
    position: relative;
    list-style-type: none;
    float: left;
    width: 52px;
    height: 36px;
    margin: 0 0 0 4px !important;
    padding: 0;
}

.leyka-tpl-neo .leyka-pm-icons li:before {
display: none;
}

.leyka-tpl-neo .leyka-pm-icons li img {
max-width: 100%;
height: auto;
}

.leyka-tpl-neo .leyka-payment-option .leyka-pm-icons {
    float: right;
}

.leyka-pm-desc {
font-family: Helvetica, sans-serif;
color: rgba(0, 0, 0, 0.9);
font-weight: normal;
text-transform: none;
letter-spacing: normal;
line-height: 1.5;
font-size: 12px;
margin: -10px 10px 0 10px;
}

.leyka-tpl-neo .leyka-pm-desc {
  margin: 0 10px;
}

.leyka-tpl-neo .leyka-pm-desc a:visited,
.leyka-tpl-neo .leyka-pm-desc a{
    color: #224883;
}

.leyka-tpl-neo .leyka-pm-desc a:hover,
.leyka-tpl-neo .leyka-pm-desc a:focus,
.leyka-tpl-neo .leyka-pm-desc a:active {
    text-decoration: underline;
}

.leyka-tpl-neo ~ .leyka-form-footer {
    padding: 8px 30px 30px 0;
    text-align: right;
}

.leyka-tpl-neo ~ .leyka-form-footer a, .leyka-tpl-neo ~ .leyka-form-footer a:visited {
    color: #224883;
}

.leyka-tpl-neo ~ .leyka-form-footer a:hover,
.leyka-tpl-neo ~ .leyka-form-footer a:focus,
.leyka-tpl-neo ~ .leyka-form-footer a:active {
    text-decoration: underline;
}

.leyka-tpl-neo ~ .leyka-form-footer p {
    color: rgba(0, 0, 0, 0.9);
}

.leyka-tpl-neo ~ .leyka-form-footer p {
    font-family: Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.9);
    font-weight: normal;
    text-transform: none;
    letter-spacing: normal;
    line-height: 1.5;
    font-size: 12px;
}

.leyka-tpl-neo .leyka-oferta-text-flow p:first-child {
    color: #224883;
    font-family: Cuprum,"Helvetica Neue",Helvetica Neue,Helvetica,sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-transform: none;
}

.leyka-tpl-neo .leyka-oferta-text-flow p {
    margin-bottom: 16px;
}

.leyka-tpl-neo .leyka-oferta-text {
display: none;
box-sizing: border-box;
border-radius: 2px;
width: 90%;
max-width: 760px;
height: calc(100% - 220px);
max-height: 700px;
background-color: #ffffff;
}

.leyka-tpl-neo .leyka-modal-close {
background: #224883;
color: #ffffff;
width: 28px;
height: 28px;
border-radius: 50%;
position: absolute;
top: -16px;
right: -16px;
text-align: center;
cursor: pointer;
}

.leyka-tpl-neo .leyka-modal-close .svg-icon {
width: 12px;
height: 12px;
fill: #ffffff;
pointer-events: none;
margin-top: -1px;
}

.leyka-tpl-neo .leyka-oferta-text-frame {
box-sizing: border-box;
width: 100%;
height: 100%;
padding: 36px;
overflow-y: scroll;
}

.leyka-tpl-neo .leyka-oferta-text-flow {
font-family: Helvetica, sans-serif;
color: rgba(0, 0, 0, 0.9);
font-weight: normal;
font-size: 15px;
line-height: 1.5;
}

@media screen and (max-width: 480px) {
  .leyka-tpl-neo #leyka_donation_submit {
    width: 100%;
  }

  .leyka-tpl-neo .leyka-payment-option .leyka-pm-icons {
    margin-top: 20px;
    float: left;
    width: 100%;
  }
}
