// Presets 

//Color
$color-base-text      : #444;
$color-comment-text   : #666;
$color-base-green     : #1db318;
$color-warning-text   : #aa0000;
$color-field-border   : #ccc;
$color-regular-border : #dfdfdf;
$color-scale-bg       : #f1f1f1;

$color-white      : #fff;
$color-grey-dark  : #aaa;
$color-grey-light : #f9f9f9;

$color-wp-link    : #0073aa;

//Sizes
$size-scale-height : 8px;
$size-font-base    : 13px;

//Text
$font : "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

//Breakpoints
$one   : 600px;
$two   : 800px;
$three : 1100px;


//Mixins
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
	@if $inset {
		-webkit-box-shadow:inset $top $left $blur $color;
		-moz-box-shadow:inset $top $left $blur $color;
		box-shadow:inset $top $left $blur $color;
	} @else {
		-webkit-box-shadow: $top $left $blur $color;
		-moz-box-shadow: $top $left $blur $color;
		box-shadow: $top $left $blur $color;
	}
}

@mixin text-reset {
	text-transform: none;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}


//button
@mixin button($color, $size : 14px) {
	display: inline-block;
	background: $color;
	color: #fff !important;	
	font-size: $size;
	font-family: $font;
	text-transform: uppercase;
	font-weight: normal;
	font-style: normal;	
	text-decoration: none !important;
	padding: 0.4em 1.5em;
	@include transition-all(0.3s);
	@include box-sizing(border-box);
	
	&:visited {
		color:  #fff !important;
	}
	&:hover, &:focus, &:active {
		text-decoration: none;
		background: darken($color, 10%);
	}
	
}

@mixin fixed-button($color, $size : 14px) {
	@include button($color, $size);
	@include border-radius(0px);
	-webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
	box-shadow:  0px 0px 0px 0px rgba(255, 255, 255, 0);
	cursor: pointer;
	border: none;
	margin: 0;	
}

@mixin error-area {
	display: none;
	background: #FFE9E9;
	border: 1px solid #FBC4C4;
	color: #DE5959;
	padding: 2px 10px;
	margin-top: 5px;
	font-size: 12px;
	@include border-radius;
	
	a {
		color: #fc001e;
		&:hover, &:focus, &:active{
			color: #aa363a;
		}
	}
}

@mixin scale($height, $bg, $color) {
	height: $height;
	width: 100%;
	
	.target {
		background: $bg;
		width: 100%;
		height: 100%;
	}
	
	.collected {
		background: $color;
		height: 100%;
	}
}

//ultra compact scale
@mixin scale-ultra($border-color) {
	position: relative;
	border: 1px solid $border-color;
	@include box-sizing(border-box);
	
	.leyka-scale-scale {
		height: 16px;
		
		.target {
			background: #fff;
			width: 100%;
			height: 100%;			
		}
		
		.collected {
			height: 100%;
			background: transparentize($border-color, 0.5);
		}
	}
	
	.leyka-scale-label {		
		position: absolute;
		top: -2px;
		left: 0;
		width: 100%;
		text-align: center;
		height: 14px;	
		
		span {
			//background: rgba(255,255,255, 0.34);			
			font-size: 11px;
			line-height: 14px;
			padding: 0 3px;
			color: #333;	
		}
	}
}

.leyka-scale-ultra {
	@include scale-ultra($color-base-green );	
}

.leyka-scale-ultra-fake {
	@include scale-ultra($color-field-border);	
}




//campaign design
@mixin scale-label {
	@include text-reset;
	margin-top: 5px;
	font-size: $size-font-base;
}

@mixin help-button {
	@include text-reset;
	text-align: right;
	font-size: $size-font-base;
	@include box-sizing(border-box);
	
	a {
		@include button($color-base-green, $size-font-base);		
	}
}

@mixin thumbnail-reset {
	a {
		display: block;
		border: 2px solid transparent;
		@include transition(all 0.3s);
		&:hover, &:focus, &:active {
			border-color: $color-base-green;
		}
	}
	img {
		max-width: 100%;
		height: auto;
		vertical-align: middle;
	}
}

@mixin description-text { //apllied to p
	@include text-reset;
	font-size: $size-font-base;
	line-height: 1.5;
	margin: 0;
	&:nth-of-type(1) {
		margin-top: $scale-padding;
	}
}

@mixin title-reset {
	@include text-reset;
	font-weight: bold;
	font-size: $size-font-base*1.5;
	line-height: 1.3;
	margin: 0;
	clear: none;
	
	a, a:visited {
		text-decoration: none;
		color: darken($color-base-text, 3%);
		&:hover, &:focus, &:active {
			color: $color-base-green ;
			text-decoration: none;
		}
	}
}

@mixin leyka-scale-button-wide-modifier {
	position: relative;
		
	.leyka-scale-compact {
		margin-right: $size-font-base*13;
	}
	
	.leyka-scale-button {
		margin-top: 0;
		width: $size-font-base*12;
		position: absolute;
		right: $scale-padding;
		top: $scale-padding;
	}
}