/*---------------------------------------------------------
 Mixins (_utility.scss)
-------------------------------------------------------- */
@mixin transition-all($time) {
	-webkit-transition: all $time;
	-moz-transition: all $time;
	-ms-transition: all $time;
	-o-transition: all $time;
	transition: all $time;
}


@mixin hidden { //Hide for both screenreaders and browsers
	display: none;
	visibility: hidden; }

@mixin visuallyhidden { //Hide only visually, but have it available for screenreaders
	position : absolute;
	clip : rect(0 0 0 0); 
	overflow : hidden;
	margin: -1px;
	padding : 0;
	height : 1px;      
	width : 1px;
	border : 0; }

@mixin image-replace {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	text-decoration: none;
}

@mixin no-select {
	-webkit-user-select: none;
	   -moz-user-select: none;
	   	-ms-user-select: none;
	   		user-select: none;
}

@mixin border-radius($radius: 3px) {
	-webkit-border-radius: $radius;
		 -moz-border-radius: $radius;
			  border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
	@if $inset {
		-webkit-box-shadow:inset $top $left $blur $color;
		-moz-box-shadow:inset $top $left $blur $color;
		box-shadow:inset $top $left $blur $color;
	} @else {
		-webkit-box-shadow: $top $left $blur $color;
		-moz-box-shadow: $top $left $blur $color;
		box-shadow: $top $left $blur $color;
	}
}

@mixin box-sizing($sizing : border-box) {
	-moz-box-sizing: $sizing;
	-webkit-box-sizing: $sizing;
	box-sizing: $sizing;
}

@mixin for($media) {
	@if $media == small-screens {
		@media screen and (min-width: $one) { @content; }
	}
	@else if $media == medium-screens {
		@media screen and (min-width: $two) { @content; }
	}
	@else if $media == large-screens {
		@media screen and (min-width: $three) { @content; }
	}
}

@mixin smart-margin($margin) {
	margin:{
		top: $margin;
		bottom: $margin;
	}
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

@mixin link-recolor($color, $hover){
	color: $color;
	&:visited {
		color: $color;
	}
	&:hover {
		color: $hover;
	}
}

@mixin break {
	word-break: break-word;
	word-wrap: break-word;
}




.leyka-screen-reader-text {	
	position: absolute !important;
	height: 1px;
	width: 1px; 
	overflow: hidden;	
	clip: rect(1px, 1px, 1px, 1px);
	border: 0 none;
	padding: 0;
}




