/** Admin styles **/
@import 'bourbon';
@import 'utility';
@import 'presets';

#icon-leyka {
	background: transparent url(../img/leyka-icon.png) no-repeat 1px 0;
}


/** Campaign screen **/

.metabox-field {
	margin: 10px 0 20px;
	
	& >label {
		font-weight: bold;
		display: inline-block;
		padding-bottom: 4px;
	}
}

.campaign-field {
	label {
		display: block;
		margin-bottom: 4px;
		small {
			color: #999;
		}
	}
	
	select {
		min-width: 300px;
		display: inline-block;
	}
	
	input[type="text"] {
		display: inline-block;	
		padding: 4px;
	}
}

/* campaign target */
.metabox-field-title {
	text-transform: uppercase;
	color: #666;
	letter-spacing: 1px;
	padding-bottom: 2px;
	border-bottom: 1px solid #eee;
	margin: 28px 0 5px;
}

#target-amount {
	float: left;
	margin-right: 20px;
	width: 200px;
	
	input {
		text-align: right;
	}
}

#collected-amount {
	float: left;	
	width: 200px;
	
	input {
		text-align: right;
		background: #f5f5f5;
	}
}

.d-scale-scale {	
	@include scale(6px, $color-scale-bg , $color-base-green);
}

#d-scale-demo {
	clear: both;
	min-height: 1px;
	margin-bottom: 28px;
	
	.d-scale-scale {
		max-width: 420px;
		height: 10px;
	}
}

/* donations metabox */
#donations-data-table_wrapper {
	margin-top: 20px;
	overflow: hidden;
	
	.dataTables_length {
		font-size: 12px;
		margin-bottom: 20px;
		
		select {
			font-size: 12px;
			line-height: 20px;
			height: 26px;
			padding: 2px 5px;
			margin: 1px 4px;
		}
	}
	
	.dataTables_filter {
		font-size: 12px;
		margin-bottom: 20px;
	}
	
	.dataTables_info {
		color: #999;
		font-size: 12px;
	}
		
	.dataTable {
		margin: 25px 0;
		
		thead, tfoot {
			td {
				border-color: #cacaca;
			}
		}
		
		tr.even {
			background: darken($color-grey-light, 1%);
		}
		
		i.funded {
			color: $color-base-green;
		}
		
		i.failed {
			color: $color-warning-text;
		}
		
		.amount-negative {
			color: red;
		}
	}
	
	.dataTables_paginate {
		font-size: 12px;
		
		.paginate_button {
			padding: 0.2em 0.7em;
			border: 1px solid #cacaca;
			color: #333;
			background: #f9f9f9;
			cursor: pointer;
			&:hover {
				background: #666;
				border-color: #666;
			}
		}
		
		.paginate_button.current,
		.paginate_button.current:hover {
			cursor: default;
			background: #cacaca;
			border-color: #cacaca;
			color: #333;
		}
		
		.paginate_button.previous.disabled,
		.paginate_button.next.disabled ,
		.paginate_button.previous.disabled:hover,
		.paginate_button.next.disabled:hover {
			border-color: #eee;
			color: #999 !important;
			cursor: default;
			background: #fff;
		}
	}
}

//embed metabox
#leyka_campaign_embed {
	
	.embed-block {
		@include clearfix;
		padding-top: 8px;
		h4 {
			margin-top: 0;
			
		}
	}
	
	.leyka-embed-preview {
		margin-left: 330px;
		iframe {
			border: 4px solid $color-regular-border;
			padding: 1px;	
			
		}
	}
	
	.embed-code {
		float: left;
		width: 290px;
	}
	
	.setting-row {
		margin-bottom: 25px;	
	}
		
	textarea {
		width: 100%;
		min-height: 150px;
		margin-top: 5px;
	}
}



/** Campaign table **/
.post-type-leyka_campaign {
	.column-ID {
		width: 4%;
	}
	
	.column-coll_state {
		width: 10%;
	}
	
	tbody {
		.coll_state {
			text-align: center;			
		}
		
		.column-target {
			text-align: center;
		}
	}
	
	.column-target {
		
		.c-reached {
			display: block;
			text-align: right;
			font-size: 0.9em;
			margin-top: 4px;
		}
		time {
			font-weight: bold;		
		}
	}
	
	.collected-plain {
		text-align: right;
	}
	
	.c-closed {
		color: #999;		
	}
	
	.c-opened {
		color: #111;
		font-weight: 500;
	}
}




/** Donation table **/
.post-type-leyka_donation { //table
	.column-ID {
		width: 4%;
	}
	
	.column-amount {
		width: 6%;
	}
	
	.column-title {
		width: 20%;
	}
	
	.column-emails,
	.column-donor {
		width: 12%;
	}
	
	.column-donation_date,
	.column-status {
		width: 8%;
	}
		
	i.funded {
		color: $color-base-green;
	}
	i.failed {
		color: $color-warning-text;
	}
	.amount-negative {
		color: red;
	}
	
	.column-method {
		b {
			color: #111;
			text-transform: uppercase;
			letter-spacing: -0.5px;
		}
		
		small {
			letter-spacing: 1px;
			color: #777;
		}
	}
}


/** Donation page **/
.post-type-leyka_donation #post-body-content {
	margin: 0;
}

$working-width : 700px;

.leyka-set {
	margin: 20px 0 8px;
	
	legend {
		display: block;
		width: 98%;		
		color: #666;
		font-size: 1em;
		letter-spacing: 1px;
		text-transform: uppercase;
		margin-bottom: 0.5em;
		border-bottom: 1px solid #eee;
		padding-bottom: 2px;
	}
	
	.leyka-ddata-string {
		margin: 5px 0;
		@include clearfix;
	}
	
	label {
		font-weight: bold;
		float: left;
		width: 20%;
		text-align: right;
		line-height: 27px;
	}
	
	.leyka-ddata-field {
		float: left;
		width: 78%;
		margin-left: 2%;
		
		input {
			width: 98%;
			max-width: $working-width;
		}
		.fake-input {
			display: inline-block;
			@include box-sizing(border-box);			
			width: 98%;
			max-width: $working-width;
			border: 1px solid #ddd;
			padding: 3px 5px;
			line-height: 20px;
			min-height: 27px;
		}
		
		.text-line {
			display: inline-block;
			@include box-sizing(border-box);			
			width: 98%;
			max-width: $working-width;
			border-bottom: 1px dashed #ddd;			
			padding: 3px 5px;
			line-height: 20px;
			min-height: 27px;
		}
		
		.field-help {
			display: inline-block;
			padding: 2px 0 0 4px;			
		}
				
		.campaign-actions {
			margin-left: 20px;
			a {
				text-transform: uppercase;
				font-size: 10px;
				margin-right: 5px;
			}
		}
		
		
		#donation-amount {
			max-width: 320px;
		}
		
		#new-donation-amount {
			max-width: 320px;
		}
		
		#custom-payment-info {
			margin-top: 10px;
		}
	}
	
	.field-error {
		@include error-area;
	}
	
	.set-action {
		margin: 15px 0 15px 22%;
		#campaign-select {
			width: 70%;
			max-width: $working-width;
		}
	}
	
}

#leyka_donation_emails_status {
	.leyka-ddata-string {
		margin: 7px 0;		
	}
}


.leyka-no-donor-thanks,
.no-thanks.donor {
	color: #AA0000; }

.send-donor-thanks {
    display: inline;
    cursor: pointer;
    font-weight: bold;
	&:hover {
		color: #ff0000; 
	}
}

/* datepicker */
#ui-datepicker-div {
	background: $color-white;
	border: 4px solid $color-regular-border;	
	@include box-shadow(1px, 1px, 3px, rgba(10,10,10, 0.65));
	
	table {		
		font-size: 12px;
		border-collapse: collapse;
		
		thead th {
			background: $color-grey-light;
			text-align: center;
			span {
				padding: 4px 0;
			}
		}
		
		tbody td {
			text-align: right;
			border: 1px solid $color-regular-border;
			&:hover {
				background: #f5f5f5;
			}
		}
				
		a {
			text-decoration: none !important;
			display: inline-block;
			padding: 4px 8px;
			background: transparent;
			&, &:visited, &:hover {
				color: #333;
			}
		}
		
		tbody td.ui-datepicker-current-day,
		tbody td.ui-datepicker-current-day:hover {
			background: #eaf9ff;
			font-weight: bold;
			a {
				color: #0074a2;
			}
		}
	}
	
	.ui-datepicker-header {
		padding: 4px 0;
		position: relative;
		
		.ui-datepicker-prev,
		.ui-datepicker-next {
			font-size: 12px;
			line-height: 28px;
			cursor: pointer;
			width: 38px;			
			letter-spacing: -0.5px;
			position: absolute;			
			top: 4px;
		}
		
		.ui-datepicker-prev {
			text-align: right;
			left: 0;
		}
		
		.ui-datepicker-next {
			text-align: left;
			right: 0;
		}
		
		.ui-datepicker-title {
			@include box-sizing(border-box);		
			width: 100%;
			text-align: center;
			padding: 0 38px;
		}
	}
}

/* sidebar */
.leyka-status-section {
	padding: 10px 0;
}

.leyka-status-section.select {
	text-align: right;
	
	label {
		display: inline-block;	
		width: 20%;
		text-align: left;
	}
	
	select {
		width: 77%;
		text-align: left;
	}
}

.leyka-status-section.actions {
	overflow: hidden;
	background: #f5f5f5;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin: 0 -12px;
	padding: 5px 12px;
	
	div {
		float: left;
		width: 50%;
		padding: 5px 0;
	}
	
	.delete-action {
		text-align: left;
		line-height: 30px;
		a {
			color: #AA0000;
			&:hover {
				color: #ff0000;
			}
		}
	}
	
	.save-action {
		text-align: right; 
		height: 30px;
	}
}


#donation-status-log-toggle {
	text-align: right;
	padding: 5px 0;
	color: #0074A2;
	text-decoration: underline;
	cursor: pointer;
	font-size: 11px;
	&:hover {
		color: #2ea2cc;
	}
}

#donation-status-log {
	font-size: 12px;
}

/**  add donation **/


/** Options **/
.leyka-options-section {
	margin: 40px 0 30px;	
}

#leyka-settings-form div[id *=wrapper] {
	margin: 15px 0;
	
	label[for *="field"]{
		display: block;
	}
	
	.field-component {
		display: block;
		padding: 2px 0;		
	}
	
	.field-component.title {
		font-weight: bold;
	}
	
	.field-component.help {
		font-size: 95%;
		font-style: italic;
		color: #666;
		padding-left: 4px;
	}
	
	
	.required {
		display: none;
	}
	
	.wp-editor-container,
	.field-component.field {
		max-width: 900px;
	}
	
	input[type="text"],
	textarea {
		width: 100%;
	}
}


#donation-status-log-toggle {
    cursor: pointer; }

.leyka-options-section .placeholders-help {
	font-style: normal;	
	display: block;
	padding-top: 4px;
	line-height: 1.8;}

.placeholders-help code {
	color: #333;
	font-size: 12px; }

.wp-editor-wrap + .field-component.help {
	padding-top: 4px;
}
	
.wp-editor-wrap + .help {
	max-width: 900px;
}


/** old */



/* Dashboard */
#leyka-widgets #postbox-container-1 {
	width: 65%;}

#leyka-widgets #postbox-container-2 {
	float: right;
	width: 34%;}

#dashboard-widgets .meta-box-sortables {
	margin: 0 8px; }

#leyka-card {
	max-width: 280px; }

#leyka-card h2 {
	position: relative;
	padding-left: 42px; }
	
#leyka-card h2 i{
	display: block;
	width: 32px;
	height: 32px;
	background: transparent url(../img/leyka-icon.png) no-repeat 0 2px;
	background-image: url(../img/leyka-icon.svg);
	position: absolute;
	top: 5px;
	left: 0; }

#leyka-card .te-st {
	margin-bottom: 30px; }


.leyka-widget-table {
	width: 100%;
	border-collapse: collapse; }
	
.leyka-widget-table th {
	text-align: left;
	padding: 3px;
	background: #f9f9f9;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee; }

.leyka-widget-table td {
	padding: 3px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee; }

.leyka-widget-table .date {
	width: 10%;
}
.leyka-widget-table .details {
	width: 7%; }

.leyka-widget-table .type {
	width: 30%; }

.leyka-widget-table .amount {
	width: 10%; }
	
// feedback form
.leyka-feedback-form {
	margin-top: 60px;
	max-width: 700px;
	
	.leyka-ff-field {
		margin: 30px 0;
		label {
			font-family: "Open Sans",sans-serif;
			font-size: 14px;
			display: block;
			font-weight: bold;
			padding-bottom: 2px;
		}
		
		textarea {
			height: 16em;
		}
	}
	
	.regular-text {
		width: 100%;
		background-color: #fff;
		border: 1px solid #ddd;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
		color: #333;
		outline: 0 none;
		@include transition(border-color 0.05s ease-in-out);
		&:focus, &:active {
			border-color: #5b9dd9;
			box-shadow: 0px 0px 2px rgba(30,140,190,0.8);
		}
	}
	
	.leyka-ff-field-error {
		border: 1px solid #dd3d36;
		color: #dd3d36;
		background: #fff;
		padding: 4px 8px;
		margin-top: 3px;
		border-radius: 3px;
	}
}

.leyka-ff-msg {	
	font-size: 14px;
	background: none repeat scroll 0 0 #fff;
    border-left: 4px solid #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    margin: 30px 0 2px;
    padding: 1px 12px;	
	
	p {
		margin: 0;
		padding: 15px;
	}
	
	&.ok {
		border-left-color: #7ad03a;		
	}
	
	&.wrong {
		border-left-color: #dd3d36;		
	}
}
	
.leyka-guide-table {
	
	td {
		font-size: 14px;
		padding: 0.4em 0.5em;
	}
	
	.step {
		font-weight: 600;
	}
	
	.action {
		font-size: 13px;
		padding-left: 2em;
	}
	.action.complete {
		span {
			display: inline-block;
			border-radius: 3px;
			background: $color-base-green;
			color: $color-white;
			padding: 0.1em 0.95em;
		}
	}
	.docs a {
		text-decoration: none;
		span { font-size: 24px; }
	}
	
}