/** Frontend styles **/
@import 'bourbon';
@import 'utility';
@import 'presets';
@import 'form';
@import 'campaign';
@import 'tickers';

/** Elements **/
//branding
#leyka-copy {
	margin-top: 5px;
	position: relative;
	text-align: right;
	font-size: 11px;
	line-height: 18px;
	padding: 4px 30px 4px 4px;
	border: 1px solid lighten($color-base-green, 48%);
	background: lighten($color-base-green, 58%);		
	&:after {
		content: '';
		display: block;
		background: transparent url(../img/menu-icon.png) no-repeat 0 0;
		width: 18px;
		height: 18px;
		position: absolute;
		right: 5px;
		top: 5px; 
	}
}

//Modal
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.leyka-oferta-text {
	display: none;
	width: 640px;
	height: 500px;
	padding: 25px 30px;		
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; 
	background: $color-white;
	-webkit-box-shadow:  1px 1px 3px 1px rgba(200, 200, 200, 0.7);
	box-shadow:  1px 1px 3px 1px rgba(20, 20, 20, 0.7);

	.leyka-modal-close {
		display: block;
		position: absolute;
		top: -7px;
		right: -7px;
		border: 1px solid $color-grey-dark;
		background: $color-grey-dark;
		color: $color-white;
		font-weight: bold;
		text-align: center;
		width: 21px;
		height: 21px;		
		border: 1px solid $color-white;		
		@include border-radius(50%);
		@include box-shadow(1px, 1px, 3px, rgba(50, 50, 50, 0.7));		
		cursor: pointer;
		&:hover {
			background: $color-base-green;
		}
	}
	
	.leyka-oferta-text-frame {
		width: 100%;
		height: 100%;
		overflow-y: scroll;
	}
	
	.leyka-oferta-text-flow {
		font-size: 13px;
		line-height: 1.35;
		padding-left: 5px;
		padding-right: 20px;
		
		p {
			margin: 1.35em 0;
		}
	}
}

#leyka-payment-form .leyka-oferta-text-flow p {
	margin: 1.35em 0;
}






