<div id="card-check-tools">
    <input type="button" id="card-check-print" name="card-check-print" value="#SAVE_TEXT#" class="button" onclick="printCardCheck()">
    <input type="button" id="card-check-send" name="card-check-send" value="#SEND_TEXT#" class="button" onclick="sendCardCheck('#DONATION_ID#')">
    <div class="leyka-pf__overlay"></div>
    <div class="leyka-pf__notice">
        <div class="notice__frame">
            <div class="notice__flow">
                <div>#CARD_CHECK_SENT_TEXT#</div>
            </div>
        </div>
        <input type="button" class="notice__close button" onclick="noticeClose()" value="#OK_TEXT#" />
    </div>
</div>