/** Campaigns list page **/
.leyka-admin-default {

    // Table filters:
    //.leyka-admin-list-filter-wrapper .ui-autocomplete-multiselect { // Autocomplete - Donors filter specifics
    //    margin-right: $leyka-base;
    //    padding-left: 8px;
    //}
    // Table filters - END

    // List table (columns & content):
    .wp-list-table.widefat {

        // Columns width:
        tr {

            //.column-id {
            //    width: 80px;
            //}

        }
        // Columns width - END

        // Columns content settings:
        td {

            &.column-target {

                .leyka-scale-ultra {

                    position: relative;
                    border: 1px solid #1db318;
                    box-sizing: border-box;

                    .leyka-scale-scale {

                        height: 16px;

                        .target {
                            background: #fff;
                            width: 100%;
                            height: 100%;
                        }

                        .collected {
                            height: 100%;
                            background: rgba(29, 179, 24, 0.5);
                        }

                    }

                }

                .leyka-scale-ultra-fake {

                    position: relative;
                    border: 1px solid #ccc;
                    box-sizing: border-box;

                    .leyka-scale-scale {

                        height: 16px;

                        .target {
                            background: #fff;
                            width: 100%;
                            height: 100%;
                        }

                        .collected {
                            height: 100%;
                            background: rgba(204, 204, 204, 0.5);
                        }

                    }

                }

                .leyka-scale-label {

                    position: absolute;
                    top: -2px;
                    left: 0;
                    width: 100%;
                    text-align: center;
                    height: 14px;

                    span {
                        font-size: 11px;
                        line-height: 14px;
                        padding: 0 3px;
                        color: #333;
                    }

                }

            }

            &.column-shortcode {
                input.campaign-shortcode {
                    width: 100%;
                }
            }

        }
        // Columns content settings - END

    }
    // List table (columns & content) END

}
