.postbox {

    h2 span {
        font-size: 15px;
        color: $color-metabox-title;
    }

    .leyka-settings-page { // // For custom metaboxes with Leyka admin styling, like Campaign additional fields
        margin: 0;
    }

    .campaign-additional-fields-wrapper {

        max-width: 643px;

        &.leyka-options-section { // For custom metaboxes with Leyka admin styling, like Campaign additional fields
            margin-bottom: 0;
        }

        p {
            margin-top: 0;
        }

    }

    .inside { // Metaboxes content

        p:first-child { // If there is some comment on top of a metabox content
            margin-top: 0;
        }

        .metabox-field {

            &:first-child {
                margin-top: -4px;
            }

            &.without-title {
                margin: 15px 0;
            }

            h3.field-title {
                font-size: 13px;
                line-height: 16px;
                margin-bottom: 8px;
                font-family: $font-body;
                color: $color-metabox-title;
                font-weight: 500;
            }

            .field-wrapper {

                &.flex {
                    display: flex;
                    align-items: center;
                }

                .field-label {
                    display: block;
                    margin-bottom: 8px;
                }

                &.daily-rouble-settings-wrapper {

                    display: flex;
                    flex-flow: column nowrap;
                    align-items: flex-start;
                    margin-top: 13px;

                    .daily-rouble-settings {

                        display: flex;
                        flex-flow: column nowrap;
                        align-items: flex-start;

                        background-color: $color-border-light-001;
                        margin-top: 16px;
                        padding: 16px;

                        .flex {

                            flex-direction: column;
                            align-items: flex-start;
                            margin-bottom: 13px;

                            &:last-child {
                                margin-bottom: 0;
                            }

                        }

                        h3 {
                            margin-top: 0;
                        }

                    }

                }

            }

            .upload-photo-complex-field-wrapper {
                &.margin-top {
                    margin-top: 24px;
                }
                
                .set-page-img-control {
                    display: flex;
                    align-items: center;
                    margin-bottom: 8px;
                    
                    .reset-to-default {
                        content: "";
                        margin-left: 16px;
                        background-image: url(../../img/icon-delete-circled.svg);
                        background-size: cover;
                        width: 24px;
                        height: 24px;
                        display: inline-block;
                    }
                    
                    .img-value {
                        margin-left: 16px;
                    }
                }
                
            }

        }

        .info-field {

            padding: 12px 16px 10px 16px;
            margin-top: 24px;
            background-color: $color-background-lightblue1;

            font-size: 12px;
            line-height: 16px;

            h3 {
                margin: 0;
            }

            ul {

                margin: 6px 0 0 0;
                color: $color-wizard-link;
                list-style: none;

                li:before {
                    content: '—';
                    display: inline-block;
                    padding-right: 4px;
                }

                a {
                    text-decoration: none;
                }

            }

        }

        .upload-photo-field {

            .field {

                display: block;
                position: relative;

                input[type="file"] {
                    display: block;
                    height: 40px;
                    width: 248px;
                    outline: none;
                }

                .upload-photo {

                    @include wizard-button-caption();

                    height: 40px;
                    width: 248px;

                    position: absolute;
                    top: 0;
                    left: 0;
                    outline: none;

                    background-color: $color-border-light-001;
                    border: 1px dashed $color-wizard-link-sec;
                    color: $color-wizard-text;
                    font-size: 13px;

                }

            }

            .upload-field-description {

                margin-left: 22px;

                color: $color-wizard-link-sec;
                font-size: 10px;
                font-weight: 500;

            }

        }

        #campaign-form-template-field {
            margin-right: 8px;
        }

        /** @todo Made it a mixin, mb? */
        .form-template-demo {
            display: inline-block;
            cursor: pointer;
            width: 24px;
            height: 24px;
            background-image: url(../../img/icon-screen-demo.svg);
        }

        .css-editor {
            @include leyka-code-editor();
        }

        .field-q {
            @include field-q();
            border-radius: 5px;

            img {
                background-color: $color-white;
            }
        }

        @include leyka-loading-indicator();

        label[for="hide-cover-type-image"] {
            margin-right: 32px;
        }

        // Additional donation fields settings:
        .leyka-campaign-additional-fields-wrapper .multi-valued-item-box {

            &:hover {

                border: 2px solid #78b6d5;
                //margin-bottom: 14px;

                .item-box-title {
                    margin: 7px 15px !important;
                }
                //
                .box-content {

                    padding: 0 9px 9px 9px;

                    //.notes-and-errors li {
                    //    margin-top: 15px;
                    //}

                }

            }

        }
        // Additional donation fields settings - END

    }

}