
// typo
.step-title {
    h1 {
        @include wizard-h2();
        margin-top: 41px;
        margin-bottom: 8px;
        
        &.greater {
            @include wizard-h1();
            margin-top: 49px;
            margin-bottom: 18px;
        }
    }
}
        
p {
    @include wizard-text();
    margin-top: 0;
    margin-bottom: 1rem;
}

p:empty {
    display: none;
}

ul {
    
    margin-top: 0;
    margin-bottom: 32px;
    
    li {
        list-style-type: disc;
        margin-left: 18px;
        font-size: 14px;
        line-height: 21px;
        margin-top: 14px;
    }
    
}

h1 {
    @include wizard-h1();
    margin-bottom: 18px;
}

h2 {
    @include wizard-h2();
    margin-bottom: 8px;
}

h3 {
    @include wizard-h3();
    margin-bottom: 8px;
}

h4 {
    @include wizard-h4();
    margin-bottom: 8px;
}

.button-primary {
    @include wizard-button-caption();
    height: 40px;
    width: 248px;
    margin-right: 22px;
}

.button-secondary {
    @include wizard-button-caption();
    height: 40px;
    margin-right: 22px;
    min-width: 248px;
    font-weight: 500;
    background-color: white;
}
    
a {
    color: $color-wizard-link;
    text-decoration: none;
    border-bottom: none;
    padding-bottom: 2px;
    border-bottom: 1px solid $color-wizard-link;
    
    &:hover {
        color: $color-wizard-link-hover;
    }
    
    &:focus, &:active {
        color: $color-wizard-link-active;
    }
}

.button-primary {
    @include wizard-button-caption();
    height: 40px;
    line-height: 40px;
    width: 248px;
    margin-right: 22px;
    color: $color-white;
    display: inline-block;
    text-align: center;
}

a[href="#"] {
    border-bottom: 1px dashed $color-wizard-link;
}

a.inline {
    margin-right: 1rem;
}

a.link-sec {
    color: $color-wizard-link-sec;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid $color-wizard-link-sec;
    
    &:hover {
        color: $color-wizard-link-sec-hover;
        text-decoration: none;
    }
    
    &:focus, &:active {
        color: $color-wizard-link-sec-active;
    }
}


// forms