/** == Settings and variables (_common_leyka_presets.scss)  == **/

$leyka-admin-color-text:          #44444A;

$leyka-admin-color-link:          #0085BA;
$leyka-admin-color-link-active:   #565656;

$leyka-admin-color-btn-text:      $color-white;
$leyka-admin-color-btn-bg:        #0085BA;
$leyka-admin-color-btn-stroke:    #006799;

