// Settings fields:
.settings-block {

    max-width: 750px;

    &.option-block {

        &.type-rich_html {
            @include leyka-rich-html();
        }

        &.type-colorpicker {

            .help {
                margin: 6px 0;
                font-size: 10px;
            }

            .wp-picker-open + .wp-picker-input-wrap {
                display: flex;
            }

            .wp-picker-input-wrap {

                .wp-color-picker {
                    max-width: 75px;
                }
                .wp-picker-default {
                    height: 28px;
                    margin-left: 0;
                }

            }

            .wp-color-result {

                border-radius: 2px;
                border: 1px solid $color-border-semilight;

                .wp-color-result-text {
                    background-color: $color-white;
                }

            }

        }

        &.type-file {

            .upload-field {

                display: flex;

                .field input[type="file"] { // Hide the input

                    display: block;
                    height: 0.1px;
                    width: 0.1px;

                    position: absolute;
                    opacity: 0;
                    overflow: hidden;
                    z-index: -1000;

                }

                .upload-picture { // File upload button/label

                    @include wizard-button-caption();

                    flex: 250px 0 0;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    height: 40px;
                    width: auto;

                    padding: 0 24px;
                    margin-right: 24px;

                    border: 1px dashed $color-wizard-link-sec;
                    background-color: $color-border-light-001;

                    color: $color-wizard-text;
                    font-size: 13px;
                    font-weight: normal;

                }

                .help { // File upload description

                    flex: 100% 1 1;
                    margin: 0;

                    display: flex !important;
                    align-items: center !important;

                    font-size: 10px !important;

                }

            }

            .preview-wrapper {

                display: flex;

                .uploaded-file-preview {

                    display: flex;
                    align-items: center;

                    margin-bottom: 4px;

                    .file-preview {

                        display: flex;
                        margin-left: 16px;

                        img {
                            height: 100px;
                        }

                    }

                    .delete-uploaded-file {
                        content: '';
                        margin-left: 16px;
                        background-image: url(../../img/icon-delete-circled.svg);
                        background-size: cover;
                        width: 24px;
                        height: 24px;
                        display: inline-block;
                        border-bottom: 0;
                    }

                }

            }

            //.loading-indicator-wrap {
            //    margin-left: 16px;
            //
            //    .loader-wrap {
            //        padding-top: 0;
            //    }
            //}

        } // File fields - END

        // Campaign select comboboxes:
        &.type-campaign_select { /** @todo All the following taken from _donors.scss, Donors list filters styles. Refactor both places to use a single styles sttings (from here). */

            select {
                display: none;
            }

            .leyka-selector {
                &.working {
                    border: 2px solid red;
                }
            }

            //.ui-autocomplete-multiselect {
            //
            //    @include leyka-donors-filter-selector(); /** @todo This mixin should be somewhere near, not in donors-mixins */
            //
            //    display: inline-block;
            //    width: 176px !important;
            //    height: auto;
            //    min-height: 32px;
            //
            //    .placeholder {
            //        margin-top: 6px;
            //        margin-left: 5px;
            //    }
            //
            //    &.ui-state-default {
            //        background: $color-white;
            //        padding: 3px 3px;
            //        padding-bottom: 0;
            //        overflow: hidden;
            //        cursor: text;
            //
            //        input.ui-autocomplete-input {
            //            display: none;
            //        }
            //    }
            //
            //    &.ui-state-active {
            //        outline: none;
            //
            //        input.ui-autocomplete-input {
            //            display: block !important;
            //        }
            //
            //        .placeholder {
            //            display: none;
            //        }
            //    }
            //
            //    .ui-autocomplete-multiselect-item {
            //        display: inline-block;
            //        border: 1px solid #ccc;
            //        border-radius: 4px;
            //        padding: 1px 24px 1px 3px;
            //        margin-right: 2px;
            //        margin-bottom: 3px;
            //        color: #333;
            //        background-color: #f6f6f6;
            //
            //        overflow: hidden;
            //        max-width: 136px;
            //        width: auto;
            //        text-overflow: ellipsis;
            //        max-height: 36px;
            //        line-height: 18px;
            //        position: relative;
            //
            //        .ui-icon {
            //            position: absolute;
            //            right: 3px;
            //            top: 2px;
            //            cursor: pointer;
            //        }
            //    }
            //
            //    input.ui-autocomplete-input {
            //        display: block;
            //        border: none;
            //        outline: none;
            //        height: auto;
            //        margin: 2px;
            //        overflow: visible;
            //        margin-bottom: 5px;
            //        text-align: left;
            //        box-shadow: none;
            //        width: 100%;
            //    }
            //
            //}

        } // Campaign select comboboxes - END

    } // Option blocks - END

    &.container-block {
        display: flex;
        justify-content: space-between;
    }

    .css-editor {
        @include leyka-code-editor();
    }

}

.fields .field {
    margin-bottom: 16px;
}

.field-errors /*span*/ {

    @include wizard-field-message();

    margin: 4px 0;
    color: $color-wizard-error-message;

} // Settings fields - END