// Settings fields:
.settings-block {

    max-width: 750px;

    /** @todo Remove when Extensions options will fully support settings containers */
    .leyka-option-field-width-half { // Very little cases overall (e.g., in the GDS Exension option).
        .field-component.field {
            display: inline-block;
            min-width: 45%;
            max-width: 50%;
        }
    }

    &.option-block {

        &.type-rich_html {
            @include leyka-rich-html();
        }

        &.type-colorpicker {

            .help {
                margin: 6px 0;
                font-size: 10px;
            }

            .wp-picker-open + .wp-picker-input-wrap {
                display: flex;
            }

            .wp-picker-input-wrap {

                .wp-color-picker {
                    max-width: 75px;
                }
                .wp-picker-default {
                    height: 28px;
                    margin-left: 0;
                }

            }

            .wp-color-result {

                border-radius: 2px;
                border: 1px solid $color-border-semilight;

                .wp-color-result-text {
                    background-color: $color-white;
                }

            }

        }

        &.type-file {

            .leyka-file-field-wrapper {
                height: 100%;
            }

            .upload-field {

                display: flex;
                //height: 100%;

                .field input[type="file"] { // Hide the input

                    display: block;
                    height: 0.1px;
                    width: 0.1px;

                    position: absolute;
                    opacity: 0;
                    overflow: hidden;
                    z-index: -1000;

                }

                .upload-picture { // File upload button/label

                    @include wizard-button-caption();

                    flex: 250px 1 0;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    //height: 40px;
                    height: auto;
                    width: auto;

                    padding: 0 24px;

                    border: 1px dashed $color-wizard-link-sec;
                    background-color: $color-border-light-001;

                    color: $color-wizard-text;
                    font-size: 13px;
                    font-weight: normal;

                }

                .help { // File upload description

                    flex: 100% 1 1;
                    margin: 0 0 0 24px;

                    display: flex !important;
                    align-items: center !important;

                    font-size: 10px !important;

                }

            }

            .preview-wrapper {

                display: flex;

                .uploaded-file-preview {

                    display: flex;
                    align-items: center;

                    margin-bottom: 4px;

                    .file-preview {

                        display: flex;
                        margin-left: 16px;

                        img {
                            height: 100px;
                        }

                    }

                    .delete-uploaded-file {
                        content: '';
                        margin-left: 16px;
                        background-image: url(../../img/icon-delete-circled.svg);
                        background-size: cover;
                        width: 24px;
                        height: 24px;
                        display: inline-block;
                        border-bottom: 0;
                    }

                }

            }

            //.loading-indicator-wrap {
            //    margin-left: 16px;
            //
            //    .loader-wrap {
            //        padding-top: 0;
            //    }
            //}

        } // File fields - END

        // Campaign select comboboxes:
        &.type-campaign_select { /** @todo All the following taken from _donors.scss, Donors list filters styles. Refactor both places to use a single styles sttings (from here). */

            select {
                display: none;
            }

            .leyka-selector {
                &.working {
                    border: 2px solid red;
                }
            }

        } // Campaign select comboboxes - END

        &.type-multi_select { // Simple select[multiple] fields

            @include leyka-field-miltiselect-simple();

        }

    } // Option blocks - END

    &.container-block {
        display: flex;
        justify-content: space-between;
    }

    .css-editor {
        @include leyka-code-editor();
    }

}

// Selectmenu fields:
.ui-selectmenu-button {

    @include leyka-admin-list-filter-selector();

    background-image: none;
    border-radius: 0;
    box-sizing: border-box;
    border: none;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4);
    width: 176px !important;
    height: 32px;
    display: inline-block;
    color: $leyka-admin-color-text;
    overflow: unset;
    padding: 3px 5px 3px 8px;

    .ui-icon.ui-icon-triangle-1-s {
        display: none;
    }

    .ui-selectmenu-text {

        @include leyka-admin-list-text();

        display: block;
        overflow: unset;
        padding-left: 0;

    }

}

.ui-selectmenu-menu {
    ul.ui-menu.ui-widget-content  {

        border-radius: 0;

        li.ui-menu-item {

            @include leyka-admin-list-text();

            &.ui-state-focus {
                background-image: none;
                background-color: $leyka-admin-color-link;
                color: $color-white;
                border: 1px solid $leyka-admin-color-link;
            }
        }

    }
}
// Selectmenu fields - END

.ui-autocomplete-multiselect {

    @include leyka-field-multiselect();

    &~ select.autocomplete-select { // Hide select fields for multiselect Campaign autocomplete fields
        display: none;
    }

}

// Datepicker fields:
.leyka-donation-date-filter-wrapper {

    position: relative;

    &:after { // Datepicker icon

        @include leyka-colored-icon('../../img/icon-datepicker.svg', 16px, $color-text-light);
        content: '';
        display: inline-block;
        position: absolute;
        top: 8px;
        right: 8px;
    }

    input {
        padding-top: 3px; // Input value vertical aligning
    }

}
// Datepicker fields - END

.fields .field {
    margin-bottom: 16px;
}

.field-errors {

    @include wizard-field-message();

    margin: 4px 0;
    color: $color-error-message;

}

/** @todo Remove this when all postboxes are converted into metaboxes (as metaboxes styling already has this class). */
.leyka-field-wide {
    width: 100%;
}

// Common multi-valued items fields settings:
.multi-valued-items-field-wrapper {

    .multi-valued-item-box {

        //@include leyka-metabox-styling();

        border: 1px solid $color-border-semilight;
        border-radius: 6px;
        background-color: $color-metaboxes-background-dark;
        //box-shadow: 0 2px 2px $color-border-semilight;

        color: $leyka-admin-color-text;

        margin-bottom: 16px;

        h3.item-box-title {

            display: flex;
            justify-content: flex-start;
            align-items: center;

            border: 0;

            padding: 0 !important;
            margin: 8px 16px !important;

            cursor: pointer;
            color: $color-metabox-title;


            font-size: 16px;
            font-weight: 500;
            line-height: 24px;

            .title {
                flex: 1 1 100%;
                font-size: 13px;
                line-height: 16px;
                font-weight: 400;
            }

            .draggable {
                background-image: url(../../img/icon-metabox-draggable.svg) !important;
                pointer-events: all;
                cursor: grab;
                width: 8px;
                height: 14px;
                margin-right: 10px;
            }

        }

        .box-content {

            padding: 0 10px 10px 10px;
            margin-bottom: 0;

            .single-line {

                display: flex;
                flex-flow: row nowrap;

                margin-bottom: 10px;

                .option-block {

                    flex: 100% 1 1;
                    margin-bottom: 0;

                    &.type-multiselect {

                        flex: 100% 1 1;

                        .ui-autocomplete-multiselect {

                            width: 100% !important;
                            padding-bottom: 2px;
                            box-shadow: none;
                            border: 1px solid $color-border-semilight;
                            border-radius: 4px;

                            .ui-autocomplete-multiselect-item {
                                max-width: 100% !important;
                            }

                        }

                    }

                    &:not(:first-child) {
                        margin-left: 10px;
                    }

                    input,select,textarea {

                        border: 1px solid #828991; /** @todo Check with @nylebedev if this color is for ALL Leyka inputs or just this ones */

                        //&:focus {
                        //    border: 2px solid #D43C57; /** @todo It's for invalid fields, not for focused ones */
                        //    box-shadow: none;
                        //    padding: 0 5px 2px 5px;
                        //}

                    }

                }

                &.campaigns-list-select {
                    margin-bottom: 0;
                }

            }

        }

        &.closed {

            .box-content {
                display: none;
            }

            h3.item-box-title:hover:after { // Restyled metabox/portlet open/close handle

                content: ' ';
                display: inline-block;
                pointer-events: all;
                width: 14px;
                height: 13px;
                margin-left: auto; // Align the open/close control to the right

                @include leyka-colored-icon('../../img/icon-edit.svg', 15px, $color-border-semidark);

            }

        }

        .box-footer {

            padding: 10px 10px 0 10px;
            margin: 10px -10px 0 -10px;
            border-top: 1px solid $color-border-semilight;
            line-height: 13px;

            .delete-item {
                text-align: right;
                cursor: pointer;
                color: $color-error-message;
            }

        }

    }

    .add-item {

        padding-bottom: 16px;

        cursor: pointer;
        color: $color-wizard-link-active;

        &:before {
            display: inline-block;
            content: '+';
            margin-right: 4px;
        }

    }

}
// Common multi-valued item fields settings - END

// Additional fields settings:
.multi-valued-items-field-wrapper.additional-fields-settings {

    max-width: 100% !important;

    .box-content {

        .notes-and-errors {

            margin: 0;
            text-align: left;

            li {

                list-style: none;
                margin: 0;

                line-height: 12px;
                font-size: 10px;

                &:not(:last-child) {
                    margin-bottom: 8px;
                }

                &:before {
                    content: '';
                    display: inline-block;
                    margin-right: 4px;
                    @include leyka-colored-icon('../../img/icon-info.svg', 8px, $leyka-admin-color-link);
                }

                &.error {

                    color: $color-error-message;

                    &:before {
                        background-color: $color-error-message;
                    }

                }

                //&.phone-field-note {
                //    display: none;
                //}

            }

        }

    }

}
// Additional fields settings - END

// Settings fields - END