// dashboard footer
.leyka-dashboard-footer {
	margin-top: 2 * $leyka-base;
	margin-left: 12px;
	
	&.leyka-wizard-footer {
	   margin-top: $leyka-base;
	   margin-bottom: $leyka-base;
	   margin-left: 12px;
	}
	
	&.leyka-settings-footer {
	   margin-left: 72px;
	   margin-bottom: -20px;
	}
}

.leyka-admin-wizard {

    .leyka-wizard {
        .leyka-admin-footer {
            margin-left: 0px;
            
			position: absolute;
			bottom: 22px;
            
            .links a, 
            a.te-st-logo {
	            text-decoration: none;
	            border-bottom: none;
	            
	            &:hover, &:active, &:focus {
	                border-bottom: none;
	                text-decoration: underline;
	            }
            }
        }
    }

    #wpbody-content > .leyka-admin-footer {
	   display: none;
    }
}

// admin footer
.leyka-admin-footer {
	display: flex;
	align-items: flex-start;
	
	.te-st-logo {
       margin-right: 1.5 * $leyka-base;
       
	   img {
	       width: auto;
	       height: auto;
	   }
	}
	
    .links {
        @include wizard-text();	
        font-size: 12px;
        line-height: 14px;
        padding-top: 9px;
        display: flex;
        align-items: flex-end;
        
        a {
            text-decoration: none;
            border-bottom: none;
            
            &:hover, &:active, &:focus {
	            border-bottom: none;
	            text-decoration: underline;
            }
        }
       
        .te-st-link {
            line-height: 14px;
            margin-right: 24px;
            
            span {
                font-weight: 500;
                
                display: block;
                color: $color-wizard-text;
	       }
	       
	       a {
	           font-weight: 500;
	           text-decoration: none;
	           color: $color-wizard-link-active;
	       }
        }
	   
        .info-links {
           margin-top: 0.5 * $leyka-base;
           
	       a {
                font-weight: 500;
                text-decoration: none;	           
                line-height: 12px;
                color: $color-wizard-link-active; 
	            
	            margin-right: 0.25 * $leyka-base;
	            
                &:after {
                    content: " ";
                    border-right: 1px solid $color-wizard-link-sec-hover;
                    display: inline-block;
                    width: 1px;
                    height: 9px;
                    margin-bottom: 0px;
                    padding-left: 0.5 * $leyka-base;
                }
	            
                &:last-of-type {
	                margin-right: 0px;
	                
	                &:after {
	                   display: none;
                    }
	            }
            }
        }
    }
}

.post-type-leyka_campaign #wpfooter,
.post-type-leyka_donation #wpfooter {
	transform: translateY(60px);
	
	.leyka-admin-footer {
	   margin-bottom: $leyka-base;
	   margin-left: 0px;
	   height: 49px;
    }
}

.wp-admin.leyka-admin-dashboard {
    .leyka-dashboard-footer {
        margin-left: 72px;
    }
}

// unneeded datepicker line in bottom fix
#ui-datepicker-div {
	display: none;
}
