// Settings fields:
.settings-block {

    max-width: 750px;

    &.option-block {

        &.type-rich_html {
            @include leyka-rich-html();
        }

        &.type-colorpicker {

            .help {
                margin: 6px 0;
                font-size: 10px;
            }

            .wp-picker-open + .wp-picker-input-wrap {
                display: flex;
            }

            .wp-picker-input-wrap {

                .wp-color-picker {
                    max-width: 75px;
                }
                .wp-picker-default {
                    height: 28px;
                    margin-left: 0;
                }

            }

            .wp-color-result {

                border-radius: 2px;
                border: 1px solid $color-border-semilight;

                .wp-color-result-text {
                    background-color: $color-white;
                }

            }

        }

        &.type-file {

            .upload-field {

                display: flex;

                .field input[type="file"] { // Hide the input

                    display: block;
                    height: 0.1px;
                    width: 0.1px;

                    position: absolute;
                    opacity: 0;
                    overflow: hidden;
                    z-index: -1000;

                }

                .upload-picture { // File upload button/label

                    @include wizard-button-caption();

                    flex: 250px 0 0;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    height: 40px;
                    width: auto;

                    padding: 0 24px;
                    margin-right: 24px;

                    border: 1px dashed $color-wizard-link-sec;
                    background-color: $color-border-light-001;

                    color: $color-wizard-text;
                    font-size: 13px;
                    font-weight: normal;

                }

                .help { // File upload description

                    flex: 100% 1 1;
                    margin: 0;

                    display: flex !important;
                    align-items: center !important;

                    font-size: 10px !important;

                }

            }

            .preview-wrapper {

                display: flex;

                .uploaded-file-preview {

                    display: flex;
                    align-items: center;

                    margin-bottom: 4px;

                    .file-preview {

                        display: flex;
                        margin-left: 16px;

                        img {
                            height: 100px;
                        }

                    }

                    .delete-uploaded-file {
                        content: '';
                        margin-left: 16px;
                        background-image: url(../../img/icon-delete-circled.svg);
                        background-size: cover;
                        width: 24px;
                        height: 24px;
                        display: inline-block;
                        border-bottom: 0;
                    }

                }

            }

            //.loading-indicator-wrap {
            //    margin-left: 16px;
            //
            //    .loader-wrap {
            //        padding-top: 0;
            //    }
            //}

        } // File fields - END

        // Campaign select comboboxes:
        &.type-campaign_select { /** @todo All the following taken from _donors.scss, Donors list filters styles. Refactor both places to use a single styles sttings (from here). */

            select {
                display: none;
            }

            .leyka-selector {
                &.working {
                    border: 2px solid red;
                }
            }

        } // Campaign select comboboxes - END

    } // Option blocks - END

    &.container-block {
        display: flex;
        justify-content: space-between;
    }

    .css-editor {
        @include leyka-code-editor();
    }

}

// Selectmenu fields:
.ui-selectmenu-button {

    @include leyka-admin-list-filter-selector();

    background-image: none;
    border-radius: 0;
    box-sizing: border-box;
    border: none;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4);
    width: 176px !important;
    height: 32px;
    display: inline-block;
    color: $leyka-admin-color-text;
    overflow: unset;
    padding: 3px 5px 3px 8px;

    .ui-icon.ui-icon-triangle-1-s {
        display: none;
    }

    .ui-selectmenu-text {

        @include leyka-admin-list-text();

        display: block;
        overflow: unset;
        padding-left: 0;

    }

}

.ui-selectmenu-menu {
    ul.ui-menu.ui-widget-content  {
        border-radius: 0;

        li.ui-menu-item {

            @include leyka-admin-list-text();

            &.ui-state-focus {
                background-image: none;
                background-color: $leyka-admin-color-link;
                color: $color-white;
                border: 1px solid $leyka-admin-color-link;
            }
        }
    }
}
// Selectmenu fields - END

.ui-autocomplete-multiselect {

    @include leyka-field-multiselect();

    &~ select.autocomplete-select { // Hide select fields
        display: none;
    }

}

.fields .field {
    margin-bottom: 16px;
}

.field-errors /*span*/ {

    @include wizard-field-message();

    margin: 4px 0;
    color: $color-error-message;

}
// Settings fields - END