@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}

@mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
        @content;
    }

    @include optional-at-root(':-moz-placeholder') {
        @content;
    }

    @include optional-at-root('::-moz-placeholder') {
        @content;
    }

    @include optional-at-root(':-ms-input-placeholder') {
        @content;
    }
}

// Small rounded colored indicators (for donation statuses mostly):
@mixin leyka-colored-indicator($color) {
    &:before {
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 6px;
        background-color: $color;
        margin-right: 4px;
    }
}

@mixin leyka-info-page-text($mod: default) {

    font-family: $font-body;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.02em;

    @if $mod == strong {
        font-weight: 700;
    }
    @else if $mod == italic {
        font-style: italic;
    }

}

@mixin leyka-info-page-text-smaller1($mod: default) {
    @include leyka-info-page-text($mod);
    font-size: 11px;
    line-height: 16px;
}

@mixin leyka-info-page-h1 {
    @include leyka-info-page-text();
    font-size: 23px;
    line-height: 32px;
}

@mixin leyka-info-sidebar-part-iconed-link($icon_url) {

    background-image: url($icon_url);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: left center;
    width: auto;
    min-height: 24px;
    display: flex;
    padding-left: 32px;
    align-items: center;

    a {
        @include leyka-admin-a;
    }

}

@mixin leyka-info-page-text-smaller2($mod: default) {
    @include leyka-info-page-text($mod);
    font-size: 10px;
    line-height: 16px;
}

// form fields
@mixin leyka-rich-html {

    max-width: 680px;

    .wp-editor-tabs {
        display: none;
    }

    label {
        .field-component.title {
            @include wizard-field-label-rich-edit();
            margin-bottom: 1rem;
        }
    }
}

@mixin field-q { /** @todo Old tooltip styles - remove when jQ UI tooltips styling is finished */

    margin-left: 3px;
    vertical-align: baseline;
    cursor: pointer;
    position: relative;

    img {
        vertical-align: baseline;
    }

    .field-q-tooltip {
        display: none;
        //display: block;
        position: absolute;
        color: $color-white;
        background-color: $color-wizard-tooltip-bg;
        border-radius: 6px;
        border: none;
        padding: 8px;
        font-size: 12px;
        line-height: 17px;
        z-index: 11;
        top: 150%;
        left: 0;
        transform:translateX(-50%);

        width: 204px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        //white-space: pre-line;
        max-width: max-content;
        text-align: center;

        a {
            color: $color-white;
        }

        &:before {
            content: "";
            display:block;
            width:0;
            height:0;
            position:absolute;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom:8px solid $color-wizard-tooltip-bg;
            left:calc(50% - 4px);
            top:-7px;
        }

        &:empty {
            display: none;
        }

    }

    &:hover {
        .field-q-tooltip {
            display: block;

            &:empty {
                display: none;
            }
        }
    }

}

@mixin leyka-admin-tooltip-styles {
    color: $color-white !important;
    background-color: $color-wizard-tooltip-bg !important;

    font-family: $font-body !important;
    font-size: 11px !important;
    font-weight: 500;
    line-height: 17px;

    overflow-wrap: break-word;
    word-wrap: break-word;
    text-align: center;
}

@mixin leyka-field-title {

    @include wizard-field-label();
    display: flex;
    margin-bottom: 5px;
    position: relative;
    align-items: flex-start;

    .text {
        order: 1;
    }

    .required {

        @include wizard-field-label-required-sign();

        color: $color-wizard-required-sign;
        order: 0;
        margin-right: 3px;
        display: block;
        height: 14px;

    }

    .field-q {

        @include field-q();

        order: 2;
        display: block;
        height: 15px;

    }

}

@mixin leyka-field-control {
    // TODO: move colors to presets after comlete
    input[type="text"], input[type="email"], input[type="password"], input[type="number"], select, textarea {

        @include wizard-field-input-text();

        color: $color-wizard-text;

        @include placeholder {
            color: $color-wizard-placeholder;
        }

        margin-left: -1px;
        padding: 1px 6px 3px 6px;
        height: 25px;
        //width: 248px;
        width: 100%;
        border: 1px solid #dddddd;

        &:active, &:focus {
            color: $color-wizard-text;
            border: 1px solid #bfbfbf;
            box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4);
        }

    }

    input[type="file"] {
        width: 248px;
    }

    textarea {
        height: 62px;
        width: 100%;
        line-height: 18px;
    }

    input[type="checkbox"], input[type="radio"] {
        width: 18px;
        height: 18px;
    }

    input[type="checkbox"] {
        padding-top: 2px !important;
        padding-left: 1px !important;
    }

    label {

        @include wizard-field-label();

        display: block;
        margin-bottom: 8px;

        & > input {
            margin-right: 8px;
            vertical-align: middle;
        }

    }

}

@mixin leyka-field-control-error {
    input, select, textarea {
        background: #f8ecef;
        border: 1px solid #f5c8d0;
    }
}

@mixin leyka-field-checkbox {

    &.title {
        display: inline-block;
        vertical-align: bottom;
    }

    &.field {
        float: left;
    }

}

@mixin leyka-field-radio {

    label {
        display: block;
    }

    .radio-entry-description { /** @todo Make it a popup */
        display: none;
    }

}

@mixin leyka-field-multiselect() {

    @include multiselect-input-typo();

    display: inline-block;
    width: 176px !important;
    height: auto;
    min-height: 32px;

    margin: 0;

    line-height: normal;
    color: $leyka-admin-color-text;
    box-sizing: border-box;
    border: none;
    background-color: $color-white;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4);

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $leyka-admin-color-text;
        opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $leyka-admin-color-text;
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
        color: $leyka-admin-color-text;
    }

    .placeholder {
        margin-top: 6px;
        margin-left: 5px;
    }

    &.ui-state-default {

        background: $color-white;
        padding: 3px 3px 0 3px;
        overflow: hidden;
        cursor: text;

        input.ui-autocomplete-input {
            display: none;
            width: calc(100% - 2px) !important;
        }

    }

    &.ui-state-active {

        outline: none;

        input.ui-autocomplete-input {
            display: block !important;
        }

        .placeholder {
            display: none;
        }

    }

    .ui-autocomplete-multiselect-item {

        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 1px 24px 1px 3px;
        margin-right: 2px;
        margin-bottom: 3px;
        color: #333;
        background-color: #f6f6f6;

        overflow: hidden;
        max-width: 136px;
        width: auto;
        text-overflow: ellipsis;
        max-height: 36px;
        line-height: 18px;
        position: relative;

        .ui-icon {
            position: absolute;
            right: 3px;
            top: 2px;
            cursor: pointer;
        }

    }

    input.ui-autocomplete-input {
        display: block;
        border: none;
        outline: none;
        height: auto;
        overflow: visible;
        margin: 2px !important;
        text-align: left;
        box-shadow: none !important;
        width: 100%;
    }

}

@mixin leyka-field-file {

    label {
        display: inline-block;
        height: inherit;
    }

    .field-component {

        position: relative;
        display: inline-block;
        height: 40px;

        input[type="file"] {
            height: 40px;
            width: 248px;
            display: inline-block;
            cursor: pointer;
            outline: none;
            overflow: hidden;
            vertical-align: middle;
        }

        input[type="button"] {

            @include wizard-button-caption();

            height: 40px;
            width: 248px;
            display: block;
            background-color: $color-white;
            position: absolute;
            top: 0;
            left: 0;
            //pointer-events: none;
            cursor: pointer;

        }

        span.chosen-file {

            @include wizard-button-caption();

            display: inline-block;
            line-height: 40px;
            vertical-align: middle;
            padding-left: 1rem;
            cursor: default;

            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 254px;
            height: 40px;
            white-space: nowrap;

        }

    }

}

@mixin leyka-field-help {
    @include wizard-field-explain();
    color: $color-wizard-field-explain;
    display: block;
    margin-top: 8px;
    margin-bottom: 0;
}

@mixin leyka-button-primary($width: default) {

    @include wizard-button-caption();

    @if $width == default {
        $width: 248px;
    }

    display: inline-block;
    text-align: center;
    box-shadow: none;

    height: 40px;
    line-height: 40px;
    width: $width;

    color: $color-white;

    &:hover {
        color: $color-white;
        box-shadow: none;
    }

}

@mixin leyka-link-sec {

    color: $color-wizard-link-sec;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid $color-wizard-link-sec;

    &:hover {
        color: $color-wizard-link-sec-hover;
        text-decoration: none;
    }

    &:focus, &:active {
        color: $color-wizard-link-sec-active;
    }

}

@mixin leyka-pm-icons {

    flex: 0 1 50%;
    padding: 4px 16px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .pm-icon {

        height: 40px;
        margin: 0;

        &[src$=".png"] {
            max-height: 20px;
            width: 28px;
            margin-right: 12px;
        }

        // PM icons SVGs are all different! RAAAGE
        &.sber,
        &.card-visa,&.card-mastercard,&.card-maestro,&.card-mir,
        &.mobile-beeline,&.mobile-megafon,&.mobile-mts,&.mobile-tele2,&.mobile-yota,&.mobile-tinkoff {
            height: 16px;
            margin-right: 12px;
        }

        &.yandex-money {
            height: 16px;
        }

        &.liqpay {
            margin-right: 10px;
        }

    }

}

@mixin leyka-gateway-details {

    display: flex;
    flex-direction: row;
    justify-content: center;

    flex: 0 1 50%;

    font-size: 13px;

    .details-element {

        width: fit-content;
        text-align: center;
        margin-right: 32px;

        &:last-child {
            margin-right: 0;
        }

        .details-pic {

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: baseline;

            height: 27px;

            .commission-size {
                font-size: 18px;
                margin-left: 4px;
                margin-top: 4px;
            }

        }

    }
}

@mixin leyka-outline-none {
    outline: 0 !important;
    -webkit-appearance:none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

@mixin leyka-zoom-image {

    img.leyka-instructions-screen {
        border: 1px solid $color-wizard-link-sec;
    }

    img.leyka-instructions-screen-full {
        max-height: 80%;
        display: none;
    }

    .screen-wrapper {
        position: relative;
        line-height: 0;
    }

    img.zoom-screen {
        cursor: pointer;
        position: absolute;
        width: 40px;
        height: 40px;
        bottom: 1rem;
        left: calc(50% - 20px);
    }

}

@mixin leyka-admin-clean-a() {
    text-decoration: none;
    border: none;
    box-shadow: none;
    outline: none;

    &:active, &:focus {
        text-decoration: none;
        border: none;
        box-shadow: none;
        outline: none;
    }

    &:hover {
        text-decoration: none;
        border: none;
        box-shadow: none;
        outline: none;
    }
}

@mixin leyka-admin-a($mod: default) {

    @include leyka-admin-clean-a();

    color: $leyka-admin-color-link;
    //border-color: $leyka-admin-color-link;
    border-bottom-width: 1px;

    border-bottom-style: solid;
    border-color: transparent;

    &:active, &:focus {
        //border-color: $leyka-admin-color-link;
        border-bottom-style: solid;
        border-color: transparent;
    }

    &:hover {
        border-color: $leyka-admin-color-link;
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }

    @if $mod == dashed {

        border-bottom-style: dashed;
        border-color: $leyka-admin-color-link;

        &:active, &:focus {
            border-bottom-style: dashed;
            border-color: $leyka-admin-color-link;
            border-bottom-width: 1px;
        }

        &:hover {
            border-color: transparent;
            border-bottom-style: solid;
            border-bottom-width: 1px;
        }

    }

}

@mixin leyka-colored-icon($icon-url, $icon-size, $icon-color: default, $icon-height: default) {

    @if $icon-color != default {

        mask: url($icon-url); // Instead of background-image: url(), so we can give colors to the icon
        mask-size: cover;
        background-color: $icon-color;

    }
    @else {
        background-image: url($icon-url);
    }

    @include leyka-admin-icon($icon-size, $icon-height);
    @include leyka-admin-clean-a;

}

@mixin leyka-admin-btn($mod: default) {

	//@include leyka-adb-btn-caption();

    background-color: $leyka-admin-color-btn-bg;
    color: $leyka-admin-color-btn-text;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    border: 1px solid $leyka-admin-color-btn-stroke;
    box-shadow: 0 1px 0 $leyka-admin-color-btn-stroke;
    border-radius: 4px;
	height: 26px;
	width: auto;
	display: inline-block;
	cursor: pointer;
	padding: 5px 10px;

    @if $mod == secondary {

        background-color: $color-white;
        border: 1px solid $color-border-secondary-button;
        color: $color-secondary-button;
        box-shadow: none; // 0 1px 0 $color-border-secondary-button;

        &:hover {
            border: 1px solid $color-border-secondary-button;
            color: $color-secondary-button;
            background-color: $color-white;
        }

    }

}

@mixin leyka-donation-status-marker() {
    background-color: $leyka-color-donation-status-submitted;

    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    margin-right: 0.5 * $leyka-base;

    &.funded {
        background-color: $leyka-color-donation-status-funded;
    }

    &.refunded {
        background-color: $leyka-color-donation-status-refunded;
    }

    &.failed {
        background-color: $leyka-color-donation-status-failed;
    }

    &.field-q {
        @include field-q();

        .field-q-tooltip {
            top: 250%;
            padding-left: 2* $leyka-base;
            padding-right: 2* $leyka-base;
            font-weight: 500;
        }
    }
}

@mixin leyka-admin-triangle-list-marker($color) {

    margin-top: -6px;
    margin-left: 12px;
    list-style: none;

    @include leyka-admin-list-text-small;

    &:before {
        content: '';
        border-color: transparent $color;
        opacity: 0.8;
        border-style: solid;
        border-width: 0.35em 0 0.35em 0.45em;
        display: block;
        height: 0;
        width: 0;
        left: -1em;
        top: 11px;
        position: relative;
    }

}

@mixin leyka-admin-icon($size-w: 24px, $size-h: default) {

    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: $size-w;

    @if $size-h == default {
        $size-h: $size-w;
    }
    width: $size-w;
    height: $size-h;

}

@mixin leyka-admin-outer-link($icon-margin-left: default) {

    @if $icon-margin-left == 'default' {
        $icon-margin-left: 0.5rem;
    }

    &:after {
        content: ' ';
        background-image: url('../../img/icon-link-out.svg');
        background-size: 12px 12px;
        width: 12px;
        height: 12px;
        margin-left: $icon-margin-left;
        display: inline-block;
    }

}

@mixin leyka-loading-indicator() {

    .loading-indicator-wrap {

        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 16px;

        .loader-wrap {

            padding-top: 0;
            padding-right: 24px;

            .leyka-loader {
                display: inline-block;
            }

        }

    }

}

@mixin leyka-code-editor($code: 'css') {

    .cm-s-default.CodeMirror-wrap { // Code editor field
        border: 1px solid #dddddd;
    }

    textarea {
        width: 100%;
        height: 200px;
        border: 1px solid $color-border-secondary-button;
        overflow: hidden;
    }

    .css-editor-reset-value { // Reset CSS link

        display: inline-block;
        border-bottom: 1px dashed $color-wizard-link;

        cursor: pointer;
        font-size: 14px;
        color: $color-wizard-link;

    }

}

@mixin leyka-triangle-right($size, $color: inherit) {

    width: 0;
    height: 0;
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;

    border-left: $size solid $color;

}

@mixin leyka-triangle-down($size, $color: inherit) {

    width: 0;
    height: 0;

    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;

    margin-bottom: $size;

}

@mixin leyka-metabox-styling() {

    border: 1px solid $color-border-semilight;
    border-radius: 6px;
    box-shadow: 0 2px 2px $color-border-semilight;
    background-color: $color-metaboxes-background-white;

    color: $leyka-admin-color-text;

    .postbox-header {
        border-bottom: 1px solid $color-border-light-001;
    }

    h2.hndle {

        display: flex;
        justify-content: flex-start;
        align-items: center;

        border: 0;
        margin: 24px 0;
        padding: 0 24px;

        color: $color-metabox-title;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;

        .metabox-thumbnail {
            margin-right: 12px;
        }

        &:after { // Restyled metabox/portlet open/close handle
            content: ' ';
            display: inline-block;
            background-image: url(../../img/icon-arrow-expanded-circled.svg); /** @todo Refactor to the icon-arrow-expanded.svg, then remove the "-circled" SVGs */
            cursor: pointer;
            pointer-events: all;
            width: 24px;
            height: 24px;
            margin-left: auto; // Align the open/close control to the right
        }

    }

    &.closed h2.hndle:after {
        background-image: url(../../img/icon-arrow-collapsed-circled.svg) !important; /** @todo Refactor to the icon-arrow-collapsed.svg, then remove the "-circled" SVGs */
    }

    .inside {

        //margin: 0 0 24px 0;
        padding: 24px 16px;
        margin: 0;

        #excerpt {
            margin-top: 0;
        }

    }

}

// ---- Admin lists mixins: ---- //
@mixin leyka-admin-list-filter-selector() {

    @include leyka-admin-list-text();

    line-height: normal;
    color: $leyka-admin-color-text;
    box-sizing: border-box;
    border: none;
    background-color: $color-white;
    background-image: none;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4);
    width: 176px;
    height: 32px;

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $leyka-admin-color-text;
        opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $leyka-admin-color-text;
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
        color: $leyka-admin-color-text;
    }

}
// ---- Admin lists mixins - END ---- //