/** == Mixins (_common_leyka_mixins.scss) == **/
@mixin leyka-admin-clean-a() {
    text-decoration: none;
    border: none;
    box-shadow: none;
    outline: none;
    
    &:active, &:focus, &:hover {
        text-decoration: none;
        border: none;
        box-shadow: none;
        outline: none;
    }
}

@mixin leyka-admin-a($mod: default) {
    @include leyka-admin-clean-a();
    
    color: $leyka-adb-color-link;
    border-color: $leyka-adb-color-link;
    border-bottom-width: 1px;

    border-bottom-style: none;
    &:active, &:focus, &:hover {
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }
    
    @if $mod == dashed {
        border-bottom-style: dashed;
        &:active, &:focus, &:hover {
            border-bottom-style: none;
        }
    }
    
}

@mixin leyka-admin-btn($mod: default) {
	@include leyka-adb-btn-caption();
    background-color: $leyka-adb-color-btn-bg;
    color: $leyka-adb-color-btn-text;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    border: 1px solid $leyka-adb-color-btn-stroke;
    box-shadow: 0px 1px 0px $leyka-adb-color-btn-stroke;
    border-radius: 4px;
	height: 26px;
	width: auto;
	display: inline-block;
	cursor: pointer;
	padding: 5px 10px 3px 10px;
}
