/** == Seetings and variables (_dashboard_presets.scss)  == **/

$leyka-adb-color-text:          #44444A;
$leyka-adb-color-text-light1:   #565656;

$leyka-adb-color-link:          #0085BA;
$leyka-adb-color-link-active:   $leyka-adb-color-text-light1;

$leyka-adb-color-error:         #D43C57;
$leyka-adb-color-error-light1:  #FC90A4;

$leyka-adb-color-ok:            #1AA316;

$leyka-adb-color-border:        #C5C6D3; 
$leyka-adb-color-border-light1: #DDDDDD;

$leyka-adb-color-notif-text:    #006799;
$leyka-adb-color-notif-bg:      #C5E6F3;

$leyka-adb-color-btn-text:      $color-white;
$leyka-adb-color-btn-bg:        #0085BA;
$leyka-adb-color-btn-stroke:    #006799;

