.leyka-dashboard-page {

    // Stats invite:
    .send-plugin-stats-invite {

        background-color: $leyka-adb-color-notif-bg;
        border-radius: 6px;
        padding: 8px 8px 8px 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .invite-text {
            color: $leyka-adb-color-notif-text;
        }

        .invite-link {

            display: flex;
            align-items: flex-start;

            .send-plugin-usage-stats-y {
                @include leyka-adb-btn-primary;
                min-width: 190px;
            }

            .loading-indicator-wrap .ok-icon { // Indicator main styles moved to _common_leyka_mixins.scss
                display: none;
            }

        }

    }
    // Stats invite - END

    /** Dynamic wrapper (above stats portlets): */
    .banner-wrapper {

        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;

        .banner-inner {

            position: relative;
            flex: 100% 1 0;

            display: flex;
            flex-flow: row nowrap;

            .banner {

                padding: 0 40px;

                flex: 100% 0 1;

                display: flex;
                justify-content: space-between;
                align-items: center;

                height: 168px;
                border-radius: 6px;
                background: linear-gradient(180deg, #5AC147 0%, #39A94E 100%);

                color: $color-white;
                font-weight: 400;

                .banner-subtitle {
                    font-size: 24px;
                    line-height: 28px;
                }

                .banner-subtitle-upper {
                    display: inline-block;
                    padding: 6px 8px;
                    margin-bottom: 16px;
                    border-radius: 4px;

                    font-weight: bold;
                    font-size: 14px;
                    line-height: 18px;
                    text-transform: uppercase;
                    background-color: $color-white;
                    color: darken($color-main-green, 5.0);
                }

                .banner-title {
                    font-size: 28px;
                    font-weight: bold;
                }

                .banner-subtitle-lower {
                    margin-top: 12px;

                    font-weight: normal;
                    font-size: 18px;
                }

                .banner-thumbnail {
                }

            }

            .close {

                background-image: url(../../img/dashboard/icon-close.svg);
                @include leyka-admin-icon(24px);
                @include leyka-admin-clean-a;
                display: block;
                position: absolute;
                top: 0.5*$leyka-base;
                right: 0.5*$leyka-base;

                background-color: $color-white;
                border-radius: 50%;

            }

        }

    }
    /** Dynamic wrapper - END */

    /** Main part: */
    .leyka-page-content {
        
        .main-col {

            // Data interval:
            .plugin-data-interval {

                display: flex;
                justify-content: space-between;
                margin-bottom: 1.5*$leyka-base;

                a {

                    @include leyka-adb-link-period;
                    @include leyka-admin-a(dashed);

                    font-size: 14px;
                    line-height: 18px;
                    margin-right: 1.5*$leyka-base;

                    &:last-of-type {
                        margin-right: 0;
                    }

                    &.current-interval {
                        color: $leyka-adb-color-link-active;
                        border-bottom-style: none;
                    }

                }

                .leyka-content-row {
                    justify-content: start;
                }

                .plugin-data-interval-content {
                    width: 600px;
                    height: 50px;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }

                .plugin-data-interval-tools {

                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    * {
                        font-size: 10px;
                        line-height: 16px;
                    }

                    .plugin-data-interval-reset-text {
                        color: $leyka-adb-table-color-text-light;
                        font-weight: $leyka-adb-table-weight-text;
                    }

                    .plugin-data-interval-reset-btn {
                        width: fit-content;
                    }

                }



            } // Data interval - END

        }

    }
    /** Main part - END */

}

// Dashboard footer
.leyka-dashboard-footer {
    margin-top: 2*$leyka-base;
    margin-left: 12px;

    &.leyka-wizard-footer {
        margin-top: $leyka-base;
        margin-bottom: $leyka-base;
        margin-left: 12px;
    }

    &.leyka-settings-footer {
        margin-left: 72px;
        margin-bottom: -20px;
    }
}

// donations dynamics
.leyka-admin-portlet .dynamics-bar-chart {
    display: block;
    position: relative;
    overflow: hidden;
}

// **** modal ****
.ui-dialog.leyka-adb-modal {

    .ui-dialog-titlebar {
        height: 40px;
        line-height: 40px;
    }
    
    .ui-dialog-title {
        @include leyka-adb-modal-dialog-title;
    }
    
    .ui-dialog-content {
        padding: $leyka-base;

        p {
            @include leyka-adb-text-bigger2;
            color: $color-metabox-text;
            margin-top: 0;
        }

        p.error-notif {
            margin-bottom: $leyka-base;
            padding: 12px 15px 12px 40px;
            background-color: rgba(212, 60, 87, 0.2);
            background-image: url(../../img/dashboard/icon-alert-circle.svg);
            background-size: 24px 24px;
            background-position: 0.5 * $leyka-base 0.5*$leyka-base;
            background-repeat: no-repeat;

            &:last-of-type {
                margin-bottom: 0;
            }

            a {
                @include leyka-admin-a;
                color: $leyka-adb-color-error;
            }
        }
    }

    .ui-button.ui-dialog-titlebar-close {
        &:before {
            content: " ";
            background-image: url(../../img/dashboard/icon-bad-gray.svg);
            background-size: 24px 24px;
            display: block;
            background-repeat: no-repeat;
            background-position: 0 8px;
        }
    }
}

// modal items custom styles
.leyka-adb-modal {
    .ui-dialog-content#how-to-setup-cron {
        @include for(medium-screens) {
            width: 552px !important;
            max-width: unset !important;
        }
    }
}