/** == Typography (_dashboard_typo.scss) == **/

@mixin leyka-adb-text-bolder() {
	@include leyka-info-page-text;
	font-weight: 500;
}

@mixin leyka-adb-text-bigger1($mod: default) {
	@include leyka-info-page-text($mod);
    font-size: 13px;
    line-height: 16px;
}

@mixin leyka-adb-text-bigger2($mod: default) {
    @include leyka-info-page-text($mod);
    font-size: 14px;
    line-height: 16px;
}

//@mixin leyka-adb-h3 {
//    @include leyka-adb-text();
//    font-size: 14px;
//    line-height: 24px;
//    font-weight: 500;
//}

@mixin leyka-adb-portlet-row-label {
    @include leyka-info-page-text-smaller1();
    text-transform: uppercase;
    font-weight: 500;
}

@mixin leyka-adb-portlet-stats-num {
    @include leyka-info-page-text();
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
}

@mixin leyka-adb-btn-caption {
    @include leyka-adb-text-bigger1();
}

@mixin leyka-adb-link-period {
    @include leyka-info-page-text();
    font-size: 14px;
    line-height: 24px;
}

@mixin leyka-adb-text-table-head() {
    @include leyka-adb-text-bolder;
    font-size: 13px;
    line-height: 16px;
}

@mixin leyka-adb-modal-dialog-title {
    @include leyka-info-page-text();
    font-size: 15px;
    line-height: 16px;
    font-weight: 500;
}

