.leyka-dashboard-page {
    margin: 41px 72px;
    box-sizing: border-box;
    color: $leyka-adb-color-text;
    
    a {
       @include leyka-adb-a; 
    }
    
    a[href='#'] {
       @include leyka-adb-a(dashed);
    }
    
    h1 {
        @include leyka-adb-h1;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    .leyka-dashaboard-content {
        margin-top: 24px;
        display: flex;
        
        .main-col {
            border-right: 1px solid $leyka-adb-color-border;
            padding-right: 2 * $leyka-base;
            margin-right: 2 * $leyka-base;
            flex-grow: 1;
            
            &>div {
                margin-bottom: 1.5 * $leyka-base;
                &:last-of-type {
                    margin-bottom: 0px;
                }
            }
        }
        
        .sidebar-col {
            width: 250px;
        }
    }
}

// stats invite
.leyka-dashboard-page {
    .send-plugin-stats-invite {
        background-color: $leyka-adb-color-notif-bg;
        border-radius: 6px;
        padding: 8px 0px 8px 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        
        .invite-text {
            color: $leyka-adb-color-notif-text;
        }
        
        .invite-link {
            display: flex;
            align-items: flex-start;

            .send-plugin-usage-stats-y {
                @include leyka-adb-btn-primary;
                min-width: 190px;
            }

            .loading-indicator-wrap {
                display: block;
                width: 24px;
                height: 24px;

                .ok-icon {
                    display: none;

                }

                .loader-wrap {
                    .leyka-loader {
                    }
                }
            }
        }
    }   
}

.leyka-dashboard-page .banner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    a {
        display: block;
        width: auto;

        &:hover {
            border-style: none;
        }

        img {
            width: auto;
            display: block;
        }
    }
}

// **** main part ****
.leyka-dashboard-page .leyka-dashaboard-content .main-col {
    & > div {
        margin-bottom: 1.5 * $leyka-base;
    }
    
    .leyka-dashboard-row {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        
        & > * {
            margin-right: 1.5 * $leyka-base;
            
            &:last-of-type {
                margin-right: 0px;
            }
        }
    }
}

// data interval
.leyka-dashboard-page .leyka-dashaboard-content .main-col {
    .plugin-data-interval {
        a {
            @include leyka-adb-link-period;
            @include leyka-adb-a(dashed);
            
            margin-right: 1.5 * $leyka-base;
            
            &:last-of-type {
                margin-right: 0px;
            }
            
            &.current-interval {
                color: $leyka-adb-color-link-active;
                border-bottom-style: none;
            }
        }
    }
}

// **** sidebar part ****
.leyka-dashboard-page .leyka-dashaboard-content .sidebar-col {
    .leyka-dashboard-sidebar-part {
        @include leyka-adb-text-bolder;
        border-top: 1px solid $leyka-adb-color-border;
        margin-bottom: 1.5 * $leyka-base;
        
        & > * {
            margin-top: $leyka-base;
        }
        
        &:first-of-type {
          border-top: none;
        }
        
        h3 {
            @include leyka-adb-h3;              
        } 
    }
}

// sidebar logo and docs
.leyka-dashboard-page .leyka-dashaboard-content .sidebar-col .leyka-dashboard-sidebar-part {
    .leyka-logo {
        text-align: center;
        margin-top: 0px;
    }
    
    .leyka-description {
    }
    
    .leyka-official-website {
        @include leyka-adb-sidebar-part-iconed-link('../../img/dashboard/icon-docs.svg');
    }
}

// sidebar settings state
.leyka-dashboard-page .leyka-dashaboard-content .sidebar-col .leyka-dashboard-sidebar-part {
    .sidebar-part-content.settings-state {
        .settings-step-set {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            margin-bottom: 16px;
            
            .step-setup-status {
                background-image: url(../../img/dashboard/icon-bad.svg);
                background-repeat: no-repeat;
                background-size: 24px;
                background-position: top left;
                width: 24px;
                height: 24px;
                margin-right: 8px;
                
                &.step-valid {
                    background-image: url(../../img/dashboard/icon-check.svg);
                }
            }
            
            .step-title-wrapper {
                padding-top: 4px;
                
                .step-title {
                }
                
                .step-invalid-options {
                    margin-top: 4px;
                    @include leyka-adb-text-smaller2;
                    color: $leyka-adb-color-error-light1;
                }
            }
        }
    }
    
    .leyka-wizard-link {
        @include leyka-adb-sidebar-part-iconed-link('../../img/dashboard/icon-wizard.svg');
    }
}

// sidebar gateways
.leyka-dashboard-page .leyka-dashaboard-content .sidebar-col .leyka-dashboard-sidebar-part {
    .sidebar-part-content.gateways {
        .gateway  {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            margin-bottom: 16px;
            
            .gateway-logo {
                align-items: flex-start;
                width: 24px;
                height: 24px;
                margin-right: 8px;
                
                img {
                    max-width: 24px;
                    max-height: 24px;
                }
            }
            
            .gateway-data {
                padding-top: 2px;
                
                .gateway-title {
                }
                
                .gateway-activation-status {
                    margin-top: 4px;
                }
            }
        }
    }
    
    .add-gateway-link {
        @include leyka-adb-sidebar-part-iconed-link('../../img/dashboard/icon-plus.svg');
    }
}

// sidebar diagnostic-data
.leyka-dashboard-page .leyka-dashaboard-content .sidebar-col .leyka-dashboard-sidebar-part {
    .sidebar-part-content.diagnostic-data {
        .data-line {
            margin-bottom: 16px;
            
            &.php-actuality-status {
                .php-version {
                    &.bad {
                        color: $leyka-adb-color-error;
                    }
                }
            }
            
            
            &.cron-state {
                .cron-state {
                    color: $leyka-adb-color-ok;
                    
                    &.not-set {
                        color: $leyka-adb-color-error;
                    }
                }
                
                a {
                    @include leyka-adb-text-smaller2;
                    margin-left: 0.5 * $leyka-base;
                }
            }
            
            .protocol {
                text-transform: uppercase;
                color: $leyka-adb-color-ok;
                
                &.not-safe {
                    color: $leyka-adb-color-error;
                }
            }
            
            .php-modules-title {
                display: block;
            }
            
            .php-ext-missing {
                color: $leyka-adb-color-error;
            }
        }
    }
}

// **** portlet ****
.leyka-admin-portlet {
    background-color: $color-white;
    min-width: 304px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    width: 50%;

    .portlet-header {
        @include leyka-adb-portlet-title();
        color: $leyka-adb-color-text;
        height: 78px;
        display: flex;;
        align-items: center;
        border-bottom: 1px solid $leyka-adb-color-border-light1;

        img {
            margin-left: $leyka-base;
            margin-right: 0.75 * $leyka-base;
        }
    }
    
    .portlet-content {
        padding: $leyka-base 1.5 * $leyka-base 1.5 * $leyka-base 1.5 * $leyka-base;
    
        .portlet-row {
            margin-bottom: $leyka-base;

            &:last-of-type {
                margin-bottom: 0;
            }
       
            .row-label {
                @include leyka-adb-portlet-row-label();
                margin-bottom: 0.5 * $leyka-base;
            }
           
           .row-data {
                display: flex;
                justify-content: flex-start;

                .main-number {
                    @include leyka-adb-portlet-stats-num();
                    margin-right: 0.5 * $leyka-base;
                }
                
                .percent {
                    @include leyka-adb-text-bigger1();
                    color: $leyka-adb-color-error;
                    background-repeat: no-repeat;
                    background-size: 12px 12px;
                    background-position: left 2px;
                    padding-left: 14px;

                    &.negative {
                        background-image: url(../../img/dashboard/icon-arrow-down.svg);
                    }

                    &.positive {
                        color: $leyka-adb-color-ok;
                        background-image: url(../../img/dashboard/icon-arrow-up.svg);
                    }
                }
           }
                  
        }
    
    }
}

.leyka-admin-portlet.portlet-recent-donations {
    width: 100%;
}

.leyka-admin-portlet.portlet-donations-dynamics {
    width: 100%;

    .portlet-content {
        padding-left: $leyka-base;
        padding-right: 3 * $leyka-base;
    }    
}

// recurring stats
.leyka-admin-portlet.portlet-stats-recurring .donations-number-percent-chart {
    .chart-wrapper {
        display: flex;
        align-items: flex-start;

        .chart {
            margin-right: 1.5 * $leyka-base;
            position: relative;

            .chart-center {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;

                display: flex;
                align-items: center;
                justify-content: center;

                .circle-label {
                    @include leyka-adb-portlet-stats-num;
                    vertical-align: top;

                    span.percent {
                        @include leyka-adb-text-bigger1;
                        vertical-align: super;
                    }
                }
            }

        }

        .legend {
            margin-top: $leyka-base;

            .legend-item {
                vertical-align: top;

                .icon {
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    border-radius: 4px;
                    background-color: $leyka-adb-color-recurring-chart-recurring;
                    margin-right: 0.5 * $leyka-base;
                    vertical-align: baseline;

                    &.other {
                        background-color: $leyka-adb-color-recurring-chart-other;
                    }
                }

                .label {
                    @include leyka-adb-portlet-row-label;
                    display: inline-block;
                    max-width: 72px;
                    vertical-align: text-top;
                }
            }
        }
    }
}

// recent-donations
.leyka-admin-portlet table.recent-donations {
    @include leyka-adb-text-bigger1;
    color: $leyka-adb-color-text;
    width: 100%;

    thead {
        tr th {
            @include leyka-adb-text-table-head;
            text-align: left;
            border-bottom: 1px solid $leyka-adb-color-border-light1;
            padding-bottom: $leyka-base;
        }
    }

    tbody {
        tr {

            &:nth-child(even) {
                background-color: $leyka-adb-color-bg;
            }

            td {
                padding-top: 12px;
                padding-bottom: 12px;
                vertical-align: top;
            }

            td.donation-type {
                min-width: 59px;
                text-align: center;
            }

            td.donation-donor {
                min-width: 216px;
                width: 40%;

                a {
                    @include leyka-adb-a; 
                }

                .donor-contact {
                    @include leyka-adb-text-smaller1;
                }
            }

            td.donation-campaign-date {
                min-width: 227px;
                width: 40%;

                .campaign {
                }

                .date {
                    @include leyka-adb-text-smaller1;
                }
            }

            td.donation-amount-status {
                min-width: 83px;

                .donation-status {
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    border-radius: 4px;
                    background-color: $leyka-color-donation-status-submitted;
                    margin-right: 0.5 * $leyka-base;

                    &.funded {
                        background-color: $leyka-color-donation-status-funded;
                    }

                    &.refunded {
                        background-color: $leyka-color-donation-status-refunded;
                    }

                    &.failed {
                        background-color: $leyka-color-donation-status-failed;
                    }

                    &.field-q {
                        @include field-q();

                        .field-q-tooltip {
                            top: 250%;
                            padding-left: 2* $leyka-base;
                            padding-right: 2* $leyka-base;
                            font-weight: 500;
                        }
                    }

                }

                .donation-amount {

                }
            }
        }
    }
}

// donations dynamics
.leyka-admin-portlet .dynamics-bar-chart {
    display: block;
    position: relative;
    overflow: hidden;
}

// **** modal ****
.ui-dialog.leyka-adb-modal {

    .ui-dialog-titlebar {
        height: 40px;
        line-height: 40px;
    }
    
    .ui-dialog-title {
        @include leyka-adb-modal-dialog-title;
    }
    
    .ui-dialog-content {
        padding: $leyka-base;

        p {
            @include leyka-adb-text-bigger2;
            color: $leyka-adb-color-text;
            margin-top: 0px;
        }

        p.error-notif {
            margin-bottom: $leyka-base;
            padding: 12px 15px 12px 40px;
            background-color: rgba(212, 60, 87, 0.2);
            background-image: url(../../img/dashboard/icon-alert-circle.svg);
            background-size: 24px 24px;
            background-position: 0.5 * $leyka-base 0.5 * $leyka-base;
            background-repeat: no-repeat;

            &:last-of-type {
                margin-bottom: 0;
            }

            a {
                @include leyka-adb-a; 
                color: $leyka-adb-color-error;
            }
        }
    }

    .ui-button.ui-dialog-titlebar-close {
        &:before {
            content: " ";
            background-image: url(../../img/dashboard/icon-bad-gray.svg);
            background-size: 24px 24px;
            display: block;
            background-repeat: no-repeat;
            background-position: 0px 8px;
        }
    }
}

// modal items custom styles
.leyka-adb-modal {
    .ui-dialog-content#how-to-setup-cron {
        @include for(medium-screens) {
            width: 552px !important;
            max-width: unset !important;
        }
    }
}