/** == Settings and variables (_donors_presets.scss)  == **/

$leyka-donors-color-selector-text:      $leyka-admin-color-text;
$leyka-donors-color-selector-bg:        $color-white;
$leyka-donors-color-selector-stroke:    #DDDDDD;

$leyka-donors-color-selected-item-text:      $leyka-admin-color-text;
$leyka-donors-color-selected-item-bg:        #F1F1F1;
$leyka-donors-color-selected-item-stroke:    #DDDDDD;
