/** Donations list page **/
.leyka-admin-list-page.leyka-admin-donations-list {

    // Table filters:
    .leyka-admin-list-filter-wrapper.leyka-donation-date-filter-wrapper {

        position: relative;

        label {
            position: absolute;
            top: 6px;
            left: 10px;
        }

        input {
            padding-left: 50px;
            width: 100% !important;
            color: $color-text-semi;
        }

    }
    // Table filters - END

    // List table (columns & content):
    .wp-list-table.widefat {

        tr {

            &.leyka-donation-failed-row {
                background: $leyka-color-error-light-1;
            }

            //&.leyka-donation-funded-row { /** @todo Funded Donations rows background color. Check it w. Nick */
            //    background: $color-ok-light;
            //}

            // Columns width:
            .column-id {
                width: 80px;
            }

            .column-payment_type {
                width: 40px;
            }

            .column-campaign {
                min-width: 250px;
                max-width: 350px;
            }

            .column-donor {
                width: 180px;
                max-width: 250px;
            }

            .column-amount {
                width: 90px;
            }

            .column-date {
                width: 70px;
            }

            .column-gateway_pm {

                width: 85px;
                max-width: 230px;

                .leyka-gateway-pm {

                    display: flex;
                    flex-flow: row nowrap;
                    align-items: flex-start;

                    //cursor: pointer;

                    width: 20px; // Use the deliberately small width, so icons inside would widen only by their needs

                    .leyka-gateway-name {
                        margin-right: 10px;
                    }

                    img {
                        width: 35px;
                        height: 35px;
                        margin: 0;
                    }

                }

            }

            .column-emails {
                width: 100px;
            }

            .column-donor_subscription {

                width: 78px;

                .donor-subscription-status {

                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;

                    .donor-subscription {

                        display: inline-block;
                        cursor: pointer;

                        &.campaign-subscription {
                            @include leyka-colored-icon('../../img/icon-ok.svg', 16px, $leyka-admin-color-link, 12px);
                        }

                        &.full-subscription {
                            @include leyka-colored-icon('../../img/icon-ok-circled.svg', 26px, $leyka-admin-color-link);
                        }

                    }

                }

            }

        }
        // Columns width - END

        // Columns content settings:
        td {

            font-size: 13px;

            &.column-emails {

                font-size: 12px;

                .send-donor-thanks {
                    display: inline-block;
                }

                time {
                    font-size: 11px;
                }

            }

            &.column-donor_comment {
                font-size: 11px;
            }

        }
        // Columns content settings - END

    }
    // List table (columns & content) END

    // Donations errors display:
    .error-full-info-tooltip-content {
        display: none;
    }
    .ui-tooltip.error-full-info-tooltip {
        padding: 0;
    }
    .leyka-donation-error-details {

        margin: 0;

        .error-details {
            padding: 0 20px 20px 20px;
        }

        .error-details-footer {
            padding: 0 20px 20px 20px;
        }

        .error-details-after-footer {
            padding: 0 20px 20px 20px;
        }

    }
    // Donations errors display - END

}