/** == Settings and variables (_donors_presets.scss)  == **/

// Donors list page:
$leyka-donors-stroke:					#DDDDDD;

$leyka-donors-color-selector-text:      $leyka-admin-color-text;
$leyka-donors-color-selector-bg:        $color-white;
$leyka-donors-color-selector-stroke:    $leyka-donors-stroke;

$leyka-donors-color-selected-item-text:      $leyka-admin-color-text;
$leyka-donors-color-selected-item-bg:        #F1F1F1;
$leyka-donors-color-selected-item-stroke:    $leyka-donors-stroke;

// Donors info page:
$leyka-donor-color-explanation: #565656;
$leyka-donor-color-donation-info-bg: #F1F1F1;