/** Donation Info/Edit/Recurring Subscription Info page **/
// TODO: Separate donation info and recurring subscription info pages' styles
.leyka-admin-donation-info, .leyka-admin-recurring-subscription-info {

    #poststuff .postbox {

        h2.hndle {

            margin: 0;
            padding: 16px;

        }

        .inside {

            margin: 0;
            padding: 16px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            font-family: 'Roboto';

        }

        &.closed .inside {
            display: none;
        }

    }

    .leyka-set {

        margin: 0;
        width: 100%;

        legend {

            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #23282D;
            display: block;
            width: 98%;
            margin-bottom: 10px;
            cursor: pointer;

            &:after {

                content: "\f142";
                font: normal 20px/1 dashicons;
                speak: never;
                display: inline-block;
                padding: 0;
                top: -4px;
                line-height: .5;
                position: relative;
                vertical-align: middle;
                color: #3c434a;

            }

            &.leyka-closed:after {
                content: "\f140";
            }

        }

        .leyka-content-wrapper {

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 12px;
            gap: 16px;
            border: 1px dashed #E0E0E0;

            .leyka-ddata-string {

                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: flex-start;
                padding: 0px;
                gap: 20px;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                flex-wrap: wrap;
                width: 100%;

                .leyka-ddata-field {

                    color: #23282D;

                    input, textarea {
                        width: 98%;
                        max-width: 700px;
                    }

                    input[type="checkbox"], input[type="radio"] {
                        width: unset;
                        max-width: 700px;
                    }

                    /*
                    .fake-input {
                        display: inline-block;
                        box-sizing: border-box;
                        width: 98%;
                        max-width: 700px;
                        border: 1px solid #ddd;
                        padding: 3px 5px;
                        line-height: 20px;
                        min-height: 27px;
                    }
                    */

                    .text-line {

                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding: 0px;
                        gap: 4px;
                        background: #FFFFFF;
                        border: 1px solid #FFFFFF;

                    }

                    .field-help {
                        display: inline-block;
                        padding: 2px 0 0 4px;
                    }

                    .campaign-actions {

                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        padding: 0px;
                        gap: 20px;

                        a {

                            font-style: normal;
                            font-weight: 500;
                            font-size: 10px;
                            line-height: 16px;
                            color: #007CBA;
                            text-decoration: none;
                            border-bottom: 1px dashed;

                        }

                    }

                    #donation-amount, #donation-amount-total, #new-donation-amount {
                        max-width: 320px;
                    }

                    #custom-payment-info {
                        margin-top: 10px;
                    }

                }

                label {

                    width: 150px;
                    color: #586067;

                }

            }

            .recurring-is-active-field {

                width: 100%;
                display: flex;
                gap: 20px;

                .leyka-ddata-field {
                    padding-top: 3px;
                }

            }

            .field-error {

                display: none;
                background: #FFE9E9;
                border: 1px solid #FBC4C4;
                color: #DE5959;
                padding: 2px 10px;
                margin-top: 5px;
                font-size: 12px;
                border-radius: 3px;

                a {

                    color: #fc001e;

                    a:hover, a:focus, a:active {
                        color: #aa363a;
                    }

                }

            }

            .set-action {

                .button {

                    font-family: 'Roboto';
                    padding: 6px 10px;
                    border: 1px solid #007CBA;
                    border-radius: 2px;
                    background: none;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 16px;
                    color: #007CBA;

                }

                #campaign-select {
                    width: 70%;
                    max-width: 700px;
                }

            }

        }

    }

    #leyka_donation_emails_status {

        .leyka-ddata-string {

            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            gap: 20px;

            label {

                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 0px;
                gap: 10px;
                width: 460px;
                height: 18px;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                cursor: default;
                color: #23282D;

                img {
                    width: 16px;
                }
            }

            &.no-thanks label {
                color: #8E8E8E;
            }

            .leyka-ddata-field {

                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                display: flex;
                align-items: center;
                color: #586067;

            }

        }

        .send-donor-thanks {

            display: inline;
            cursor: pointer;
            font-weight: bold;

            &:hover {
                color: #ff0000;
            }

        }

    }

    /* datepicker */
    #ui-datepicker-div {

        background: #fff;
        border: 4px solid #dfdfdf;
        box-shadow: 1px 1px 3px rgba(10, 10, 10, 0.65);

        .ui-datepicker-header {

            padding: 4px 0;
            position: relative;

            .ui-datepicker-prev, .ui-datepicker-next {
                font-size: 12px;
                line-height: 28px;
                cursor: pointer;
                width: 38px;
                letter-spacing: -0.5px;
                position: absolute;
                top: 4px;
            }

            .ui-datepicker-prev {
                text-align: right;
                left: 0;
            }
            .ui-datepicker-next {
                text-align: left;
                right: 0;
            }
            .ui-datepicker-title {
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                width: 100%;
                text-align: center;
                padding: 0 38px;
            }

        }

        table {
            font-size: 12px;
            border-collapse: collapse;

            thead {

                th {
                    background: #f9f9f9;
                    text-align: center;

                    span {
                        padding: 4px 0;
                    }
                }

            }

            tbody {
                td {
                    text-align: right;
                    border: 1px solid #dfdfdf;

                    &:hover {
                        background: #f5f5f5;
                    }

                    &.ui-datepicker-current-day {
                        background: #eaf9ff;
                        font-weight: bold;

                        a {
                            color: #0074a2;
                        }

                    }

                }
            }

            a {
                color: #333;
                text-decoration: none !important;
                display: inline-block;
                padding: 4px 8px;
                background: transparent;
            }

        }
    }

    /* sidebar */
    .leyka-status-section {

        padding: 10px 0;

        &.select {
            text-align: right;

            label {
                display: inline-block;
                width: 20%;
                text-align: left;
            }

            select {
                width: 77%;
                text-align: left;
            }
        }

        &.actions {
            overflow: hidden;
            background: #f5f5f5;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            margin: 0 -12px;
            padding: 5px 12px;

            div {
                float: left;
                width: 50%;
                padding: 5px 0;
            }

            .delete-action {
                text-align: left;
                line-height: 30px;
            }

            a {
                color: $color-main-red;

                &:hover {
                    color: #ff0000;
                }
            }

            .save-action {
                text-align: right;
                height: 30px;
            }

        }

    }

    #donation-status-log-toggle {
        text-align: right;
        padding: 5px 0;
        color: #0074A2;
        text-decoration: underline;
        cursor: pointer;
        font-size: 11px;

        &:hover {
            color: #2ea2cc;
        }
    }

    #donation-status-log {
        font-size: 12px;
    }

    // Donation gateway response - Donation error details:
    .leyka-donation-error-details {

        @include leyka-donation-error-full-info();

        h2.error-name {
            padding: 12px !important;
        }

        background: $leyka-color-error-light-2;

        i.close, .error-details-after-footer { // Hide the unneeded elements
            display: none;
        }

    }
    // Donation gateway response - Donation error details - END


    .dataTables_wrapper {

        width: 100%;

        table.dataTable {

            width: 100%;


            td {

                padding: 10px;
                height: 36px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;

            }

            tbody td {
                font-weight: 600;

                &.column-amount .amount-total {
                    color: #8E8E8E;
                }

                &.column-gateway_pm {

                    .leyka-gateway-pm {

                        display: flex;
                        flex-direction: row;
                        justify-content: start;
                        align-items: center;
                        gap: 4px;

                        div {

                            display: flex;
                            flex-flow: row nowrap;
                            align-items: center;

                            img {

                                width: 30px;
                                height: 30px;

                            }

                        }

                    }

                }

            }

            tfoot {
                display: none;
            }

        }

    }



}
