.leyka-admin-recurring-subscriptions-list {

    // Admin list table columns:
    .wp-list-table {

        .column-id {
            width: 90px;
        }
        .column-status {
            width: 100px;
        }
        .column-first_donation {
            width: 121px;
        }
        .column-next_donation {
            width: 121px;
        }
        .column-donations_number {
            width: 121px;
        }
        .column-gateway {
            width: 136px;
        }
        .column-amount {
            width: 150px;
        }

    }

}