.leyka-admin .leyka-options-section {
    
    &.with-tabs .content > div {
        max-width: inherit;
    }
    
    .section-tabs-wrapper {

        .section-tab-nav {

            display: flex;
            border-bottom: 1px solid $color-section-tabs-line;
            height: 2rem;
            justify-content: flex-start;
            
            a.section-tab-nav-item {

                @include wizard-text();

                color: $color-section-tabs-text;
                height: 2rem;
                margin-right: 2rem;
                border-bottom: 1px solid $color-section-tabs-line;
                text-decoration: none;
                
                &:active, &:focus {
                    @include leyka-outline-none();
                }
                
                &.active, &:hover {
                    color: $color-section-tabs-text-active;
                    border-bottom: 1px solid $color-section-tabs-line-active;
                }
                
                &:first-child {
                    margin-right: 1.5rem;
                }

            }

        }
        
        .section-tab-content {

            display: none;
            padding-top: .3em;
            
            &.with-sidebar .tab-content-options-wrapper {
                width: 335px;
            }
            
            &.active {
                display: flex;
            }
            
            .tab-section-options {
                .field-component.title {
                    display: none;
                    
                    &.tab-section-options-title {
                        display: block;
                        font-size: 14px;
                        line-height: 21px;
                        margin-bottom: 1rem;
                    }
                }
                
                #leyka_template_options_neo_donation_submit_text-wrapper,
                #leyka_template_options_radios_donation_submit_text-wrapper,
                #leyka_template_options_toggles_donation_submit_text-wrapper,
                #leyka_revo_template_slider_max_sum-wrapper,
                #leyka_revo_donation_complete_button_text-wrapper,
                #leyka_template_options_revo_donation_submit_text-wrapper {
                    .field-component.title {
                        display: block;
                        padding-top: 6px;
                    }
                }
                
                & > div {
                    margin-bottom: 0.9rem;
                }
            }
            
            .tab-content-options-wrapper {
                & > div {
                    margin-top: 1.2rem;
                }
            }
            
            .tab-screenshots {
                padding-left: 44px;
                display: flex;
                justify-content: center;
                margin-top: 1.2rem;
                
                .tab-screenshot-item {
                    display: none;
                    align-items: center;
                    
                    &.active {
                        display: flex;
                    }
                }
                
                .captioned-screen {
                    @include leyka-zoom-image();
                    
                    img.leyka-instructions-screen {
                        max-width: 201px;
                        border: 1px solid $color-section-screenshot-border;
                    }
                }                
                
                .tab-screenshot-nav {
                    width: 18px;
                    position: relative;
                    
                    img {
                        width: 13px;
                        height: 24px;
                        cursor: pointer;
                        outline: 0 !important;
                        position: absolute;
                        top: 205px;
                        left: 3px;
                        display: none;
                    }
                    
                    &.active {
                        img {
                            display: block;
                        }
                    }
                    
                    &.left {
                        margin-right: 1rem;
                    }
                    
                    &.right {
                        margin-left: 1rem;
                        left: 2px;
                    }
                }
            }
            
            .field-component.title .required {
                display: none;
            }
            
            .field-component.field {
                label {
                    font-weight: 400;
                }
            }

        }

    }

    &#payments_options {
        .section-tabs-wrapper {
            .section-tab-content {
                .tab-content-options-wrapper {
                    .tab-section-options {

                        .field-component.field {
                            input:not([type=checkbox]):not([type=radio]), select, textarea {
                                width: 248px;
                            }
                        }

                        .field-component.title {
                            display: flex;
                        }

                        .delete-additional-field.delete-item {
                            margin-top: 24px;
                            color: #d43c57;
                            cursor: pointer;
                        }

                    }
                }

                .field-component.title .required {
                    display: block;
                }
            }
        }

    }

    &#cryptocurrencies_options {

        .content {

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;

            #leyka_cryptocurrencies_text-wrapper {
                width: 100%;
            }

            #leyka_cryptocurrencies_wallets-wrapper {

                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0px;
                gap: 16px;
                max-width: none;
                width: 100%;

                .leyka-block-header {

                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    padding: 0px;
                    gap: 20px;
                    width: 100%;

                    span {

                        min-width: 150px;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 18px;
                        color: #23282D;

                    }

                }

                .leyka-main-cryptocurrencies-wallets {

                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 0px;
                    gap: 16px;
                    width: 100%;

                    .cryptocurrency-wallet-option {

                        border: none;
                        margin: 0;
                        background-color: transparent;
                        color: #586067;

                        .box-content {

                            padding: 0;

                            .single-line {

                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                padding: 0px;
                                gap: 20px;
                                margin-bottom: 0;

                                .option-block {

                                    margin: 0;

                                    input {

                                        display: flex;
                                        flex-direction: row;
                                        align-items: center;
                                        padding: 6px 10px;
                                        gap: 10px;
                                        background: #FFFFFF;
                                        border: 1px solid #C4C4C4;
                                        border-radius: 2px;
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 14px;
                                        line-height: 18px;
                                        color: #586067;

                                    }

                                    .cryptocurrency-wallet-option-title input {
                                        width: 150px;
                                    }

                                    .cryptocurrency-wallet-option-link input {
                                        width: 435px;
                                    }

                                    .field-errors {
                                        display: none;
                                    }

                                    .delete-additional-field.delete-item {
                                        margin-top: 6px;
                                        cursor: pointer;
                                    }

                                }

                            }

                        }

                    }

                }

                .add-item {
                    padding: 0;
                }

            }

        }

        .submit {
            padding-top: 16px;
        }

    }

    &#currency_options {
        .section-tabs-wrapper {
            .section-tab-content {
                .tab-content-options-wrapper {
                    .tab-section-options {

                        .field-component.field {
                            input:not([type=checkbox]):not([type=radio]), select, textarea {
                                width: 248px;
                            }
                        }

                        .field-component.title {
                            display: block;
                        }

                        #leyka_auto_refresh_currency_rates-wrapper,
                        #leyka_auto_refresh_currency_rate_usd-wrapper, #leyka_auto_refresh_currency_rate_eur-wrapper {
                            .field-component.title {
                                display: none;
                            }
                        }

                        //#leyka_currency_rur2usd-wrapper {
                        //    display: none;
                        //}

                    }
                }
            }
        }

    }

    &#donor_accounts {
        #leyka_donor_accounts_available-wrapper {
            margin-left: 29px;
        }
    }

    .field-component.disabled {
        color: $color-border-normal;
    }

}
