
// CP wizard pages
.leyka-wizard {
    
    .main-area {
        
        // CP payment tryout custom field:
        .custom_cp_payment_tryout {

            margin-top: 24px;

            .payment-tryout-wrapper {

                th {
                    font-weight: 600;
                    text-align: left;
                    vertical-align: top;
                    border-bottom: 1px solid $color-border-normal;
                    height: 26px;
                }

                td {
                    font-size: 14px;
                    border-bottom: 1px solid $color-border-normal;
                    height: 42px;
                    padding: 7px 0;
                }

                th,td[class*="card-"] {
                    padding-right: 12px;
                }
                
                .bank-card-data.card-number {
                    width: 35%;
                    white-space: nowrap;
                    
                    .leyka-wizard-copy2clipboard {
                        .copy-control {
                            top: calc(45%);
                        }
                    }
                }

                .cp-payment-result {
                    width: 248px;
                }

                .sec-action {
                    @include wizard-button-caption();
                    color: $color-text-semi;
                    font-weight: 600;
                    height: 40px;
                    width: 100%;
                    border-radius: 4px;
                    border: 1px solid $color-border-normal;
                    background-color: $color-white;
                }

            }

            //.payment-tryout.field-errors {
            //
            //    @include common-error-message();
            //    display: none;
            //
            //}
            .field-errors {

                @include common-error-message();

                display: none;
                margin: 8px 0;

                &.has-errors {

                    display: block;

                    span {
                        font-size: 13px;
                    }

                }

            }

            .call-support {
                display: none;
            }

        }
        // CP payment tryout custom field - END        

        .custom-block-payment-cards-icons {
            
            .gateway-supported-cards {
                
                img {
                    vertical-align: middle;
                    margin-right: 1rem;
                }
                
            }
            
        }
        
        .settings-block.text-block .custom-block-cp-prepare-documents {
            padding-bottom: 4px;
            
            .fields {
                
                margin-top: 1rem;
                
                .field {
                    margin-bottom: 12px;
                    
                    label {
                        line-height: 15px;
                        margin-bottom: 2px;
                    }
                    
                    .field-errors {
                        display: none;
                        span {
                            font-size: inherit;
                        }
                    }
                    
                    .field-text {
                        margin-bottom: 0;
                        
                        &:empty {
                            display: none;
                        }
                        
                        &:empty + .field-errors {
                            display: block;
                            line-height: 21px;
                        }
                    }
                }
                
                .inline-container {
                    display: flex;
                    
                    .field {
                        justify-content: flex-start;
                        margin-right: 1rem;
                    }
                }
                
            }
            
            ul {
                margin-bottom: 0.5rem;
                li {
                    margin-bottom: 10px;
                }
            }
            
            .org-data {
                margin-left: 1.1rem;
            }
            
            .fill-explain {
                @include wizard-field-explain();
                color: $color-wizard-field-explain;
                display: block;
                margin-top: 10px;
                margin-bottom: 6px;
            }
            
        }
        
        .settings-block.option-block.type-text {
            #leyka_cp_public_id-field,#leyka_cp_api_secret-field {
                width: 248px;
            }
        }
        
        .settings-block.text-block {

            &#cp-copy-key {
                margin-bottom: 18px;
            }

            .info2copy {
                @include info2copy();
            }

        }
        
    }
    
}


