
// MIXPLAT wizard pages
.leyka-wizard.wizard-mixplat {

  .main-area {
        
          .step {
             
            margin-bottom: 25px;
            
            .block-separator {
                
                display: flex;
                height: 15px;
                margin-bottom: 1rem;
                margin-left: -2px;
                
                div {
                    border-bottom: 1px dashed $color-wizard-preview-border;
                    height: 7px;
                    width: calc(100% - 15px - 0.5rem);
                }
                
                &:before {
                    content: counter(list);
                    counter-increment: list;
                    display: inline-block;
                    background-color: $color-wizard-preview-border;
                    color: $color-wizard-field-explain;
                    margin-right: 0.5rem;
                    width: 15px;
                    height: 15px;
                    border-radius: 15px;
                    line-height: 15px;
                    vertical-align: middle;
                    text-align: center;
                    font-size: 10px;
                    padding: 0px;
                }
              }
            }


				.mixplat-steps{
  	 			 counter-reset: list;
				}
	  }
}

#save_company,
#more-testinfo,
.show-sms,
#leyka_mixplat-sms_default_campaign_id,
#leyka_mixplat-sms_details{
    display: none;
}
#more-testinfo.active,
#leyka-settings-form-rd-sms.active #save_company,
#leyka-settings-form-rd-sms.active .show-sms,
#leyka-settings-form-rd-sms.active #leyka_mixplat-sms_default_campaign_id,
#leyka-settings-form-rd-sms.active #leyka_mixplat-sms_details{
    display: block !important;
} 
#mixplat_test_pay b{
    width: 125px;
    display: inline-block;
}
#leyka-settings-form-rd-sms textarea{
    height: 120px;
}
