
// init wizard pages
.leyka-wizard {

    &.wizard-init {
    
        #leyka_pd_terms_text-field_ifr {
            height: 300px !important;
        }
        
        #leyka_email_thanks_text-field_ifr {
            height: 200px !important;
        }        
    }
}

// Custom step blocks:
.leyka-wizard {
    
    .main-area {
        
        #leyka-settings-form-rd-receiver_legal_data {
            #org_actual_address_differs {
                margin-bottom: 0;
            }
        }
        
        #leyka_campaign_target-field {
            text-align: left !important;
        }
        
        .step-content {
            
            // Campaign decoration block:
            .campaign-decor-wrap {
    
                display: flex;
                justify-content: flex-start;
                align-items: space-between;
    
                .decor-form {
                    flex-basis: 248px;

                    /** @todo Try to move it in a mixin */
                    .upload-photo-field {
                        .field {
                            display: block;
                            position: relative;
    
                            input[type=file] {
                                display: block;
                                height: 40px;
                                width: 248px;
                                outline: none;
                            }
    
                            .upload-photo {

                                @include wizard-button-caption();

                                height: 40px;
                                width: 248px;

                                border: 1px solid $color-border-normal;
                                box-shadow: 0 1px 0 $color-border-normal;

                                color: $color-secondary-button;
                                background-color: $color-white;

                                position: absolute;
                                top: 0;
                                left: 0;
                                //pointer-events: none;
                                outline: none;

                            }
    
                        }
                    }
    
                    #campaign-decoration-loading {
                        display: none;
                    }
                    
                    .step-next.button {
                        margin-right: 0;
                    }
    
                    .loader-wrap {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-top: 2rem;
                    }
    
                }
    
                .decor-preview {
                    flex-basis: auto;
                    border-left: 1px solid $color-wizard-preview-border;
                    margin-left: 1.5rem;
                    padding-left: 1.5rem;
    
                    .title {
                        @include wizard-preivew-title();
                        color: $color-wizard-link-sec;
                    }
    
                    .preview-frame {
                        margin-top: 13px;
                        background-color: transparent;
    
                        iframe {
                            overflow: hidden;
                        }
                    }
                }
            }
    
            // Campaign completed block:
            .custom_campaign_completed {
                
                .leyka-campaign-completed {
                    margin-top: 14px;
                    margin-bottom: 14px;
                }
    
                .leyka-campaign-completed li {
    
                    list-style-type: none;
                    margin-left: 0;
                    margin-top: 0;
    
                    .item-text {
                        
                        padding-top: 7px;
    
                        &:before {
                            @include ok-icon();
                        }
    
                    }
    
                    .item-info {
                        
                        padding-left: 2rem;
    
                        .leyka-current-value {
                            color: $color-wizard-link-sec;
                        }
    
                        .inline-action,
                        .permalink-action {
    
                            font-size: 10px;
                            line-height: 15px;
                            border-bottom: 0;
                            margin-left: 5px;
    
                        }
                        
                        .inline-input {
    
                            margin: 0 5px 0 0;
                            padding: 0 5px;
    
                        }
    
                        .inline-submit,.inline-reset {
                            margin-left: 5px;
                        }
    
                    }
    
                }
    
            }
    
        }
    }
    
}

