@import 'presets';
@import 'typo';
@import 'mixins';
@import 'common';
@import 'components';
@import 'wizard';
@import 'wizard_init';
@import 'wizard_cp';
@import 'wizard_yandex';
@import 'loader';

.leyka-settings-page {

    margin: 41px 72px;

    h1 {
        margin-bottom: 4px;
    }

    #tab-container {

        margin-top: 32px;

    }
    
    .nav-tab-wrapper {
        a {
            color: unset;
        }
    }

    .button-primary {
        @include leyka-button-primary();
    }

    #payment-settings-area-new {

        display: flex;
        flex-direction: row;

        .main-area-wrapper {

            border-right: 1px solid $color-border-normal;
            flex: 1 1 auto; // 640px of the main area + 32px of the it's right margin
            padding-right: 32px;

            .main-area-top {

                margin-bottom: 32px;

                .settings-return-link {

                    font-size: 14px;
                    text-decoration: none;

                    &:before {
                        @include arrow-left-icon();
                    }

                }

            }

            .main-area.single-gateway-settings {

                background-color: $color-white;
                border-radius: 6px;

                .gateway-settings-header {

                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    padding: 24px;

                    .gateway-title {

                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        flex: 0 1 50%;

                        .gateway-header-element {
                            margin-right: 12px;
                        }

                        h2 {
                            font-size: 23px;
                            margin: 0;
                        }

                        .gateway-link {
                            margin: 8px 4px 0 4px;
                        }

                    }

                    .gateway-details {

                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;

                        flex: 0 1 50%;

                        font-size: 13px;

                        .details-element {

                            width: 100%;
                            text-align: center;

                            .details-pic {

                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: baseline;

                                height: 27px;

                                .commission-size {
                                    font-size: 18px;
                                    margin-left: 4px;
                                    margin-top: 4px;
                                }

                            }

                        }

                    }

                }

                .gateway-settings-wrapper {

                    display: flex;
                    flex-direction: row;

                    padding: 0 24px;
                    border-top: 1px solid $color-border-light;
                    border-bottom: 1px solid $color-border-light;

                    h3 {
                        margin: 24px 0;
                        font-weight: 600;
                    }

                    h4 {
                        font-weight: 600;
                        font-size: 13px;
                    }

                    .gateway-settings {

                        padding-right: 24px;
                        border-right: 1px solid $color-border-light;
                        flex: 1 1 50%;

                        .gateway-wizard-link {

                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            margin: 32px 0;
                            font-size: 16px;

                            img {
                                margin-right: 12px;
                            }

                        }

                    }

                    .gateway-pm-list {

                        flex: 1 1 50%;

                        padding-left: 24px;
                        margin-left: -1px;
                        border-left: 1px solid $color-border-light;

                    }

                }

                .gateway-settings-submit {

                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    padding: 24px;

                    font-size: 14px;

                    .gateway-turn-off {
                        text-decoration: none;
                    }

                }

            }

        }

        .side-area-wrapper {

            border-left: 1px solid $color-border-normal;
            flex: 0 0 376px;
            padding-left: 32px;
            margin-left: -1px;

            .pm-order-header {

                h3 {

                    font-size: 16px;
                    margin-top: 0;
                    margin-bottom: 12px;

                }

                .pm-order-description {
                    font-size: 14px;
                }

            }

            .pm-update-status {

                display: flex;
                flex-direction: row;
                justify-content: center;

                position: relative;

                margin-top: 12px;
                height: 16px;

                .result {

                    position: absolute;

                    &.ok-message {

                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        font-size: 10px;
                        color: $color-wizard-link;

                        &:before {
                            @include ok-smile-icon();
                        }

                        &.leyka-loader {
                            top: -13px;
                        }

                    }

                    &.error-message {

                        font-size: 10px;
                        color: $color-wizard-error-message;

                    }

                    &.leyka-loader {
                        top: -12px;
                    }

                }

            }

            #pm-order-settings {

                .pm-order {

                    display: flex;
                    flex-direction: row;

                    list-style: none;
                    margin: 16px 0;

                    height: 83px;
                    background-color: transparentize($color-white, 0.6);
                    border-radius: 4px;

                    box-shadow: 0 1px 4px 0 transparentize($color-text-black, 0.92);

                    cursor: grab;

                    &.ui-sortable-helper {
                        cursor: move;
                    }

                    .gateway-logo-wrapper {

                        flex: 0 0 56px;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        border-right: 1px solid $color-border-normal;

                    }

                    .pm-info {

                        flex: 1 0 200px;

                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .pm-icons {

                            flex: 0 1 50%;
                            padding: 4px 16px;

                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: center;

                            .pm-icon {
                                height: 20px;
                                margin-right: 12px;
                            }

                        }

                        .pm-label-wrapper {

                            flex: 0 1 50%;

                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;

                            border-top: 1px solid $color-border-normal;
                            padding: 4px 16px;

                            .pm-label {

                                font-size: 10px;
                                color: $color-wizard-field-explain;

                            }

                            .pm-control {
                                margin-left: 6px;
                                cursor: pointer;
                            }

                        }

                        .new-pm-label-control {
                            cursor: pointer;
                        }

                        .pm-label-fields input {
                            font-size: 12px;
                        }

                    }

                }
            }

        }

    }

}

.admin_page_leyka_settings_new {
    #wpbody-content {
        padding-bottom: 0;
    }
    
    #wpfooter {
        display: none;
    }
}

#leyka-settings-form-dd-plugin_stats {
    label {
        font-weight: 400;
    }
    
    label[for="leyka_send_plugin_stats-y-field"] {
        @include wizard-h2();
        font-size: 18px;
        color: $color-wizard-text;
    }
}

.placeholders-help {
    font-size: 13px;
    display: none;
    cursor: default;
    
    span.item {
        display: flex;
        padding-bottom: 0.5rem;
    }
    
    code {
        font-size: 13px;
        display: block;
        width: 177px;
        margin-right: 1rem;
        background: none;
        padding-left: 0;
    }
    
    span.description {
        display: block;
        max-width: 351px;
        font-style: normal;
        line-height: normal;
        font-size: 13px;
    }
}

.placeholders-help-actions {
    a {
        margin-right: 1rem;
        
        &.hide-available-tags {
            display: none;
        }
        
        &.restore-original-doc {
            display: none;
        }
    }
}

.leyka-campaign-permalink {

    .edit-permalink-loading {
        display: none;
    }

    .inline-edit-slug-form {
        display: inline-flex;
    }

}

.leyka-campaign-shortcode-field {
    display: flex;
}

// gateways cards
.gateways-cards-list {
    
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    
    .gateway-card {
    }
}

.leyka-admin-gateway-card {
    &.gateway-card {
        
        background-color: $color-white;
        border-radius: 6px;
        width: 304px;
        height: 267px;
        display: block;
        margin-right: 2rem;
        margin-bottom: 2rem;
        
        &.active {
            background-color: #effbff;
            border-color: #d5e8ee;
        }
        
        .gateway-card-header {
            padding: 1rem;
        }
        
        .gateway-card-icon {
            margin-right: 12px;
            position: relative;
            width: auto;
            display: inline-block;
            
            .gateway-logo {
            }
            
            .field-q {
                @include field-q();
                position: absolute;
                top: 0px;
                right: 0px;
                img {
                    fill: #fff;
                }
            }
            
        }
        
        .gateway-card-title {
            @include gateway-card-title();
        }
        
        .gateway-card-status {
            @include gateway-card-status();
            
            &.active {
                
            }
            
            &.activating {
                color: #0085ba;
            }
        }
        
        .gateway-card-params {
            
        }
        
        .gateway-card-supported-pm-list {
            
        }
        
        .gateway-card-action {
            
        }
        
    }
}