@import 'presets';
@import 'typo';

.leyka-wizard {

    display: flex;
    flex-direction: row;

    margin-left: -20px;

    .nav-area {

        border: 1px solid lightgrey;
        width: 400px;

        padding: 10px 20px;
        margin-right: -1px;

    }

    .main-area {

        border: 1px solid lightgrey;
        width: 100%;

        padding: 10px 20px;

        .settings-block {

            &.text-block {
                //margin-bottom: 10px;
            }

            &.option-block {

                margin-bottom: 10px;

                &.option-title-hidden .field-component.title {
                    display: none;
                }
                &.option-description-hidden .field-component.help {
                    display: none;
                }

                .field-component.title {
                    display: block;
                }

            }

            &.container-block {

                display: flex;

            }

            .field-radio {

                label {
                    display: block;
                }

                .radio-entry-description { /** @todo Make it a popup */
                    display: none;
                }

            }

        }

        .field-errors {
            background-color: transparentize(indianred, 0.65);
        }

        .step-submit {
            margin-top: 20px;
        }

    }

}