/** Main plugin admin menu tweaks: */
#adminmenu #toplevel_page_leyka .wp-submenu {

    li:not(.wp-submenu-head) {

        display: flex;
        justify-content: space-between;

        .leyka-add-new {

            padding-left: 6px;

            &:before {
                content: '\f502';
                display: inline-block;
                cursor: pointer;
                pointer-events: all;
                font-size: 16px;
            }

        }

    }

}
/** Main plugin admin menu tweaks - END */