@import 'typo';
@import 'presets';

@mixin leyka-wizard-tiny-mce {
    margin-left: 1rem;
    margin-right: 1rem;
    
    .leyka-doc-key {
        background-color: $color-editor-leyka-key;
        line-height: 21px;
    }
    
}

body.leyka_person_terms_of_service_text-field,
body.leyka_person_pd_terms_text-field {
    @include editor-text();
    @include leyka-wizard-tiny-mce();
}
