/** == Campaign page styles (_campaign.scss) == **/
.edit-post-meta-boxes-area {

    #leyka_campaign_payments_amounts {
        .leyka-options-section {

            margin-top: 15px;

            .section-tabs-wrapper {
                .section-tab-content {
                    .tab-content-options-wrapper {
                        .tab-section-options {

                            .leyka-tabs-titles {

                                display: flex;
                                flex-direction: row;
                                align-items: flex-start;
                                padding: 0px;
                                gap: 10px;
                                margin-bottom: 16px;

                                .leyka-tab-title {

                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    padding: 6px 10px;
                                    gap: 6px;
                                    border: 1px solid #DDDDDD;
                                    border-radius: 6px;
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 14px;
                                    line-height: 18px;
                                    text-align: center;
                                    color: #565656;
                                    cursor: pointer;

                                    &.leyka-active {
                                        background: #E5E5E5;
                                    }

                                }

                            }

                            .payment-amount-option-amount{
                                .field-component.field {
                                    input:not([type=checkbox]):not([type=radio]), select, textarea {
                                        width: 124px;
                                    }
                                }
                            }

                            .payment-amount-option-description{
                                .field-component.field {
                                    input:not([type=checkbox]):not([type=radio]), select, textarea {
                                        width: 248px;
                                    }
                                }
                            }

                            .field-component.title {
                                display: flex;
                            }

                            .delete-additional-field.delete-item {
                                margin-top: 24px;
                                color: #d43c57;
                                cursor: pointer;
                            }

                        }
                    }

                    .field-component.title .required {
                        display: block;
                    }
                }

                .tab-miscellaneous {
                    .leyka-field-inner-wrapper {
                        pointer-events: none;
                    }

                    .field-component.field {
                        input:not([type=checkbox]):not([type=radio]), select, textarea {
                            background-color: #e5e5e5;
                        }
                    }
                }
            }
        }
    }
}
  