/** == Form common settings (_form_settings.scss) == **/

/** Mixins */
@mixin module-height() {
	max-height: 460px; //test
	height: 96vh;
}



div[id *="leyka-pf-"] { //aka namespace
	margin: $base*4 0;

	&:first-child { margin-top: 0; }
	&:last-child { margin-bottom: 0; }

	@include body-text();

	& > svg {
		display: none;
	}

	a {
		border: none;
		text-decoration: none;
	}

	form {
		display: block;
	}
}






