/** == Form elements (_form_elements.scss) == **/


/** Elements */

//INPAGE CARD
div[id *="leyka-pf-"] { //aka namespace

	.inpage-card__thumb {
		background-color: $color-border-tiny;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		width: 100%;
		height: 0;
		padding-bottom: 56.7%;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	.inpage-card__content{
		padding: $base*3;
	}

	.inpage-card_title {
		display: none;
		margin-bottom: $base*2;
	}

	.inpage-card_scale {
		margin-bottom: $base*3;
	}

	.scale {
		width: 100%;
		height: 6px;
		background: $color-border-light;
		border-radius: 2.5px;

		.progress {
			height: 6px;
			background: $color-main;
			border-top-left-radius: 2.5px;
			border-bottom-left-radius: 2.5px;

			&.fin {
				border-top-right-radius: 2.5px;
				border-bottom-right-radius: 2.5px;
			}
		}
	}

	.target {
		margin: $base*2 0 $base/2;
		color: $color-main;
		font-size: 1.2em;
		.curr-mark { margin-left: 2px; }
	}

	.info {
		color: $color-text-light;
		.curr-mark { margin-left: 2px; }
	}

	.inpage-card__note {
		@include supporters();
	}

	.inpage-card__action {
		margin-top: $base*3;

		button {
			border: none;
			@include button();
		}
	}
}

// STEPS COMMONS
div[id *="leyka-pf-"] {

	.step__selection {
		text-align: center;

		a {
			color: $color-link;
			text-decoration: underline;
			border: none;
			font-weight: normal;

			&:hover, &:focus, &:active {
				color: darken($color-link, 10%);
			}
		}

		a + a {
			margin-left: 4px;
		}
	}

	.step__title {
		@include step-title();
		color: $color-text-black;
		text-align: center;
	}

	.step__note {
		@include note-text();
		color: $color-text-light;
		hyphens: none;
		text-align: center;

		a {
			color: currentColor;
			text-decoration: underline;
		}
	}
}

// AMOUNT
div[id *="leyka-pf-"] { //aka namespace

	.amount__figure {
		position: relative;
		width: 196px;
		z-index: 1;
		margin: 0 auto;
		border-bottom: 2px solid $color-border-light;

		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-between;

		&.focus {
			border-bottom-color: $color-main;
		}

		span {
			@include amount-input();
			font-weight: 100;
			color: $color-text-black;
			z-index: 20;
		}

		input {
			@include amount-input();
			-webkit-appearance: none;
			background: transparent;
			border: none;
			border-radius: 0;

			flex: 1 1 auto;

			text-align: center;
			color: $color-text-black;
			padding: 0 4px 4px 4px;
			width: 100px;
		}
	}

	.amount__icon {
		text-align: center;
		padding: $base*3 $base $base*2;
		min-height: 80px;

		@include for(small-screens) {
			min-height: 110px;
		}

		.svg-icon {
			width: 85px;
			height: 80px;

			@include for(small-screens) {
				width: 115px;
				height: 110px;
			}
		}
	}

	.amount__error {
		color: $color-form-invalid;
		display:none;
		padding-top: $base*3;
	}

	.step__action {

		a {
			@include button(small);
			width: 176px;
			text-align: center;
			margin: 4px;
		}

		.monthly {
			position: relative;
			//padding-left: 44px;
		}

		.svg-icon {
			width: 22px;
			height: 15px;
			fill: $color-white;
			vertical-align: text-bottom;
			margin-right: 4px;
		}
	}

	.amount.invalid {
		.amount__figure input {
			border-bottom-color: $color-form-invalid;
		}

		.amount__error {
			display: block;
		}

		.amount__icon {

			.svg-icon {
				display: none;
			}
		}
	}
}


//range selector

@mixin range-track() {
	width: 100%;
	cursor: pointer;
	border-color: transparent;
	color: transparent;
	height: 6px;
	border: none;
	border-radius: 6px;
	background: $color-main;
	animate: 0.2s;
}

@mixin range-thumb() {
	-webkit-appearance: none;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background: $color-white;
	border: 1px solid $color-border-normal;
	cursor: pointer;
}

div[id *="leyka-pf-"] { //aka namespace
	.amount_range {
		padding: 8px;
		text-align: center;

		input[type=range],
		input[type=range]:focus,
		input[type=range]:active,
		input[type=range]::-moz-focus-inner,
		input[type=range]::-moz-focus-outer,
		input[type=range]:-moz-focusring {
			border: 0;
			outline: none;
			background: none;
		}

		input[type=range] {
			-webkit-appearance: none;
			width: 200px;
			margin: 0 auto;
		}

		input[type=range]::-ms-track {
			@include range-track();
		}

		input[type=range]::-moz-range-track {
			@include range-track();
		}

		input[type=range]::-webkit-slider-runnable-track  {
			@include range-track();
		}

		input[type=range]::-ms-thumb {
			@include range-thumb();
		}

		input[type=range]::-moz-range-thumb{
			@include range-thumb();
		}

		input[type=range]::-webkit-slider-thumb {
			@include range-thumb();
			margin-top: -7px;
		}
	}

	.invalid .amount_range {
		input[type=range]::-ms-track,
		input[type=range]::-moz-range-track,
		input[type=range]::-webkit-slider-runnable-track {
			background: $color-form-invalid;
		}
	}
}


// CARDS STEP
div[id *="leyka-pf-"] {  //aka namespace
	.payments-grid {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: stretch;
		justify-items: center;
	}

	.payment-opt {
		text-align: center;
		margin: 6px 4px;
		flex: 1 1 auto;
		width: calc(50% - 8px)
	}

	.payment-opt__button {
		display: inline-block;
		position: relative;
		z-index: 1;
		width: 100%;
	}

	.payment-opt__radio {
		position: absolute;
		top: 10px;
		left: 10px;
		border: none;
		opacity: 0;
	}

	.payment-opt__icon {
		width: 100%;
		height: 65px;

		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;

		border-radius: 5px;
		background: $color-border-tiny;
		transition: background 0.35s;
		cursor: pointer;

		&:hover {
			background: $color-form-active;
		}

		.svg-icon {
			width: 80px;
			height: 41px;
		}

		@include for(small-screens) {
			height: 85px;

			.svg-icon {
				width: 112px;
				height: 57px;
			}
		}
	}

	.payment-opt__radio:checked + .payment-opt__icon {
		background: $color-form-active;
		&:hover {
			background: $color-form-active;
		}
	}

	.payment-opt__label {
		display: block;
		margin-top: $base*1.5;
		font-size: 11px;
		hyphens: none;

		@include for(small-screens) {
			font-size: 13px;
		}
	}
}


// FIELDS STEP
div[id *="leyka-pf-"] {  //aka namespace

	.donor__textfield {

		label {
			display: block;
			position: relative;
			@include input-label();
			color: $color-text;
			margin: 0;
			height: 20px;
			overflow: hidden;
		}

		input {
			width: 100%;
			box-sizing: border-box;
			-webkit-appearance: none;
			border: none;
			background: transparent;
			text-align: left;
			border-radius: 0;
			margin: 0;

			padding: 6px 0;
			@include input-text();
			color: $color-text;
			border-bottom: 1px solid $color-border-normal;
		}

		.donor__textfield-error {
			display: none;
			@include input-label();
			color: $color-form-invalid;
			font-size: 12px;
		}

		&.focus {
			input { border-bottom-color: $color-border-dark; }
		}

		&.invalid {
			.donor__textfield-label { display: none; }
			.donor__textfield-error { display: inline-block; }
			input {
				color: $color-form-invalid;
				border-bottom-color: $color-form-invalid;
			}
		}

		&.valid {
			.donor__textfield-label { color: $color-main; }
			input {
				color: $color-main;
				border-bottom-color: $color-main;
			}
		}
	}

	.donor__submit {
		text-align: center;

		input {
			@include button();
		}
	}

	.donor__oferta {
		z-index: 1;
		text-align: center;

		span {
			display: inline-block;
			padding-left: 26px;
			position: relative;
		}

		input {
			margin: 0;
			padding: 0;
			position: absolute;
			top: 4px;
			left: 0;

			border: none;
			opacity: 0;
			z-index: 10;
			cursor: pointer;
		}

		label {
			display: inline-block;
			position: relative;
			@include note-text();
			color: $color-text-light;
			z-index: 2;

			&:before {
				content: '';
				display: block;
				width: 16px;
				height: 16px;
				border-radius: 2px;
				background: $color-white;
				border: 2px solid $color-text;
				position: absolute;
				top: 1px;
				left: -26px;
				cursor: pointer;
			}

			a {
				color: currentColor;
				text-decoration: underline;
			}
		}

		input:checked + label {
			&:before {
				background-color: $color-main;
				border-color: $color-main;
				background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMTdweCIgaGVpZ2h0PSIxM3B4IiB2aWV3Qm94PSIwIDAgMTcgMTMiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiPiAgICAgICAgPHRpdGxlPlNoYXBlPC90aXRsZT4gICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+ICAgIDxkZWZzPjwvZGVmcz4gICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSI+ICAgICAgICA8cGF0aCBkPSJNMTYuNSwxLjg3OTE0Mjg2IEw1LjUyODU3MTQzLDEyLjg1MDU3MTQgTDAuNSw3LjgyMiBMMS43ODkxNDI4Niw2LjUzMjg1NzE0IEw1LjUyODU3MTQzLDEwLjI2MzE0MjkgTDE1LjIxMDg1NzEsMC41OSBMMTYuNSwxLjg3OTE0Mjg2IEwxNi41LDEuODc5MTQyODYgWiIgaWQ9IlNoYXBlIiBmaWxsPSIjRkZGRkZGIiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIj48L3BhdGg+ICAgIDwvZz48L3N2Zz4=);
				background-repeat: no-repeat;
				background-size: 16px 13px;
				background-position: 0 -2px;
			}
		}

		.donor__oferta-error {
			visibility: hidden;
			@include input-label();
			font-size: 12px;
			padding-top: 6px;
			color: $color-form-invalid;
		}

		&.invalid {
			.donor__oferta-error { visibility: visible; }
		}
	}
}

//OFERTA
div[id *="leyka-pf-"] {  //aka namespace
	.leyka-pf__oferta {
		display: none;
		background: $color-white;
		@include body-text();
		color: $color-text;

		p:nth-of-type(1) {
			font-weight: bold;
			font-size: 1.2em;
		}
	}

	.leyka-pf__oferta-action {
		text-align: center;
		padding: $base*2 0;

		a {
			color: $color-link;
			text-decoration: underline;
			&:hover {
				color: darken($color-link, 10%);
			}
		}
	}
}


//REDIRECT
.waiting {
	//position: absolute;
	//top: 0;
	//left: 0;


	width: 100%;
	height: 100%;


	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	background: $color-main;
	border-raius: 10px;
}

.waiting__card {
	width: 223px;
	text-align: center;
	color: $color-white;

	.loading {
		margin: 80px auto;
		width: 80px;
	}
}

//spinner
.spinner {
  width: 80px;
  text-align: center;
}

.spinner > div {
  width: 22px;
  height: 22px;
  background-color: #fff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}


/** form at bottom **/
div[id *="leyka-pf-bottom"] { //aka namespace

	padding: $base*4;
	border: 1px solid $color-border-light;
	background: $color-border-tiny;
	border-radius: 4px;
	margin-top: $base*4;

	.bottom-form__label {
		@include step-title();
		color: $color-main;
		margin-bottom: $base*2;
	}

	.bottom-form__fields {
		max-width: 270px;
	}

	.bottom-form__field {
		width: 100%;
		margin-bottom: $base*3;
		position: relative;
		z-index: 1;

		input {
			position: relative;
			z-index: 1;
			box-sizing: border-box;
			width: 100%;
			-webkit-appearance: none;
			background: $color-white;
			text-align: left;
			border-radius: 5px;
			margin: 0;

			padding: 8px;
			@include input-text();
			color: $color-text;
			border: 1px solid $color-border-light;
		}

		.curr-mark {
			@include body-text();
			font-size: 14px;
			display: inline-block;
			position: absolute;
			top: 50%;
			right: 10px;
			transform: translateY(-50%);
			z-index: 10;
		}
	}

	.bottom-form__button {
		width: 100%;
		button {
			width: 100%;
			@include button();
		}
	}

	.bottom-form__note {
		margin-top: $base*4;
		@include supporters();
	}
}