/** == Payment form (_fomt.scss) == **/

/** Layout and states  */
div[id *="leyka-pf-"] { //aka namespace
	margin: $base*4 0;
	@include body-text();

	& > svg {
		display: none;
	}

}


/** Elements */
//inpage card
div[id *="leyka-pf-"] { //aka namespace

	.inpage-card__thumb {
		background-color: $color-border-tiny;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		width: 100%;
		height: 0;
		padding-bottom: 56.7%;
	}

	.inpage-card_title {
		display: none;
		margin-bottom: $base*2;
	}

	.inpage-card_scale {
		margin: $base*3 0 $base*2;
	}

	.scale {
		width: 100%;
		height: 6px;
		background: $color-border-light;

		.progress {
			height: 6px;
			background: $color-main;
		}
	}

	.target {
		margin: $base*2 0 $base/2;
		color: $color-main;
		font-size: 1.2em;
		.curr-mark { margin-left: 2px; }
	}

	.info {
		color: $color-text-light;
		.curr-mark { margin-left: 2px; }
	}

	.inpage-card__note {
		strong { font-weight: bold; }
		color: $color-text;

		a {
			color: $color-text;
			text-decoration: underline;
			border: none;
			font-weight: normal;

			&:hover, &:focus, &:active {
				color: $color-text-light;
			}
		}
	}

	.inpage-card__action {
		margin-top: $base*3;

		button {
			border: none;
			@include button();
		}
	}
}

//common styles for steps
div[id *="leyka-pf-"] {

	.step__selection {
		text-align: center;
		a {
			color: $color-link;
			text-decoration: underline;
			border: none;
			font-weight: normal;

			&:hover, &:focus, &:active {
				color: darken($color-link, 10%);
			}
		}
	}

	.step__title {
		@include step-title();
		color: $color-text-black;
		text-align: center;
		padding: 8px 0;
	}


}

//amount step
div[id *="leyka-pf-"] { //aka namespace


	.amount__figure {
		text-align: center;
		width: 122px + 30px;
		position: relative;
		z-index: 1;
		margin: 0 auto;

		span {
			@include amount-input();
			font-weight: 100;
			color: $color-text-black;

			display: inline-block;
			position: absolute;
			right: 0;
			top: 2px;
			z-index: 20;
		}

		input {
			@include amount-input();
			-webkit-appearance: none;
			background: transparent;
			padding: 0px 30px 4px 4px;
			position: relative;
			z-index: 1;
			width: 132px + 30px;

			text-align: center;
			color: $color-text-black;

			border: 1px solid transparent;
			border-radius: 0;
			border-bottom: 2px solid $color-border-light;


			&:focus {
				border-bottom-color: $color-main;
			}
		}
	}

	.amount__icon {
		text-align: center;
		padding: $base*3 $base;

		.svg-icon {
			width: 115px;
			height: 110px;
		}
	}

	.amount__error {
		color: $color-form-invalid;
		display:none;
	}

	.step__action {
		margin-top: $base*3;
		text-align: center;
		a {
			@include button(small);
			margin: 4px;
		}

		.monthly {
			position: relative;
			padding-left: 44px;
		}

		.svg-icon {
			width: 22px;
			height: 15px;
			fill: $color-white;
			position: absolute;
			top: 7px;
			left: 18px;
		}
	}
}


//range selector

@mixin range-track() {
	width: 100%;
	cursor: pointer;
	border-color: transparent;
	color: transparent;
	height: 6px;
	border: none;
	border-radius: 6px;
	background: $color-main;
	animate: 0.2s;
}

@mixin range-thumb() {
	-webkit-appearance: none;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background: $color-white;
	border: 1px solid $color-border-normal;
}

div[id *="leyka-pf-"] {
	.amount_range {
		padding: 8px;
		text-align: center;

		input[type=range],
		input[type=range]:focus,
		input[type=range]:active,
		input[type=range]::-moz-focus-inner,
		input[type=range]::-moz-focus-outer,
		input[type=range]:-moz-focusring {
			border: 0;
			outline: none;
			background: none;
		}

		input[type=range] {
			-webkit-appearance: none;
			width: 200px;
			margin: 0 auto;
		}

		input[type=range]::-ms-track {
			@include range-track();
		}

		input[type=range]::-moz-range-track {
			@include range-track();
		}

		input[type=range]::-webkit-slider-runnable-track  {
			@include range-track();
		}

		input[type=range]::-ms-thumb {
			@include range-thumb();
		}

		input[type=range]::-moz-range-thumb{
			@include range-thumb();
		}

		input[type=range]::-webkit-slider-thumb {
			@include range-thumb();
			margin-top: -7px;
		}
	}
}