.leyka-shortcode {

    .donations-list-table {

        thead {
            tr {
                display: flex;
                flex-flow: row nowrap;

                th {
                    flex: 1 1 auto;
                }
            }
        }

    }

}