/** == Typography (_grid.scss) == **/

$body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Typo
@mixin body-text($mod: default) {
	font-family: $body;
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	line-height: 18px;

	@if $mod == strong {
		font-weight: 700;
	}
	@else if $mod == italic {
		font-style: italic;
	}
}

@mixin amount-input {
	font-family: $body;
	font-weight: 100;
	font-style: normal;
	font-size: 38px;
	line-height: 42px;
}

@mixin step-back($mod: default) {
	font-family: $body;
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
	line-height: 16px;
}

@mixin step-title($mod: default) {
	font-family: $body;
	font-weight: 500;
	font-style: normal;
	font-size: 16px;
	line-height: 18px;
}

@mixin input-text($mod: default) {
	font-family: $body;
	font-weight: 500;
	font-style: normal;
	font-size: 16px;
	line-height: 18px;
}

@mixin input-label($mod: default) {
	font-family: $body;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	line-height: 18px;
}

@mixin note-text($mod: default) {
	font-family: $body;
	font-weight: 300;
	font-style: normal;
	font-size: 12px;
	line-height: 18px;
}

@mixin thankyou-title($mod: default) {
    font-family: $body;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
}

@mixin no-thankyou-link($mod: default) {
    font-family: $body;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
}

@mixin informyou-text($mod: default) {
    font-family: $body;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
}

@mixin error-text($mod: default) {
    font-family: $body;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 21px;
}
