/** Star donation form */

.leyka-tpl-star-form .section .section__fields {

    &.merchandise-grid {

        .merchandise-item {

            //padding: 20px;

            &.disabled {
                display: none;
            }

            span {

                display: block;

                &:not(:last-child) {
                    margin-bottom: 16px;
                }

                &.merchandise__label {
                    font-size: 20px;
                    font-weight: 500;
                    text-transform: initial;
                }

                &.merchandise__icon img {
                    border-radius: 4px;
                    width: 100%;
                }

                &.merchandise__description { // Merch item text
                    text-transform: initial;
                    font-size: 13px;
                    font-weight: normal;
                    white-space: normal;
                }

            }

        }

        //.star-swiper {
        //
        //    height: 420px;
        //
        //    .swiper-arrow {
        //
        //        width: 46px;
        //        height: 46px;
        //        border-radius: 50%;
        //        border-color: #D4D9E2;
        //
        //        top: 50%;
        //
        //        //&.swipe-left {
        //        //    //left: 0px;
        //        //}
        //        //&.swipe-right {
        //        //    //right: 0px;
        //        //}
        //
        //    }
        //    .arrow-gradient {
        //        display: none !important;
        //    }
        //
        //    .swiper-list .merchandise.swiper-item {
        //
        //        width: 407px;
        //        height: auto; // 420px
        //        max-height: 420px;
        //
        //        padding: 20px;
        //
        //        //cursor: pointer;
        //
        //        &:not(.selected) {
        //            border-color: transparent;
        //        }
        //
        //        .swiper-item-inner {
        //
        //            height: auto;
        //
        //            align-items: flex-start;
        //
        //            .merchandise__button { // Swiper list item content
        //
        //                display: flex;
        //                flex-flow: column;
        //
        //                span {
        //
        //                    display: block;
        //
        //                    &:not(:last-child) {
        //                        margin-bottom: 16px;
        //                    }
        //
        //                    &.merchandise__label { // Merch item title
        //                        text-transform: initial;
        //                        font-size: 20px;
        //                        font-weight: 500;
        //                    }
        //
        //                    &.merchandise__description { // Merch item text
        //                        text-transform: initial;
        //                        font-size: 13px;
        //                        white-space: normal;
        //                    }
        //
        //                }
        //
        //            }
        //
        //        }
        //
        //    }
        //
        //}

    }

}