.leyka-tpl-star-form .section .section__fields {

    &.merchandise-grid {

        .merchandise-label {
            font-family: var(--leyka-font-main);
            font-size: 20px;
            font-weight: 500;
            text-transform: initial;
            margin-bottom: 16px;
            word-wrap: break-word;
        }

        .merchandise-image {
            border-radius: 4px;
            width: 100%;
        }

        .merchandise-description {
            text-transform: initial;
            font-size: 13px;
            font-weight: normal;
            white-space: normal;
            margin-top: 16px;
        }

        .swiper-arrow {

            border: 1px solid lightgrey;
            width: 34px;
            height: 34px;
            border-radius: 50%;
            background: rgb(255, 255, 255);

            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;

            &.swipe-left {
                &:before {
                    content: '';
                    display: block;
                    width: 14px;
                    height: 18px;
                    background: url(../../../../img/icon-gallery-nav-arrow-left-002.svg) no-repeat;
                }
            }

            &.swipe-right {
                &:before {
                    content: '';
                    display: block;
                    width: 10px;
                    height: 18px;
                    background: url(../../../../img/icon-gallery-nav-arrow-right-002.svg) no-repeat;
                }
            }

        }

        .merchandise-item {
            &.disabled {
                display: none;
            }
        }

        //.merchandise-item {
        //
        //    //padding: 20px;
        //
        //    &.disabled {
        //        display: none;
        //    }
        //
        //    span {
        //
        //        display: block;
        //
        //        &:not(:last-child) {
        //            margin-bottom: 16px;
        //        }
        //
        //        &.merchandise__label {
        //            font-size: 20px;
        //            font-weight: 500;
        //            text-transform: initial;
        //        }
        //
        //        &.merchandise__icon img {
        //            border-radius: 4px;
        //            width: 100%;
        //        }
        //
        //        &.merchandise__description { // Merch item text
        //            text-transform: initial;
        //            font-size: 13px;
        //            font-weight: normal;
        //            white-space: normal;
        //        }
        //
        //    }
        //
        //}

    }

}