/** == Form layout and states (_form_layout.scss) == **/

div[id*="leyka-pf-"].leyka-pf-star {
    @include star-text();
    
    &.card-2col {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    
    .leyka-pf__module {
        border: none;
        
        .leyka-pf__card {
            display: none;
        }
        
        .leyka-pf__form {
            display: block;
            max-width: none;
            
            .leyka-inline-campaign-form {
                
                .step {
                    display: block;
                    position: relative;
                    height: auto;
                    visibility: visible;
                    opacity: unset;
                    margin-bottom: 1.5 * $leyka-star-base;
                    
                    .step__border {
                        width: 100%;
                        border-image: none;
                        border-width: unset;
                        border-style: unset;
                        padding-top: unset;
                    }
                    
                    .step__fields {
                        visibility: visible;
                        padding: 0px;
                    }
                }
                
            }
        }
    }
}