/** == Form elements (_form_elements.scss) == **/

.leyka-pf-star .leyka-pf__module .leyka-pf__form .leyka-inline-campaign-form .step .step__fields {
    
    // periodicity
    &.periodicity {
        display: flex;
        font-family: unset;
        
        a {
            @include star-control-frame();
            @include star-text-periodicity();
            
            display: flex;
            box-shadow: none;
            background-color: $leyka-star-color-white;
            color: $leyka-star-color-gray-light;
            text-decoration: none;
            width: calc(50% + 8px);
            height: 56px;
            text-align: center;
            justify-content: center;
            align-items: center;
            z-index: 10;
            margin-left: -8px;
            
            &:active, &:hover, &:focus {
                text-decoration: none;
            }
            
            &:first-of-type {
                margin-left: 0px;
            }
            
            &.active {
                background-color: $leyka-star-color-main;
                color: $leyka-star-color-white;
                border-color: $leyka-star-color-main;
                z-index: 11;
            }
        }
    }

    // amount
    .amount__figure span {
        font-family: unset;
    }
    
    .star-swiper {
        @include star-swiper();
        
        .swiper-item {
            white-space: nowrap;
        }
    }
    
    // payment methods
    &.payments-grid {
        .star-swiper {
            .swiper-item {
                flex-direction: column;
                margin: 0px;
                
                .payment-opt__button {
                    display: block;
                    
                    .payment-opt__icon {
                        height: 40px;
                        margin-top: -12px;
                        overflow: hidden;
                        display: block;
                        border-radius: none;
                        background-color: transparent;
                    }
                }
                
                span.payment-opt__label {
                    @include star-text-pm-label();
                    text-transform: none;
                    color: $leyka-star-color-gray-light;
                    display: block;
                    margin-top: -5px;
                }
                
            }
        }
    }
    
    // donor data
    &.donor {
        
        .donor__textfield {
            overflow-y: visible;
            margin-bottom: 3px;
            
            .leyka-star-field-frame {
                @include star-control-frame();
                padding: 0.5 * $leyka-star-base 1 * $leyka-star-base 0.75 * $leyka-star-base 1 * $leyka-star-base;
                background-image: none;
                background-position: calc(100% - var(--leyka-star-base)) center;
                background-repeat: no-repeat;
            }
            
            &.donor__textfield--comment {
                .leyka-star-field-frame {
                    height: 114px;
                }
            }
            
            label {
                @include star-text-field-title();
                overflow: visible;

                span.donor__textfield-label {
                    @include star-text-input();
                    display: block;
                    margin-top: 10px;
                    color: $leyka-star-color-gray;
                }
            }

            .leyka-star-field-error-frame {
                min-height: 21px;
                height: auto;
                padding-top: 1px;
                margin-left: 1 * $leyka-star-base;
                vertical-align: bottom;
                
                span.donor__textfield-error {
                    color: $leyka-star-color-error;
                }
            }
            
            &.valid, &.invalid, &.focus {
                .leyka-star-field-frame {
                    textarea {
                        height: 76px;
                    }
                    
                    label {
                        .donor__textfield-label {
                            @include star-text-field-title();
                            margin-top: 0px;
                        }
                    }
                }
            }
            
            &:not(.required) .leyka-star-field-frame {
                background-image: none !important;
            }
            
            &.valid .leyka-star-field-frame {
                background-image: url(../../img/star-icon-ok.svg);
                
                label {
                    .donor__textfield-label {
                        color: $leyka-star-color-main;
                    }
                }
            }

            &.invalid .leyka-star-field-frame {
                background-image: url(../../img/star-icon-error.svg);
                background-color: $leyka-star-color-error-third;
                
                label {
                    color: $leyka-star-color-error;
                    
                    span.donor__textfield-label {
                        color: $leyka-star-color-error;
                    }
                }
                
                input, textarea {
                    color: $leyka-star-color-error;
                }
            }
            
            &.focus .leyka-star-field-frame {
                background-color: $leyka-star-color-main-third;
                
                label {
                    span.donor__textfield-label {
                        color: $leyka-star-color-main;
                    }
                }
                
            }
            
            input, textarea {
                @include star-text-input();
                color: $leyka-star-color-gray-dark;
                border-bottom: none;
                width: calc(100% - 1 * $leyka-star-base - 24px);
            }
            
            input {
                height: 16px;
                padding: 0px;
            }
            
            textarea {
                height: 66px;
                padding: 0px;
            }
        }
    }
    
    // oferta checkboxes
	.donor__oferta {
		z-index: 1;
		text-align: left; // center
        padding-top: 0.5 * $leyka-star-base;
        padding-bottom: 0.5 * $leyka-star-base;

		@include leyka-star-checkbox();

		.donor__oferta-error {
			visibility: hidden;
			@include input-label();
			font-size: 12px;
			padding-top: 6px;
			color: $color-form-invalid;
		}

		&.invalid {
			.donor__oferta-error { visibility: visible; }
		}
	}

    // submit
    .donor__submit {
        input {
            @include leyka-star-btn();
        }
    }
}

.leyka-pf-star {
    
    //oferta modal
    &.leyka-pf--oferta-open,
    &.leyka-pf--pd-open {

		.leyka-pf__overlay {
			display: block;
			position: fixed;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			transform: translateZ(0);
			background: transparentize($leyka-star-color-black, 0.5);
			z-index: 10000;
			opacity: 1;
		}

        .leyka-pf__module {
            position: relative;
            max-width: 900px;
            max-height: unset;
        }
        
    }
    
    &.leyka-pf--oferta-open .leyka-pf__oferta,
    &.leyka-pf--pd-open .leyka-pf__pd {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 10015;
        border-radius: 4px;
        padding: 2.5 * $leyka-star-base 1 * $leyka-star-base 2 * $leyka-star-base 1 * $leyka-star-base;
        margin-bottom: 2 * $leyka-star-base;
    }

    &.leyka-pf--oferta-open .oferta__frame,
    &.leyka-pf--pd-open .pd__frame {
        width: 100%;
        height: 100%;
    }

    &.leyka-pf--oferta-open .oferta__flow,
    &.leyka-pf--pd-open .pd__flow {
        @include star-text();
        
        p {
            margin-bottom: 1 * $leyka-star-base;
            
            &:first-child {
                @include star-h2();
                text-align: center;
            }
        }
    }

    &.leyka-pf--oferta-open .oferta__action,
    &.leyka-pf--pd-open .pd__action {
        position: absolute;
        top: 0.5 * $leyka-star-base;
        right: 0.5 * $leyka-star-base;
        background-image: url(../../img/star-icon-close.svg);
        background-position: center center;
        background-repeat: no-repeat;
        display: block;
        width: 24px;
        height: 24px;
        z-index: 10120;
        text-align: center;

        a {
            display: block;
            width: 100%;
            height: 100%;
            color: transparent;
            background-color: transparent;
            text-decoration: none;
            outline: none;
            box-shadow: none;
            
            &:hover, &:active, &:focus {
                text-decoration: none;
            }
        }
    }
}

.leyka-screen-cancel-subscription .leyka-pf-star .leyka-screen-form {
    
    h2 {
        @include star-h2();
        margin-bottom: 1.5 * $leyka-star-base;
        text-align: center;
    }
    
    .leyka-cancel-subscription-reason {
        @include leyka-star-checkbox();
        span {
            display: block;
            margin-bottom: 1.5 * $leyka-star-base;
        }
    }
    
    .leyka-star-submit {
        margin-top: 3 * $leyka-star-base;
        padding-top: 6px;
        
        .leyka-star-btn {
            @include leyka-star-btn();
            margin-bottom: 1.5 * $leyka-star-base;
            
            &.btn-secondary {
                @include leyka-star-btn(secondary);
            }
        }
    }
    
}

.leyka-screen-thankyou .leyka-pf-star .leyka-screen-form {
    h2 {
        @include star-h2();
        margin-bottom: 1.5 * $leyka-star-base;
        text-align: center;
    }
    
    p {
        @include star-text-rare();
        text-align: center;
        margin-bottom: 1.5 * $leyka-star-base;
    }
    
    .leyka-star-submit {
        text-align: center;
        padding-top: 6px;
        
        .leyka-star-btn {
            @include leyka-star-single-link();
            border-bottom: 1px dashed $leyka-star-color-main;
            
            &:hover {
                text-decoration: none;
                border-bottom: 1px solid transparent;
            }
        }
    }
    
}

.leyka-screen-history .leyka-pf-star .leyka-screen-form {
    h2 {
        @include star-h2();
        margin-bottom: 1.5 * $leyka-star-base;
        text-align: center;
    }
    
    p {
        @include star-text-rare();
        text-align: center;
        margin-bottom: 1.5 * $leyka-star-base;
    }
    
    .leyka-star-history {
        .item {
            text-align: left;
            margin-bottom: 1.5 * $leyka-star-base;
            position: relative;
            border-bottom: 1px solid $leyka-star-color-gray-superlight;
            
            h2 {
                color: $leyka-star-color-black;
                text-align: left;
                margin-bottom: 0;
                margin-top: 0px;
                
                &:before {
                    content: " ";
                    display: block;
                    margin-right: 0.5 * $leyka-star-base;
                    width: 24px;
                    height: 24px;
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                    float: left;
                    margin-top: 2px;                    
                }
                &:after {
                    float: none;
                    clear: both;
                }
            }
            
            &.break h2:before {
                background-image: url(../../img/star-icon-disconnect.svg);
            }

            &.pay h2:before {
                background-image: url(../../img/star-icon-renew.svg);
            }
            
            &.no-pay h2:before {
                background-image: url(../../img/star-icon-no-renew.svg);
            }

            &.error h2:before {
                background-image: url(../../img/star-icon-error.svg);
            }
            
            .date {
                @include star-text-ui-second();
                color: $leyka-star-color-gray;
                position: absolute;
                top: 0px;
                right: 0px;
            }
            
            p {
                @include star-text();
                color: $leyka-star-color-gray;
                text-align: left;
                margin-top: 5px;
                margin-bottom: 0.5 * $leyka-star-base;
            }
        }
    }
    
    .leyka-star-submit {
        text-align: center;
        padding-top: 6px;
        
        .leyka-star-btn {
            @include leyka-star-single-link();
            border-bottom: 1px dashed $leyka-star-color-main;
            
            &:hover {
                text-decoration: none;
                border-bottom: 1px solid transparent;
            }
        }
    }
    
    .leyka-we-need-you {
        margin-top: 2 * $leyka-star-base;
        
        a {
            @include star-clean-a();
            color: $leyka-star-color-main;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.single-leyka_campaign.leyka-screen-cancel-subscription,
.single-leyka_campaign.leyka-screen-thankyou,
.single-leyka_campaign.leyka-screen-history {
    .entry-header {
        display: none;
    }
    
    .entry-header-single {
        display: none;
    }
}

// kandinsky workaround
.single-leyka_campaign .main-content.leyka-campaign {
    overflow: visible;
}