
@mixin star-corners() {
    border-radius: 4px;
}

@mixin star-control-frame() {
    @include star-corners();
    border: 2px solid $leyka-star-color-gray-superlight;
    width: 100%;
    height: 56px;
}

@mixin star-clean-a() {
    text-decoration: none;
    border: none;
    box-shadow: none;
    outline: none;
    
    &:active, &:focus, &:hover {
        text-decoration: none;
        border: none;
        box-shadow: none;
        outline: none;
    }
}

@mixin leyka-star-link {
    @include star-clean-a();
    @include star-text();
    color: $leyka-star-color-main;
    
    &:hover {
        text-decoration: underline;
    }
}

@mixin star-clean-input() {
    text-decoration: none;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none;
    outline: none;
    
    &:active, &:focus, &:hover {
        text-decoration: none;
        border: none !important;
        border-radius: 0 !important;
        box-shadow: none;
        outline: none;
    }
}

@mixin star-swiper {
    height: 56px;
    width: 100%;
    border-bottom: none;

    position: relative;
    display: block;
    overflow: hidden;

    &.no-swipe {
        height: auto;
        border: none;
    }
    
    @include for(medium-screens) {
        @include star-control-frame();
        border: none;

        &.show-right-arrow {
            .arrow-gradient.right {
                display: block;
            }
            
            .swiper-arrow.swipe-right {
                display: flex;
            }
        }
        
        &.show-left-arrow {
            .arrow-gradient.left {
                display: block;
            }
            
            .swiper-arrow.swipe-left {
                display: flex;
            }
        }
    }
    
    &.only-one-item {
        .arrow-gradient.right {
            display: none;
        }
        
        .swiper-arrow.swipe-right {
            display: none;
        }
        
        .arrow-gradient.left {
            display: none;
        }
        
        .swiper-arrow.swipe-left {
            display: none;
        }
        
        .swiper-list {
            width: 100%;
            left: 0px;
        }
    }
    
    .arrow-gradient {
        display: none;
        
        @include for(medium-screens) {
            width: 45px;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: 12;
            pointer-events: none;
            background: linear-gradient(270deg, $leyka-star-color-gradient 30%, rgba(255, 255, 255, 0) 100%);
    
            &.right {
                // right: 46px;
                right: 34px;
            }
            
            &.left {
                transform: matrix(-1, 0, 0, 1, 0, 0);
                // left: 46px;
                left: 34px;
            }
        }
    }
    
    .swiper-arrow {
        @include star-clean-a();
        // width: 46px;
        border: 2px solid $leyka-star-color-swiper-arrow-border;
        width: 34px;
        border-radius: 4px;

        &:active, &:focus, &:hover {
            border: 2px solid $leyka-star-color-swiper-arrow-border;
        }

        // height: calc(100% + 4px);
        height: 100%;
        display: flex;
        align-items: center;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: $leyka-star-color-white;
        position: absolute;
        top: 0px;
        // top: -2px;
        z-index: 10;

        @include for(medium-screens) {
            display: none;
            height: 100%;
            top: 0px;
        }

        // &:after {
        //     content: " ";
        //     display: block;
        //     border-left: 1px solid $leyka-star-color-gray-superlight;
        //     width: 1px;
        //     height: 32px;
        // }
        
        &.swipe-left {
            background-image: url(../../img/icon-gallery-nav-arrow-left-002.svg);
            justify-content: flex-end;                
            // left: -2px;
            left: 0px;

            @include for(medium-screens) {
                left: 0px;
            }
        }
        
        &.swipe-right {
            background-image: url(../../img/icon-gallery-nav-arrow-right-002.svg);
            justify-content: flex-start;
            // right: -2px;
            right: 0px;

            @include for(medium-screens) {
                right: 0px;
            }
        }
    }
    
    .swiper-list, .full-list {
        display: flex;
        position: absolute;
        width: calc(100% - 76px);
        left: 50px;
        overflow: hidden;
        z-index: 8;
        
        @include for(medium-screens) {
            justify-content: space-between;
            left: 0px;
            width: auto;
            overflow: auto;
        }
    }

    .swiper-item {
        background-color: transparent;
        box-sizing: border-box;
        display: none;
        min-width: 1px;
        width: 100%;
        height: 56px;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        white-space: nowrap;

        .swiper-item-inner {
            @include star-control-frame();
            background-color: transparent;
            box-sizing: border-box;
            width: calc(100% - 84px);
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            white-space: nowrap;
        }
        
        @include for(medium-screens) {
            display: table;
            border: 2px solid $leyka-star-color-gray-superlight;
            border-radius: 4px;
            width: auto;
            min-width: 1px;
            padding-left: 1.5 * $leyka-star-base;
            padding-right: 1.5 * $leyka-star-base;
            cursor: pointer;
            margin-right: $leyka-star-base;
            flex-grow: 2;

            .swiper-item-inner {
                height: 52px;
                width: auto;
                border: none;
            }
        }
        
        span, input {
            @include star-text-amount();
            @include star-text-form-amount;
            color: $leyka-star-color-main;
            background-color: transparent;

            @include for(medium-screens) {
                //@include star-text-ui-caption();
                color: $leyka-star-color-gray;
                
                &.amount {
                    width: auto;
                }
            }
        }
        
        &.selected {
            @include for(medium-screens) {
                span, input {
                    color: $leyka-star-color-gray-dark;
                }
            }
        }
        
        &:not(.selected) {
            @include for(medium-screens) {
                span, input {
                    color: $leyka-star-color-gray-semi-dark;
                }
            }
        }
        
        span {
            &.currency:before {
                content: " ";
                margin-left: 0.5 * $leyka-star-base;
            }
        }
        
        input[type=text], input[type=number] {
            padding: 0;
            flex-grow: 0;
            width: auto;
            outline: none;
            text-align: right;
            
            &.show-ph {
                margin-bottom: 7px;
                text-align: center;
                
                @include for(medium-screens) {
                    margin-bottom: 0px;
                    min-width: 105px;
                    &.empty {
                        min-width: 105px;
                    }
                }
            }

            &.empty {
                @include for(medium-screens) {
                    min-width: 50px;
                }
            }
            
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                @include leyka-star-swiper-input-placeholder();
            }
            &::-moz-placeholder { /* Firefox 19+ */
                @include leyka-star-swiper-input-placeholder();
            }
            &:-ms-input-placeholder { /* IE 10+ */
                @include leyka-star-swiper-input-placeholder();
            }
            &:-moz-placeholder { /* Firefox 18- */
                @include leyka-star-swiper-input-placeholder();
            }
        }
        
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        
        input[type=number] {
            -moz-appearance:textfield;
        }
        
        &.selected {
            display: flex;
            
            @include for(medium-screens) {
                display: table;
            }
        }
    }

    // full list
    .full-list {
        width: calc(100% + 16px);
        position: relative;
        flex-wrap: wrap;
        margin-bottom: -$leyka-star-base;
        margin-left: -$leyka-star-base;
        left: 0px;

        .swiper-item {
            display: flex;
            border: 2px solid $leyka-star-color-gray-superlight;
            border-radius: 4px;
            width: auto;
            min-width: max-content;
            padding-left: 1.5 * $leyka-star-base;
            padding-right: 1.5 * $leyka-star-base;
            cursor: pointer;
            margin-left: $leyka-star-base;
            margin-right: 0px;
            flex-grow: 2;
            margin-bottom: $leyka-star-base;

            .swiper-item-inner {
                width: 100%;
                border: none;
            }

            @include for(medium-screens) {
                width: auto;
            }

            span, input {
                @include star-text-form-amount;
                color: $leyka-star-color-gray;
                
                &.amount {
                    width: auto;
                }
            }
        }
    }
}

@mixin leyka-star-swiper-input-placeholder() {
    @include star-text();
    color: $leyka-star-color-gray;
    vertical-align: top;
}

@mixin leyka-star-checkbox() {
    span {
        display: inline-block;
        padding-left: 26px;
        position: relative;
        margin-bottom: 1.5 * $leyka-star-base;
    }
    
    input {
        margin: 0;
        padding: 0;
        position: absolute;
        //top: -1000px; // 4px
        top: unset;
        left: 0;
        border: none;
        opacity: 0;
        z-index: 10;
        cursor: pointer;
    }
    
    label {
        @include star-text-check-label();
        color: $leyka-star-color-gray-dark;
        display: block;
        position: relative;
        z-index: 2;
        margin-bottom: 14px;
        
        &:last-of-type {
            margin-bottom: 0;
        }
    
        &:before {
            content: '';
            display: block;
            width: 18px;
            height: 18px;
            border-radius: 2px;
            background: $color-white;
            border: 2px solid $leyka-star-color-gray-superlight;
            position: absolute;
            top: 1px;
            left: -26px;
            cursor: pointer;
        }
        
		svg.icon-checkbox-check {
        	position: absolute;
			left: -23px;
			top: 5px;
			width: 12px;
			height: 9px;
			display: none;
			fill: $leyka-star-color-main;
		}
    
        a {
            @include star-text-check-label();
            color: $leyka-star-color-gray-dark;
        }
    }
    
    input {
        &:checked + label {
            &:before {
                background: $leyka-star-color-main-third;
                border-color: $leyka-star-color-main-second;
            }
            
            svg.icon-checkbox-check {
            	display: block;
            }
        }

        &:focus-visible + label:before {
            box-shadow: 0px 0px 0px 2px;
        }

        
    }
}

@mixin leyka-star-btn($mod: default) {

    @include star-text-ui-caption();

    font-weight: 500;
    text-decoration: none;
    border: none;
    box-shadow: none;
    outline: none;
    background-color: $leyka-star-color-main;
    display: block;
    color: $leyka-star-color-text-light;
    border-radius: 4px;
    width: 100%;
    padding-top: 19px;
    padding-bottom: 19px;
    text-align: center;
    
	@if $mod == inactive {
		background-color: $leyka-star-color-main-inactive;
        color: $leyka-star-color-white;
	}
	@else if $mod == secondary {
		background-color: $leyka-star-color-white;
        color: $leyka-star-color-gray;
        border: 1px solid $leyka-star-color-gray-superlight;
	}

}

@mixin leyka-star-single-link($mod: default) {

    @include star-text-ui-caption();

    font-weight: normal;
    display: inline-block;
    width: auto;
    
    background-color: transparent;
    color: $leyka-star-color-main;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    
    @include star-clean-a();
    
    &:hover {
        text-decoration: underline;
    }

}

@mixin field-q {
  
    margin-left: 3px;
    vertical-align: baseline;
    cursor: pointer;
    position: relative;
    
    img {
        vertical-align: baseline;
    }
    
    .field-q-tooltip {
        display: none;
        //display: block;
        position: absolute;
        color: $leyka-star-color-tooltip-text;
        background-color: $leyka-star-color-tooltip-bg;
        border-radius: 6px;
        border: none;
        padding: 8px 8px 8px 8px;
        font-size: 12px;
        line-height: 17px;
        z-index: 11;
        top: 150%;
        left: 30%;
        transform:translateX(-50%);
        
        width: 204px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        //white-space: pre-line;
        max-width: max-content;
        text-align: center;
        
        a {
          color: $leyka-star-color-tooltip-text;
        }
        
        &:before {
            content: "";
            display:block;
            width:0;
            height:0;
            position:absolute;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom:8px solid $leyka-star-color-tooltip-bg;
            left:calc(50% - 4px);
            top:-7px;                            
        }
        
        &:empty {
            display: none;
        }
        
    }
    
    &:hover {
        .field-q-tooltip {
            display: block;
            
            &:empty {
              display: none;
            }
        }
    }
    
}

@mixin account-list {
    margin-top: 32px;
    
    .list-title {
        @include star-h2();
        color: $leyka-star-color-black;
        margin-bottom: 0px;
        margin-top: 0px;
        border-bottom: 2px solid $leyka-star-color-gray-superlight;
        padding-bottom: 0.75 * $leyka-star-base;
    }
    
    .items {
        .item {
            @include star-text();
            margin-top: $leyka-star-base;
            display: flex;
            justify-content: space-between;
            
            text-align: left;
            margin-bottom: $leyka-star-base;
            position: relative;
            border-bottom: 1px solid $leyka-star-color-gray-superlight;
            padding-bottom: 0.6 * $leyka-star-base;

            .item-title {
                color: $leyka-star-color-gray;
            }
            
            &:last-child {
                margin-bottom: 0;
                border-bottom: none;
            }
        }
    }
}

@mixin campain-single-line-title {
    @include star-text();
    display: block;
    color: $leyka-star-color-gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin leyka-star-style-block-box {
    background-color: $leyka-star-color-white;
    border-radius: 4px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.05);
    padding: 2 * $leyka-star-base $leyka-star-base $leyka-star-base $leyka-star-base;
    max-width: unset;
    
    @include for(medium-screens) {                
        padding: 2 * $leyka-star-base 2 * $leyka-star-base;
    }
}

@mixin leyka-star-style-block-position {

    margin-top: 0;
    margin-left: - $leyka-star-base;
    margin-right: - $leyka-star-base;
    
    @include for(medium-screens) {                
        margin-top: -120px;
        margin-left: - 2 * $leyka-star-base;
        margin-right: - 2 * $leyka-star-base;
    }

}

@mixin leyka-star-field-error-frame {

	min-height: 21px;
	height: auto;
	padding-top: 1px;
	margin-left: 1*$leyka-star-base;
	vertical-align: bottom;
	
	span.donor__textfield-error {

		@include star-text-field-title();

	    color: $leyka-star-color-error;

	}

}

@mixin leyka-donation-gateway-pm {

    @include star-text-pm-label();

    color: $leyka-star-color-text;
    margin-top: 0.5 * $leyka-star-base;

    img {
        width: 16px;
        height: 16px;
        display: inline;
        margin-right: 4px;
        vertical-align: bottom;
    }

}

@mixin leyka-subscription-list-item {

    &.subscription-canceling,&.subscription-canceled {
        opacity: 0.5;
    }

    .subscription-details {
        max-width: calc(100% - 90px);
    }

    .subscription-status {
        max-width: 90px;

        .canceling {
            color: $leyka-star-color-gray;
        }
    }

    .campaign-title {
        @include campain-single-line-title();
    }

    .amount {
        display: inline-block;
        color: $leyka-star-color-black;
        text-align: left;
        white-space: nowrap;
        margin-right: 0.5 * $leyka-star-base;
        @include star-text-pm-label();
    }

    .donation-gateway-pm {
        @include leyka-donation-gateway-pm();
        display: inline-block;
    }

}