
@mixin star-corners() {
    border-radius: 4px;
}

@mixin star-control-frame() {
    @include star-corners();
    border: 2px solid $leyka-star-color-gray-superlight;
    width: 100%;
    height: 56px;
}

@mixin star-clean-a() {
    text-decoration: none;
    border: none;
    box-shadow: none;
    
    &:active, &:focus, &:hover {
        text-decoration: none;
        border: none;
        box-shadow: none;
    }
}

@mixin star-swiper {
    @include star-control-frame();
    @include star-text-ui-caption();
    display: flex;
    
    .swiper-arrow {
        @include star-clean-a();
        width: 46px;
        height: 100%;
        display: flex;
        align-items: center;
        background-position: center center;
        background-repeat: no-repeat;

        &:after {
            content: " ";
            display: block;
            border-left: 1px solid $leyka-star-color-gray-superlight;
            width: 1px;
            height: 32px;
        }
        
        &.swipe-left {
            background-image: url(../../img/icon-gallery-nav-arrow-left-001.svg);
            justify-content: flex-end;                
        }
        
        &.swipe-right {
            background-image: url(../../img/icon-gallery-nav-arrow-right-001.svg);
            justify-content: flex-start;
            order: 100;
        }
    }
    
    .swiper-item {
        @include star-text-amount();
        color: $leyka-star-color-main;
        background-color: transparent;
        display: none;
        width: calc(100% - 100px);
        height: 56px;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        
        label {
            span {
            }
        }
        
        span {
            @include star-text-amount();
            color: $leyka-star-color-main;
            background-color: transparent;
        
            &:before {
                content: " ";
                margin-left: 0.5rem;
            }
        }
        
        &:first-of-type {
            display: flex;
        }
    }
}

@mixin leyka-star-checkbox() {
    span {
        display: inline-block;
        padding-left: 26px;
        position: relative;
    }

    input {
        margin: 0;
        padding: 0;
        position: absolute;
        top: -1000px; // 4px
        left: 0;

        border: none;
        opacity: 0;
        z-index: 10;
        cursor: pointer;
    }

    label {
        @include star-text-check-label();
        color: $leyka-star-color-gray-dark;
        display: inline-block;
        position: relative;
        z-index: 2;
        margin-bottom: 1.5em;
        
        &:last-of-type {
            margin-bottom: 0;
        }

        &:before {
            content: '';
            display: block;
            width: 18px;
            height: 18px;
            border-radius: 2px;
            background: $color-white;
            border: 2px solid $leyka-star-color-gray-superlight;
            position: absolute;
            top: 1px;
            left: -26px;
            cursor: pointer;
        }

        a {
            @include star-text-check-label();
            color: $leyka-star-color-gray-dark;
        }
    }

    input:checked + label {
        &:before {
            background-color: transparent;
            border: none;
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADFSURBVHgBxdMxCsIwFMbxr8G10CPoATq7OouLODg4OBdc3HQQFAc3ERTc3By8gKuLHsHZHiEnMOYRCpa0pX0p9A/htRl+UJp4auRP8cUBQABeMQTWnhr6H/3ShltS1IBQgUBN8aDx0iwnKAOpDiXIbWcWCypAbKgT6n8YVkZsqDcBtvc0liCXRS5C0YFUqZ3ZGegOgFXfTEKOEfC4oqiWtXOKzNy/zCyBZEP/2PtZCqHsT2PW8BXJgSTciwUU5vQAflIbmx+WHjgzcaJeegAAAABJRU5ErkJggg==');
            background-repeat: no-repeat;
            background-size: 18px 18px;
            background-position: 0 0px;
        }
    }    
}

@mixin leyka-star-btn($mod: default) {
    @include star-text-ui-caption();
    background-color: $leyka-star-color-main;
    display: block;
    color: $leyka-star-color-white;
    border-radius: 4px;
    width: 100%;
    padding-top: 19px;
    padding-bottom: 19px;
    
	@if $mod == inactive {
		background-color: $leyka-star-color-main-inactive;
        color: $leyka-star-color-white;
	}
	@else if $mod == secondary {
		background-color: $leyka-star-color-white;
        color: $leyka-star-color-gray;
        border: 1px solid $leyka-star-color-gray-superlight;
	}
	@else if $mod == link {
		background-color: transparent;
        color: $leyka-star-color-main;
        border: none;
	}
    
}