/** == Typography (_typo.scss) == **/

@mixin star-text($mod: default) {
	font-weight: 400;
	font-style: normal;
	line-height: normal;
	font-size: 16px;

	@if $mod == strong {
		font-weight: 700;
	}
	@else if $mod == italic {
		font-style: italic;
	}
}

@mixin star-text-caption($mod: default) {
	@include star-text($mod);
	text-transform: uppercase;
}

@mixin star-text-input($mod: default) {
	@include star-text-caption($mod);
}

@mixin star-text-field-title($mod: default) {
	@include star-text($mod);
	line-height: 26px;
}

@mixin star-text-description($mod: default) {
	@include star-text($mod);
	font-size: 14px;
	line-height: 22px;
}

@mixin star-text-check-label($mod: default) {
	@include star-text($mod);
	font-size: 12px;
}

@mixin star-text-check-label($mod: default) {
	@include star-text($mod);
	font-size: 12px;
}

@mixin star-text-pm-label($mod: default) {
	@include star-text($mod);
	font-size: 12px;
}