/** == Typography (_typo.scss) == **/

@mixin star-text($mod: default) {
	font-family: $leyka-font-main;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	font-size: 16px;

	@if $mod == strong {
		font-weight: 700;
	}
	@else if $mod == italic {
		font-style: italic;
	}
}

@mixin star-text-ui-main($mod: default) {
	@include star-text($mod);
}

@mixin star-text-ui-second($mod: default) {
	@include star-text($mod);
	font-size: 12px;
}

@mixin star-h1 {
	@include star-text();
	font-size: 24px;
}

@mixin star-h2 {
	@include star-text();
	font-size: 20px;
}

@mixin star-h3 {
	@include star-text();
	font-size: 16px;
}

@mixin star-text-rare {
	@include star-text();
	line-height: 26px;
}

@mixin star-text-logout {
	@include star-text();
	font-size: 12px;
}

@mixin star-text-ui-caption($mod: default) {
	@include star-text($mod);
	text-transform: uppercase;
	
	@media screen and (max-width: 319px) {
		font-size: 12px;
	}
}

@mixin star-text-input {
	@include star-text();
}

@mixin star-text-field-title() {
	@include star-text();
	font-size: 12px;
	line-height: normal;
}

@mixin star-text-description() {
	@include star-text();
	font-size: 14px;
	line-height: 22px;
}

@mixin star-text-check-label() {
	@include star-text();
	line-height: 21px;
}

// special typo
@mixin star-text-periodicity() {
	@include star-text-ui-caption();
}

@mixin star-text-pm-label() {
	@include star-text();
	font-size: 12px;
}

@mixin star-text-amount {
	@include star-text();
	font-size: 24px;
	
	@media screen and (max-width: 319px) {
		font-size: 16px;
	}
	
}

// persistent campaign
@mixin leyka-pc-text($mod: default) {
	font-weight: 400;
	font-style: normal;
	line-height: normal;
	font-size: 16px;
	
	@include for(medium-screens) {
		font-size: 18px;
	}

	@if $mod == strong {
		font-weight: 700;
	}
	@else if $mod == italic {
		font-style: italic;
	}
}

@mixin leyka-pc-h1() {
    @include leyka-pc-text();
	font-size: 24px;
	
	@include for(medium-screens) {
		font-size: 40px;
	}
}

@mixin leyka-pc-text-content() {
    @include leyka-pc-text();
	line-height: 26px;
	
	@include for(medium-screens) {
		line-height: 29px;
	}
}

@mixin leyka-pc-footer() {
    @include leyka-pc-text();
}
