/** == Blocks (_blocks.scss) == **/

/** Leyka Block form */
.wp-block-leyka-form {

	&.leyka-block-form-star:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
		max-width: 600px;
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}

	&.leyka-block-form-need-help {
		max-width: 1200px !important;
	}
}

.leyka-tpl-need-help-form {
	max-width: 760px;
	margin-left: auto;
	margin-right: auto;

	.section .section__fields .star-swiper .full-list .swiper-item {
		flex: 110px 1 0;
	}
}

/** Leyka Block cards */
.leyka-block-cards {

	&-grid {
		display: grid;
		grid-gap: var(--leyka-grid-gap, 30px);
		grid-template-columns: repeat(var(--leyka-grid-columns, 1), minmax(0, 1fr));
	}

	.campaign-card {
		max-width: 100% !important;
		height: 100%;
	}
}

.leyka-grid-columns {
	@media (max-width: 1199px) {
		&-4 {
			--leyka-grid-columns: 3 !important;
		}
	}
	@media (max-width: 991px) {
		&-4,
		&-3 {
			--leyka-grid-columns: 2 !important;
		}
	}
	@media (max-width: 767px) {
		&-4,
		&-3,
		&-2 {
			--leyka-grid-columns: 1 !important;
		}
	}
}
