/** == Blocks (_blocks.scss) == **/

.wp-block-leyka-form {

	&.leyka-block-form-star:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
		max-width: 600px;
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}

	&.leyka-block-form-need-help {
		max-width: 1200px !important;
	}

}

.leyka-tpl-need-help-form {
	max-width: 760px;
	margin-left: auto;
	margin-right: auto;

	.section .section__fields .star-swiper .full-list .swiper-item {
		flex: 110px 1 0;
	}
}

div[id*="leyka-pf-"].leyka-pf-need-help {
	padding: 80px;
}
