/** == Typography (_typo.scss) == **/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700,900&subset=cyrillic");
/** == Seetings and variables (_presets.scss)  == **/
/*:root {
  --color-main: 		#1db318;
  --color-main-dark: 	#1aa316;
  --color-main-light: 	#8ae724;
}*/
/** == Elements == **/
/** == Mq == **/
body.mce-content-body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 14px;
}

body.mce-content-body .leyka-doc-key {
  background-color: #80c2dc;
  line-height: 21px;
}
