/** == Form elements (_form_elements.scss) == **/

.leyka-tpl-need-help-form .section .section__fields
/*,.leyka-screen-form .section .section__fields*/ {

    font-size: var(--leyka-need-help-font-size-main);
    font-family: var(--leyka-need-help-font-family-main);

    &.periodicity {

        width: calc(100% + 20px);
        @include need-help-upto(small-screens) {
            width: calc(100% + 10px);
        }

        display: flex;
        flex-flow: row wrap;

        margin-left: -20px;
        margin-bottom: -20px;

        @include need-help-upto(small-screens) {
            margin-left: -10px;
            margin-bottom: -10px;
        }

        a {

            @include need-help-block();

            font-weight: 500;

            flex: 220px 1 1;

            margin-left: 20px;
            margin-bottom: 20px;

            @include need-help-upto(small-screens) {
                margin-left: 10px;
                margin-bottom: 10px;
            }

            &:first-of-type {

                margin-left: 20px;
                @include need-help-upto(small-screens) {
                    margin-left: 10px;
                }

            }

        }

    }

    // swiper
    .star-swiper {

        overflow: unset;

        .full-list {

            width: calc(100% + 10px);
            margin-bottom: -10px;
            margin-left: -10px;

            overflow: unset;

            &.equalize-elements-width {
                justify-content: flex-start;
            }

            .swiper-item {

                @include need-help-block();

                margin-bottom: 10px;
                margin-left: 10px;
                padding: 0 10px;

                flex: 100px 1 1;

                font-size: var(--leyka-need-help-font-size-amounts);

                &.selected {

                    span {
                        color: var(--leyka-need-help-color-text);
                    }

                    .swiper-item-inner {
                        background-color: var(--leyka-need-help-color-blocks-background);
                    }

                }

                span, input {
                    color: var(--leyka-need-help-color-text);
                    font-family: var(--leyka-need-help-font-family-blocks);
                    font-weight: 500;
                    font-size: var(--leyka-need-help-font-size-amounts);
                    text-transform: none;
                }

                &.flex-amount-item {

                    display: flex !important;
                    flex: 200px 1 1;
                    min-width: unset;

                    padding: 8px 20px !important;
                    height: 60px;

                    &.focus, &.selected {
                        @include need-help-block();
                    }

                    &.empty {

                        label {
                            display: inherit;
                        }

                        input {
                            text-align: left;
                        }

                    }

                    .swiper-item-inner {
                        display: flex;
                    }

                    label {

                        display: inline-block;

                        span.textfield-label {
                            display: none;
                        }

                    }

                    input {

                        @include placeholder {
                            color: var(--leyka-need-help-color-text-light) !important;
                            font-size: var(--leyka-need-help-font-size-amounts);
                            font-weight: 500;
                        }

                        display: inline-block;
                        overflow: auto;

                        cursor: pointer;
                        font-size: var(--leyka-need-help-font-size-amounts);
                        font-weight: 500;

                        &[type="number"] {
                            margin-bottom: 0;
                        }

                    }

                }

            }
        }

        .daily-rouble-comment {

            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;

            margin-top: 20px;
            padding: 10px 20px;
            min-height: 60px;

            border: 1px solid var(--leyka-need-help-color-main-second);
            border-radius: 4px;

            font-size: var(--leyka-need-help-font-size-main);
            font-family: var(--leyka-need-help-font-family-main);

            // Bubble arrow:
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: -5px;
                left: 50px;
                height: 10px;
                width: 10px;
                background: var(--leyka-need-help-color-form-background); // inherit
                transform: rotate(-135deg);
                border-bottom: inherit;
                border-right: inherit;
                box-shadow: inherit;
            }
            // Bubble arrow - END

            .daily-rouble-text {
                line-height: 20px;
                font-size: var(--leyka-need-help-font-size-main);
            }

            .daily-rouble-amount, .daily-rouble-currency {
                white-space: nowrap;
                line-height: 20px;
                font-size: var(--leyka-need-help-font-size-main);
                font-weight: 500;
            }

            .daily-rouble-currency {
                margin-left: 2px;
            }

        }

    }

    // payment methods
    &.payments-grid {

        .star-swiper {

            .full-list {

                width: calc(100% + 20px);
                @include need-help-upto(small-screens) {
                    width: calc(100% + 10px);
                }

                margin-left: -20px;
                margin-bottom: -20px;

                @include need-help-upto(small-screens) {
                    margin-left: -10px;
                    margin-bottom: -10px;
                }

            }

            .swiper-item {

                padding: 0 8px;

                .swiper-item-inner {
                    justify-content: center;
                }

                .payment-opt__button {
                    cursor: pointer;
                }

            }

        }

        overflow-y: unset;

        .star-swiper {
            &.no-swipe {

                .swiper-item {
                    &.payment-opt {

                        flex: 220px 1 0;
                        height: 80px;

                        margin-left: 20px;
                        margin-bottom: 20px;

                        @include need-help-upto(small-screens) {
                            margin-left: 10px;
                            margin-bottom: 10px;
                        }

                        span {
                            color: var(--leyka-need-help-color-text-superlight);
                        }

                        .payment-opt__label {
                            cursor: pointer;
                            font-size: var(--leyka-need-help-font-size-pm-options);
                            font-family: var(--leyka-need-help-font-family-blocks);
                        }

                    }
                }

            }
        }

    }

    // donor data
    &.donor {

        display: flex;
        flex-wrap: wrap;

        margin-left: -20px;
        margin-bottom: -20px;

        @include need-help-upto(small-screens) {
            margin-left: -10px;
            margin-bottom: -10px;
        }

        .donor-field {

            flex: 220px 1 0;

            margin-left: 20px;
            margin-bottom: 20px;

            @include need-help-upto(small-screens) {
                margin-left: 10px;
                margin-bottom: 10px;
            }

        }

        .donor__textfield {

            margin-bottom: 2px;

            &.focus .leyka-star-field-frame {
                @include need-help-active-block();
            }

            .leyka-star-field-frame {

                @include need-help-block();

                display: flex;
                align-items: center;

                padding: 0 0 0 20px;

            }

            &.donor__textfield--phone {
                flex-basis: calc(100% - 20px);
            }

            &.donor__textfield--comment {
                flex-basis: calc(100% - 20px);
            }

            .leyka-star-field-error-frame {
                min-height: 32px; // For cases when error message is a 2-liner
            }

            &.valid .leyka-star-field-frame {
                background-image: none;
                background-color: unset;
                border-color: var(--leyka-need-help-color-main);
            }

            input, textarea {

                @include placeholder {
                    color: var(--leyka-need-help-color-text-superlight) !important;
                    font-size: var(--leyka-need-help-font-size-donor-fields);
                    font-family: var(--leyka-need-help-font-family-blocks);
                    font-weight: 500;
                }

                cursor: pointer;
                font-size: var(--leyka-need-help-font-size-donor-fields);
                font-family: var(--leyka-need-help-font-family-main);

            }

        }

    }

    // oferta checkboxes
	.donor__oferta {

        padding: 0;

        span {
            margin-bottom: 20px;
        }

        input:checked + label::before {
            background-color: transparent;
            border-color: var(--leyka-need-help-color-main-second);
        }

        label {

            margin-bottom: 10px;

            cursor: pointer;
            font-size: var(--leyka-need-help-font-size-main);
            font-family: var(--leyka-need-help-font-family-main);
            font-weight: normal;

            svg.icon-checkbox-check {
                fill: var(--leyka-need-help-color-main-second);
            }

            &::before {
                border-color: var(--leyka-need-help-color-main-second);
            }

            a {

                display: inline-block;
                color: unset;

                font-size: var(--leyka-need-help-font-size-main);
                font-family: var(--leyka-need-help-font-family-main);
                text-decoration: none;

                padding-bottom: 2px;
                border-bottom: 1px solid var(--leyka-need-help-color-main-second);

                &:hover {
                    text-decoration: none;
                }

            }

        }

	}

    // submit
    .donor__submit {

        input {

            color: var(--leyka-need-help-color-text);
            background-color: var(--leyka-need-help-color-main-second);

            font-size: var(--leyka-need-help-font-size-submit);
            font-family: var(--leyka-need-help-font-family-submit);
            font-weight: 600;

            &:disabled {
                color: var(--leyka-need-help-color-text-light);
                background-color: var(--leyka-need-help-color-main-inactive);
            }

        }

    }

    .single-pm-icon {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin-top: 15px;
    }

}

.leyka-tpl-need-help-form .section.section--agreements {
    margin-top: 12px;
}

//.single-leyka_campaign.leyka-screen-cancel-subscription,
//.single-leyka_campaign.leyka-screen-thankyou,
//.single-leyka_campaign.leyka-screen-history {
//    .entry-header {
//        display: none;
//    }
//
//    .entry-header-single {
//        display: none;
//    }
//}
//
//div[id*="leyka-pf-"].leyka-pf-star {
//    .leyka-submit-errors {
//        @include star-text-ui-caption();
//        border-radius: 4px;
//        margin: $leyka-star-base 0px 0px 0px;
//
//        &::after {
//            content: " ";
//            position: absolute;
//            top: 0.75 * $leyka-star-base;
//            right: 0.5 * $leyka-star-base;
//            display: block;
//            background-image: url(../../img/star-icon-close-white.svg);
//            background-position: center center;
//            background-repeat: no-repeat;
//            color: transparent;
//            width: 24px;
//            height: 24px;
//        }
//    }
//}
//
//// kandinsky optimization
//div[id*="leyka-pf-"].leyka-pf-star {
//    &.card-2col {
//        margin-left: 0 !important;
//        margin-right: 0 !important;
//    }
//
//}
//
//.single-leyka_campaign .main-content.leyka-campaign {
//    overflow: visible;
//}
//
//.leyka-payment-form.leyka-tpl-star-form {
//    a:link {
//        -webkit-tap-highlight-color: unset;
//    }
//}
//
//.section--static {
//    margin-top: $leyka-star-base;
//
//    .static-text {
//        p {
//            @include leyka-pc-text-content();
//            margin-bottom: $leyka-star-base;
//        }
//    }
//}

// hide periodicity selection
//.leyka-payment-form.leyka-tpl-star-form .section.section--periodicity {
//    &.hidden {
//        display: none;
//    }
//}

// description and dividers
div[id*="leyka-pf-"].leyka-pf-need-help {
    .leyka-tpl-need-help-form {

        .section-title-container {

            justify-content: left;
            margin: 0 0 14px 0;

            .section-title-line {
                display: none;
            }

            .section-title-text {
                color: var(--leyka-need-help-color-text);
                font-size: var(--leyka-need-help-font-size-section-titles);
                font-family: var(--leyka-need-help-font-family-section-titles);
                font-weight: 600;
                text-transform: none;
                padding: 0;
            }

        }
    }
}

//.leyka-tmp-star-form .leyka-rbk-pre-submit-step button {
//    @include leyka-star-btn();
//}