/** == Form elements (_form_elements.scss) == **/

.leyka-tpl-need-help-form .section .section__fields {

    font-size: var(--leyka-need-help-font-size-main);
    font-family: var(--leyka-need-help-font-family-main);
    line-height: 21px;

    &.periodicity {

        width: calc(100% + 20px);
        @include need-help-upto(small-screens) {
            width: calc(100% + 10px);
        }

        display: flex;
        flex-flow: row wrap;

        margin-left: -20px;
        margin-bottom: -10px;

        @include need-help-upto(small-screens) {
            margin-left: -10px;
        }

        a {

            @include need-help-block();

            text-transform: uppercase;
            letter-spacing: 0.5px;
            line-height: 21px;

            flex: 220px 1 1;

            margin-left: 20px;
            margin-bottom: 10px;

            @include need-help-upto(small-screens) {
                margin-left: 10px;
            }

            &:first-of-type {

                margin-left: 20px;
                @include need-help-upto(small-screens) {
                    margin-left: 10px;
                }

            }

            &.active {
                font-weight: 600;
            }

        }

    }

    // Amounts:
    .star-swiper {

        overflow: unset;

        &.amount__figure .full-list .swiper-item.selected span {
            font-weight: 600;
        }

        .full-list {

            width: calc(100% + 20px);
            margin-bottom: -10px;
            margin-left: -20px;

            overflow: unset;

            &.equalize-elements-width {
                justify-content: flex-start;
            }

            .swiper-item {

                @include need-help-block();

                margin-bottom: 10px;
                margin-left: 20px;
                padding: 0 20px;

                flex: 110px 0 0; // Make amount blocks fix width on large screens...
                @include need-help-upto(xxlarge-screens) { // ... but on any other width let amounts widen to fit
                    flex: 100px 1 1;
                }

                font-size: var(--leyka-need-help-font-size-amounts);

                &.selected {

                    span {
                        color: var(--leyka-need-help-color-text);
                        //font-weight: 600;
                    }

                    .swiper-item-inner {
                        background-color: var(--leyka-need-help-color-blocks-background);
                    }

                }

                span, input {
                    color: var(--leyka-need-help-color-text);
                    font-family: var(--leyka-need-help-font-family-blocks);
                    font-weight: 400;
                    font-size: var(--leyka-need-help-font-size-amounts);
                    text-transform: none;
                }

                &.flex-amount-item {

                    display: flex !important;
                    flex: 200px 1 1;
                    min-width: unset;

                    padding: 8px 20px !important;
                    height: 60px;

                    border: 1px solid var(--leyka-need-help-color-blocks-border);
                    border-radius: 0;

                    &.focus, &.selected {
                        @include need-help-block();
                    }

                    &.empty {

                        label {
                            display: inherit;
                        }

                        input {
                            text-align: left;
                        }

                    }

                    .swiper-item-inner {
                        display: flex;
                    }

                    label {

                        display: inline-block;

                        span.textfield-label {
                            display: none;
                        }

                    }

                    input {

                        @include placeholder {
                            color: var(--leyka-need-help-color-text-light) !important;
                            font-size: var(--leyka-need-help-font-size-amounts);
                            font-weight: 500;
                        }

                        display: inline-block;
                        overflow: auto;

                        cursor: pointer;
                        font-size: var(--leyka-need-help-font-size-amounts);
                        font-weight: 500;

                        &[type="number"] {
                            margin-bottom: 0;
                        }

                    }

                }

            }

        }

        .daily-rouble-comment {

            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;

            margin-top: 20px;
            padding: 10px 20px;
            min-height: 60px;

            border: 1px solid var(--leyka-need-help-color-blocks-border);
            border-radius: 0;
            background-color: var(--leyka-need-help-color-blocks-background);

            font-size: var(--leyka-need-help-font-size-main);
            font-family: var(--leyka-need-help-font-family-main);

            // Bubble arrow:
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: -10px;
                left: 39px;
                height: 20px;
                width: 20px;
                background: var(--leyka-need-help-color-blocks-background);
                transform: scale(0.75, 0.75) rotate(-135deg);
                border-bottom: inherit;
                border-right: inherit;
                box-shadow: inherit;
            }
            // Bubble arrow - END

            .daily-rouble-text {
                line-height: 20px;
                font-family: var(--leyka-need-help-font-family-main);
                font-size: var(--leyka-need-help-font-size-main);
                font-weight: 400;
            }

            .daily-rouble-amount, .daily-rouble-currency {
                white-space: nowrap;
                line-height: 20px;
                font-size: var(--leyka-need-help-font-size-main);
                font-weight: 600;
            }

            .daily-rouble-currency {
                margin-left: 4px;
            }

        }

    }

    // Payment methods:
    &.payments-grid {

        .star-swiper {

            .full-list {

                width: calc(100% + 20px);
                @include need-help-upto(small-screens) {
                    width: calc(100% + 10px);
                }

                margin-left: -20px;
                margin-bottom: -10px;

                @include need-help-upto(small-screens) {
                    margin-left: -10px;
                }

            }

            .swiper-item {

                padding: 0 8px;

                .swiper-item-inner {
                    justify-content: center;
                }

                .payment-opt__button {
                    cursor: pointer;
                }

            }

        }

        overflow-y: unset;

        .star-swiper {
            &.no-swipe {

                .swiper-item {
                    &.payment-opt {

                        flex: 220px 1 0;
                        height: 80px;

                        margin-left: 20px;
                        margin-bottom: 10px;

                        @include need-help-upto(small-screens) {
                            margin-left: 10px;
                            //margin-bottom: 10px;
                        }

                        span {
                            color: var(--leyka-need-help-color-text-superlight);
                        }

                        .payment-opt__label {
                            cursor: pointer;
                            font-size: var(--leyka-need-help-font-size-pm-options);
                            font-family: var(--leyka-need-help-font-family-blocks);
                            line-height: 16px;
                        }

                        .swiper-item-inner .payment-opt__icon {

                            display: flex;
                            flex-flow: row nowrap;
                            align-items: center;

                            .pm-icon {

                                margin-right: 8px;
                                margin-bottom: 0;

                                &:last-child {
                                    margin-right: 0;
                                }

                            }

                        }

                    }
                }

            }
        }

    }

    // Donor data:
    &.donor {

        display: flex;
        flex-wrap: wrap;

        margin-left: -20px;
        margin-bottom: -10px;

        @include need-help-upto(small-screens) {
            margin-left: -10px;
        }

        .donor-field {

            flex: 220px 1 0;

            margin-left: 20px;
            margin-bottom: 10px;

            @include need-help-upto(small-screens) {
                margin-left: 10px;
            }

            &.donor-additional-field { // All additional form fields should be in separate lines
                flex-basis: calc(100% - 20px);
            }

        }

        .donor__textfield {

            &.focus .leyka-star-field-frame {
                @include need-help-active-block();
            }

            &.invalid .leyka-star-field-frame {

                border: 2px solid var(--leyka-need-help-color-error);
                background-image: none;

                input {
                    color: var(--leyka-need-help-color-main);
                }

            }

            .leyka-star-field-frame {

                @include need-help-block();

                display: flex;
                align-items: center;

                padding: 0 0 0 20px;

            }

            &.donor__textfield--comment {
                flex-basis: calc(100% - 20px);
            }

            .leyka-star-field-error-frame {

                min-height: 40px; // For cases when error message is a 2-liner
                margin-left: 0;
                margin-top: 10px;
                padding: 0;

                span.donor__textfield-error {
                    color: var(--leyka-need-help-color-error);
                    font-size: var(--leyka-need-help-font-size-main);
                    font-family: var(--leyka-need-help-font-family-main);
                    line-height: 20px;
                }

            }

            &.valid .leyka-star-field-frame {
                background-image: none;
                background-color: var(--leyka-need-help-color-blocks-background);
                border-color: var(--leyka-need-help-color-main);
            }

            input, textarea {

                @include placeholder {
                    color: var(--leyka-need-help-color-text-superlight) !important;
                    font-size: var(--leyka-need-help-font-size-donor-fields);
                    font-family: var(--leyka-need-help-font-family-blocks);
                    font-weight: 500;
                }

                cursor: pointer;
                font-size: var(--leyka-need-help-font-size-donor-fields);
                font-family: var(--leyka-need-help-font-family-main);

            }

        }

    }

    // Oferta checkboxes:
	.donor__oferta {

        padding: 0;

        span {
            margin-bottom: 40px;
        }

        input:checked + label::before { // Checked - box
            background-color: var(--leyka-need-help-color-main-second);
            border-color: var(--leyka-need-help-color-main-second);
        }

        label {

            @include need-help-main-text();

            margin-bottom: 14px;

            cursor: pointer;
            line-height: 21px;

            &::before { // Unchecked
                border: 1px solid var(--leyka-need-help-color-blocks-border-dark);
                border-radius: 0;
                left: -30px;
                width: 20px;
                height: 20px;
            }

            svg.icon-checkbox-check { // Checked - sign
                fill: var(--leyka-need-help-color-text-dark-bg);
                left: -25px;
                top: 7px;
            }

            a {

                @include need-help-main-text();

                display: inline;
                color: unset;

                padding-bottom: 2px;
                border-bottom: 1px solid var(--leyka-need-help-color-main-second);

                &:hover {
                    text-decoration: none;
                }

            }

        }

	}

    .donor__submit {

        input {
            @include need-help-submit();
        }

    }

    .single-pm-icon {

        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin-top: 40px;
        height: 16px;

        .pm-icon {

            height: 100%;
            margin-right: 30px;
            margin-bottom: 0;

            &:last-child {
                margin-right: 0;
            }

        }

    }

}

// Agreements:
.leyka-tpl-need-help-form {

    .section.section--agreements {
        margin-top: 4px;
    }

    // Agreement popup content:
    .leyka-pf__agreement .agreement__flow {

        p {

            font-family: var(--leyka-need-help-font-family-main);
            font-size: var(--leyka-need-help-font-size-main);
            font-weight: 400;

            &:first-child {
                font-family: var(--leyka-need-help-font-family-section-titles);
                font-size: var(--leyka-need-help-font-size-section-titles);
                font-weight: 600;
            }

        }


    }

}

div[id*="leyka-pf-"].leyka-pf-need-help .leyka-tpl-need-help-form {

    // Description and dividers:
    .section-title-container {

        justify-content: left;
        margin: 0 0 12px 0;
        background-color: transparent;

        .section-title-line {
            display: none;
        }

        .section-title-text {
            @include need-help-section-title();
        }

    }

    // Override the Star template Person section margin settings:
    .section {

        margin-bottom: 30px;

        &.section--person {
            margin-bottom: 30px;
        }

    }

    // Override the Star template fields errors settings:
    .donor__textfield .donor__textfield-error {
        display: block;
    }
    .leyka-star-field-error-frame {
        display: none;
    }

    .donor__textfield.invalid .leyka-star-field-error-frame {
        display: block;
    }

}

// Success widget:
.leyka-screen-form.leyka-screen-thankyou.leyka-need-help-thankyou {

    @include need-help-main-text();

    p {
        @include need-help-main-text();
    }

    h1, h2 {
        @include need-help-section-title();
    }

    .section .section__fields {

        .donor__textfield {

            &.focus .leyka-star-field-frame {
                @include need-help-active-block();
            }

            &.valid .leyka-star-field-frame {
                background-color: var(--leyka-need-help-color-blocks-active-background);
            }

            .leyka-star-field-frame {

                @include need-help-block();

                display: flex;
                align-items: center;

                padding: 0 0 0 20px;

                label {
                    display: none;
                }

            }

            &.valid .leyka-star-field-frame {
                background-image: none;
                background-color: unset;
                border-color: var(--leyka-need-help-color-main);
            }

            input, textarea {

                @include placeholder {
                    color: var(--leyka-need-help-color-text-superlight) !important;
                    font-size: var(--leyka-need-help-font-size-donor-fields);
                    font-family: var(--leyka-need-help-font-family-blocks);
                    font-weight: 500;
                }

                cursor: pointer;
                font-size: var(--leyka-need-help-font-size-donor-fields);
                font-family: var(--leyka-need-help-font-family-main);

            }

        }

    }

    // Submit:
    .thankyou-email-me-button input[type="submit"].leyka-success-submit {
        @include need-help-submit();
    }

    // "No, thank you" link:
    .leyka-star-submit a.leyka-star-btn {

        color: unset;
        text-transform: none;

        padding-bottom: 2px;
        border-bottom: 1px solid var(--leyka-need-help-color-main-second);

        &:hover {
            text-decoration: none;
            border-bottom: 1px solid var(--leyka-need-help-color-main-second);
        }

    }

}