@mixin need-help-section-title() {
    color: var(--leyka-need-help-color-text);
    font-size: var(--leyka-need-help-font-size-section-titles);
    font-family: var(--leyka-need-help-font-family-section-titles);
    font-weight: 600;
    text-transform: none;
    letter-spacing: 0;
    line-height: 24px;
    padding: 0;
}

@mixin need-help-main-text() {
    font-size: var(--leyka-need-help-font-size-main);
    font-family: var(--leyka-need-help-font-family-main);
    font-weight: normal;
}

@mixin need-help-active-block() {
    background-color: var(--leyka-need-help-color-blocks-active-background);
    color: var(--leyka-need-help-color-text);
    border: 2px solid var(--leyka-need-help-color-blocks-active-border);
}

@mixin need-help-block() {

    background-color: var(--leyka-need-help-color-blocks-background);
    border: 1px solid var(--leyka-need-help-color-blocks-border);
    //box-shadow: 0 2px 6px rgba(0,0,0, 0.08);
    border-radius: 0;

    font-size: var(--leyka-need-help-font-size-blocks-default);
    font-family: var(--leyka-need-help-font-family-blocks);
    text-transform: none;
    line-height: 21px;

    cursor: pointer;

    height: 60px;

    &.active, &.selected {
        @include need-help-active-block();
    }

}

@mixin need-help-submit() {

    color: var(--leyka-need-help-color-text-dark-bg);
    background-color: var(--leyka-need-help-color-main-second);

    font-size: var(--leyka-need-help-font-size-submit);
    font-family: var(--leyka-need-help-font-family-submit);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.5px;

    &:disabled {
        color: var(--leyka-need-help-color-text-dark-bg);
        background-color: var(--leyka-need-help-color-main-inactive);
    }

}

@mixin need-help-upto($media) {
    @if $media == small-screens {
        @media screen and (max-width: 320px + 20 - 1) { @content; }
    }
    @else if $media == medium-screens {
        @media screen and (max-width: 600px + 20 - 1) { @content; }
    }
    @else if $media == large-screens {
        @media screen and (max-width: 760px + 20 - 1) { @content; }
    }
    @else if $media == exlarge-screens {
        @media screen and (max-width: 1020px + 20 - 1) { @content; }
    }
    @else if $media == xxlarge-screens {
        @media screen and (max-width: 1280px + 20 - 1) { @content; }
    }
}

//@mixin need-help-lower-than($media) {
//    @if $media == small-screens {
//        @media screen and (max-width: 320px + 20 - 1) { @content; }
//    }
//    @else if $media == medium-screens {
//        @media screen and (max-width: 600px + 20 - 1) { @content; }
//    }
//    @else if $media == large-screens {
//        @media screen and (max-width: 760px + 20 - 1) { @content; }
//    }
//    @else if $media == exlarge-screens {
//        @media screen and (max-width: 1020px + 20 - 1) { @content; }
//    }
//    @else if $media == xxlarge-screens {
//        @media screen and (max-width: 1280px + 20 - 1) { @content; }
//    }
//}