/** == Seetings and variables (_presets.scss)  == **/

:root {

    --leyka-need-help-color-main: #000000;
    --leyka-need-help-color-main-second: #000000;
    --leyka-need-help-color-main-inactive: #CCCCCC; // Most of the time, it's the secondary color with lighter shade

    --leyka-need-help-color-form-background: #FAFAFA;

    --leyka-need-help-color-blocks-border: #E6E6E6;
    --leyka-need-help-color-blocks-border-dark: #CCCCCC;
    --leyka-need-help-color-blocks-background: #FFFFFF;
    --leyka-need-help-color-blocks-active-border: var(--leyka-need-help-color-main);
    --leyka-need-help-color-blocks-active-background: var(--leyka-need-help-color-blocks-background);

    --leyka-need-help-color-error: #FF0000;

    //--leyka-color-ok: #1aa316;
    //--leyka-color-ok-second: #9adc98;
    //--leyka-color-ok-third: #f3fcf2;
    //
    //--leyka-color-white: #ffffff;
    //
    //
    //--leyka-color-gradient: #ffffff;

    --leyka-need-help-color-text: #2A2A2A;
    --leyka-need-help-color-text-light: #666666;
    --leyka-need-help-color-text-superlight: #999999;
    --leyka-need-help-color-text-dark-bg: #FFFFFF;

    --leyka-need-help-font-family-main: 'Inter', sans-serif;
    --leyka-need-help-font-family-blocks: 'Inter', sans-serif;
    --leyka-need-help-font-family-submit: 'Inter', sans-serif;
    --leyka-need-help-font-family-section-titles: 'Inter', sans-serif;

    --leyka-need-help-font-size-main: 16px;
    --leyka-need-help-font-size-blocks-default: 16px;
    --leyka-need-help-font-size-amounts: 16px;
    --leyka-need-help-font-size-pm-options: 12px;
    --leyka-need-help-font-size-donor-fields: 16px;
    --leyka-need-help-font-size-submit: 16px;
    --leyka-need-help-font-size-section-titles: 18px;

}