.b-counter-count{font-family:Courier;font-size:23px;font-style:normal;letter-spacing:7px;vertical-align:middle;width:125px;padding-left:6px;}
.b-counter-text{color:white;font-size:13px;text-shadow:0 -1px 0 rgba(0,0,0,0.5);text-transform:uppercase;font-weight:lighter;padding-left:7px;}

.question-icon {
    cursor: pointer;
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url('../images/icons/question-icon.png');
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-bottom: 2px;
}
.for-inputs {
    float:right;
    margin:8px 20px 0px 0px;
}

#edd_purchase_form label.leyka-donor-comment-label {
    width: 94%!important;
}

/* Popovers */
.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    width: 350px;
    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.popover.top {
    margin-top: -10px;
}

.popover.right {
    margin-left: 10px;
}

.popover.bottom {
    margin-top: 10px;
}

.popover.left {
    margin-left: -10px;
}

.popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px!important;
    font-weight: normal;
    line-height: 18px!important;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
h3.popover-title {
    margin: 0;
}
.popover-content {
    padding: 9px 14px;
    font-size: 12px;
}

.popover .arrow,
.popover .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.popover .arrow {
    border-width: 11px;
}

.popover .arrow:after {
    border-width: 10px;
    content: "";
}

.popover.top .arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: #999;
    border-top-color: rgba(0, 0, 0, 0.25);
    border-bottom-width: 0;
}

.popover.top .arrow:after {
    bottom: 1px;
    margin-left: -10px;
    border-top-color: #ffffff;
    border-bottom-width: 0;
}

.popover.right .arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-right-color: #999;
    border-right-color: rgba(0, 0, 0, 0.25);
    border-left-width: 0;
}

.popover.right .arrow:after {
    bottom: -10px;
    left: 1px;
    border-right-color: #ffffff;
    border-left-width: 0;
}

.popover.bottom .arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-bottom-color: #999;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-top-width: 0;
}

.popover.bottom .arrow:after {
    top: 1px;
    margin-left: -10px;
    border-bottom-color: #ffffff;
    border-top-width: 0;
}

.popover.left .arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-left-color: #999;
    border-left-color: rgba(0, 0, 0, 0.25);
    border-right-width: 0;
}

.popover.left .arrow:after {
    right: 1px;
    bottom: -10px;
    border-left-color: #ffffff;
    border-right-width: 0;
}

/* ===================== */
/* polikarpov 25.03.2013 */
#leyka-single-form {
    position: relative;
}
#leyka-single-form-wrapper {
    /*width: 600px;*/
    border: 1px solid #ced2c9;
    border-radius: 15px;
    /*margin: 50px;*/
}
#leyka-single-form-wrapper * {
    -webkit-font-smoothing: subpixel-antialiased;
}
#leyka-single-form-wrapper .edd_price_options li {
    display: inline-block;
    width: 26%;
}
#leyka-single-form-wrapper .edd_price_options {
    border-radius: 15px 15px 0 0;
    padding: 15px 0;
    background: #fafff5;
    position: relative;
}
#leyka-single-form-wrapper #leyka-single-form:after {
    display: table;
    content: "";
    clear: both;
}
#leyka-single-form-wrapper .edd_price_options ul {
    margin: 0 0 4px;
}
#leyka-single-form-wrapper .edd_price_options:after {
    content: '';
    border-bottom: 1px dotted #ced2c9;
    display: block;
    height: 1px;
    width: 90%;
    left: 5%;
    position: absolute;
    bottom: 0px;
}
#leyka-single-form-wrapper .leyka_gateways_ {
    float: left;
    width: 50%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
#leyka-single-form-wrapper .edd-payment-icons {
    padding: 15px 0 30px 28px;
}
#leyka-single-form-wrapper .edd-payment-icons img {
    display: inline-block;
    max-width: 74px;
    height: 40px;
    margin: 3px 5px 0;
}
#leyka-single-form-wrapper .edd-input {
    display: block;
    font-size: 13px;
    resize: none;
    width: 85%;
    border-color: #888;
    color: #000;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
#leyka-single-form-wrapper .edd-description {
    font-size: 12px;
    display: block;
    line-height: 14px;
    color: rgb(131, 131, 131);
}
#leyka-single-form-wrapper #edd-email-wrap {
    margin: 0 0 10px;
}
#leyka-single-form-wrapper #leyka_gateways_list {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px 0px 0 30px;
    font-size: 12px;
}
#leyka-single-form-wrapper #leyka_gateways_list label {
    cursor: pointer;
}
#leyka-single-form-wrapper legend {
    margin: 0 0 0 -12px;
background: #fff;
display: block;
width: 100%;
padding-left: 12px;
}
#leyka-single-form-wrapper  .edd-label.leyka-donor-comment-label {
    font-size: 11px;
}
#leyka-single-form-wrapper #leyka-comment-symbols-remain {
margin-right: 32px;
}
#leyka-single-form-wrapper #edd-first-name-wrap {
    margin-bottom: 10px;
}
#leyka-single-form-wrapper #leyka_form_resp {
    width: 50%;
    float: right;
    position: relative;
    border-radius: 0 0 15px;
    text-align: center;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
#leyka-single-form-wrapper #leyka_form_resp img {
    display: inline-block;
    margin: 30px 0;
}
#leyka-single-form-wrapper #leyka_form_resp fieldset {
    padding: 10px 0 0 12px;
    background: #FFF;
    margin: 0;
    text-align: left;
    border-radius: 0 0 15px;
}
#leyka-single-form-wrapper #leyka_form_resp.complete fieldset,
#leyka-single-form-wrapper #leyka_form_resp.complete p,
#leyka-single-form-wrapper #leyka_form_resp.complete legend {
    background: transparent;
}
#leyka-single-form-wrapper #edd-second-name-wrap,
#leyka-single-form-wrapper #edd-last-name-wrap {
    background: #FFF;
    padding: 10px 0 0 10px;
}
#leyka-single-form-wrapper #leyka_form_resp:after {
    content: '';
    border-left: 1px dotted #ced2c9;
    height: 90%;
    width: 1px;
    position: absolute;
    left: 0px;
    bottom: 5%;
    z-index: 1;
}
#edd_purchase_submit p {
    margin-bottom: 20px;
}
#leyka-single-form-wrapper #leyka_form_resp p {
    margin: 0 0 0;
    padding-bottom: 10px;
    text-align: left;
}
.gateways_list_entry.active,
.gateways_list_entry.active:hover {
    background: #bdff9f;
}
.gateways_list_entry {
padding: 6px;
border-radius: 5px;
margin-right: 14px;
}
.gateways_list_entry:hover {
    background: #E5E5E5;
}
#leyka-single-form-wrapper #leyka_send_donor_email_ span {
    font-size: 12px;
    line-height: 13px;
    display: inline-block;
    width: 85%;
    vertical-align: text-top;
}
#leyka-single-form-wrapper #edd-purchase-button {
  position: relative;
  border-color: #48761c;
  background: #6eb02e;
  padding: 7px 12px;
  font-size: 15px;
  color: #fff;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: 0 1px 0 #48761c;
  margin-bottom: 1px;
  cursor: pointer;
  top: 1px;
  margin: 15px 0px 5px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#leyka-single-form-wrapper #edd-purchase-button:hover {
  top: -1px;
  box-shadow: 0 3px 0 #48761c, 0 5px 5px 1px rgba(0, 0, 0, 0.31);
}
#leyka-single-form-wrapper #edd-purchase-button:active {
  top: 1px;
  box-shadow: 0 1px 0 #48761c;
}
#leyka-single-form-wrapper .leyka_free_donate_amount_ {
    padding: 10px 15px;
    text-align: center;
    font-size: 2.5em;
    position: relative;
    border-radius: 15px 15px 0 0;
}
#leyka-single-form-wrapper .leyka_free_donate_amount_:after {
    content: '';
    border-bottom: 1px dotted #ced2c9;
    display: block;
    height: 1px;
    width: 90%;
    left: 5%;
    position: absolute;
    bottom: 0px;
}
#leyka-single-form-wrapper .leyka_free_donate_amount_ input {
    font-size: 1em;
    width: 155px;
}
#leyka-single-form-wrapper .edd_price {
    display: block;
    text-align: center;
    padding: 10px 15px;
    font-size: 2.5em;
    position: relative;
    background: #fafff5;
    border-radius: 15px 15px 0 0;
    
}
#leyka-single-form-wrapper .edd_price:after {
    content: '';
    border-bottom: 1px dotted #ced2c9;
    display: block;
    height: 1px;
    width: 90%;
    left: 5%;
    position: absolute;
    bottom: 0px;
}
#edd_agree_to_terms {
float: left;
}
#edd_show_terms {
font-size: 12px;
margin-bottom: 10px;
}
label#edd_agree_to_terms_label {
    display: inline-block;
    /*float: right;*/
    width: 93%;
    font-size: 12px;
    line-height: 13px;
}
.complete {
    background: #fafff5;
    border-radius: 15px;
}
#edd_terms {
    /*display: none;*/
    display: block !important;
    position: fixed;
    width: 700px;
    height: 400px;
    top: -200%;
    left: 30%;
    font-size: 12px;
    line-height: 7px;
    background: #fff;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    overflow: auto;
    z-index: 6;
    -webkit-transition: all .3s;
       -moz-transition: all .3s;
        -ms-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
}
#leyka_client_errors {
position: absolute;
bottom: 56px;
right: 0px;
width: 50%;
color: #f00;
background: transparent;
padding: 0px 10px;
box-sizing: border-box;
font-size: 12px;
line-height: 12px;
}