/**
 * Single form styles
 **/

.cf:after { 
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }

.cf{ zoom: 1; }

/** form in general */
#leyka-single-form-wrapper {
	margin: 1.5em 0;
	font: 13px/1.4 Arial, Helvetica, sans-serif;
	color: #444;
	margin: 0;
	border: 1px solid #bce19b;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; }

#leyka-single-form-wrapper  form {
	position: relative; }
	
#leyka-single-form-wrapper * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font: 13px/1.3 Arial, Helvetica, sans-serif; }

#leyka-single-form-wrapper a,
#leyka-single-form-wrapper a:visited {
	color: #468C00; }

#leyka-single-form-wrapper fieldset,
#leyka-single-form-wrapper legend  {
	border: none;
    margin: 0;
	padding: 0;  }

#leyka-single-form-wrapper button,
#leyka-single-form-wrapper input,
#leyka-single-form-wrapper  textarea {
    font: 12px/1.3 "Lucida Console", "Lucida Sans Typewriter", Monaco, monospace;
	color: #444;
    margin: 0;
    vertical-align: baseline; 
    vertical-align: middle;
	outline: none;	}

#leyka-single-form-wrapper textarea {
    overflow: auto; 
    vertical-align: top; }

#leyka-single-form-wrapper input[type="radio"],
#leyka-single-form-wrapper input[type="checkbox"]{
	padding: 0;
	vertical-align: text-bottom; }

#leyka-single-form-wrapper button,
#leyka-single-form-wrapper input {
	line-height: normal; }


/* header */
.form-triger {
	padding: 10px; }
	
#leyka-single-form-wrapper .single-form-head {
	padding: 7px;	
	text-align: right;
	background: #EFF9E6;	
	border-bottom: 1px solid #d5e5c6;	
	font-size: 15px; }

#leyka-single-form-wrapper .leyka_free_donate_amount_ input {
	text-align: right;
	font-size: 18px;	
	border: 1px solid #999;
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 40%;
	padding: 5px; }

#leyka-single-form-wrapper .leyka_free_donate_amount_ label {
	margin-right: 10px; }

#leyka-single-form-wrapper .leyka_single_static_amount_ span {
	display: inline-block;
	text-align: right;
	font-size: 18px;
	font-weight: bold;
	border: 1px solid #a4c28c;
	background: #fff;
	background: rgba(255,255,255, 0.8);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 5px;
	min-width: 200px; }
	
#leyka-single-form-wrapper .leyka_variable_amount_ ul {
	text-align: left;
	margin: 0 !important; }

#leyka-single-form-wrapper .leyka_variable_amount_ li {
	list-style-type: none;
	font-size: 14px;
	display: inline-block;
	margin: 0;
	padding: 5px 15px 5px 5px; }

#leyka-single-form-wrapper .leyka_variable_amount_ .edd_price_option_name,
#leyka-single-form-wrapper .leyka_variable_amount_ .edd_price_option_sep {
	display: none; }

#leyka-single-form-wrapper .leyka_variable_amount_ .edd_price_option_price {
	padding-left: 5px;
	font-weight: bold; 
}


/* gateways */
.gateways_list_entry {
	margin-bottom: 4px; }

.gateways_list_entry label {
	display: inline-block;
	padding: 2px 4px;
	background: #f9f9f9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.3s ;
	-moz-transition: all 0.3s ;
	-ms-transition: all 0.3s ;
	-o-transition: all 0.3s ;
	transition: all 0.3s ; }

.gateways_list_entry label:hover {
	background: #e6f8d7; }

.gateways_list_entry.active label {
	background-color: #dcf9c3; }

/* icons */
.edd-payment-icons {
	padding-top: 20px;}
	
.edd-payment-icons span {
	display: inline-block;
	border: 1px solid #eee;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; 
	width: 60px;
	margin: 0 6px 6px 0; }

.edd-payment-icons span img {
	border: none !important;
	display: block;
	vertical-align: baseline;
	max-width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0; 
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.7);
		box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.7);}	

/* form */
#leyka-single-form-wrapper .form-wrapper {
	padding: 10px; }

#leyka-single-form-wrapper .fields-title {
	 
	font-weight: bold;
	margin-bottom: 1.2em;
	text-transform: uppercase; }

#leyka-single-form-wrapper .field-single {
	position: relative;	
	margin: 8px 30px 8px 0; }

#leyka-single-form-wrapper .field-single + .fields-title {
	margin-top: 2em; }

#leyka-single-form-wrapper .field-single input[type="text"],
#leyka-single-form-wrapper .field-single input[type="email"],
#leyka-single-form-wrapper .field-single textarea {
	padding: 6px 5px;
	border: 1px solid #e2e2e2;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #f9f9f9;
	width: 100%;
	margin-right: 30px; }

	
#leyka-single-form-wrapper .field-help {
	font-size: 11px;
	padding-top: 3px;
	text-align: right;
	color: #999; }

#leyka-single-form-wrapper .field-help * {
	font-size: 11px; }
	
.field-help #leyka-comment-symbols-remain {
	font-weight: bold; }

/* terms */
fieldset#edd_terms_agreement {
	margin: 1em 0 2em; }

#edd_terms {
    /*display: none;*/
    display: block !important;
    position: fixed;
    width: 700px;
    height: 400px;
    top: -200%;
    left: 30%;
    font-size: 12px;
    line-height: 7px;
    background: #fff;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    overflow: auto;
    z-index: 6;
    -webkit-transition: all .3s;
       -moz-transition: all .3s;
        -ms-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s; }


/** question **/
.question-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: transparent url('../images/icons/question-icon.png') no-repeat;
	vertical-align: middle;
    margin-bottom: 2px; }

#leyka-single-form-wrapper fieldset.with-question .question-icon{
	position: absolute;
	top: 50%;
	margin-top: -8px;
	right: -30px; }

/* submit */	

	
#leyka-single-form-wrapper #edd-purchase-button {
	cursor: default;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font: 12px/1.3 Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #ffffff;
	padding: 7px 20px;
	background: -moz-linear-gradient(
		top,
		#ccc 0%,
		#666);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#9cab90),
		to(#879f73));
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border: 1px solid #666;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3); }

#leyka-single-form-wrapper .complete #edd-purchase-button {	
	cursor: pointer;
	background: -moz-linear-gradient(
		top,
		#6aba1a 0%,
		#468c00);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#6aba1a),
		to(#468c00));	
	border: 1px solid #468c00; }
	
#leyka-single-form-wrapper .complete #edd-purchase-button:hover  {
	background: #468c00; 	}

#leyka-single-form-wrapper #edd_purchase_submit p {
	margin: 0; }

/* float */
@media only screen 
and (min-width : 760px) {
	
	#leyka-single-form-wrapper .form-triger {
		float: left;
		width: 40%;}
	
	#leyka-single-form-wrapper .form-wrapper {
		float: right;
		width: 58%; }

	#leyka-single-form-wrapper form .cf {
		background: #f9f9f9;		
background: -moz-linear-gradient(left,  #f9f9f9 0%, #f9f9f9 40%, #ffffff 40%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f9f9f9), color-stop(40%,#f9f9f9), color-stop(40%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #f9f9f9 0%,#f9f9f9 40%,#ffffff 40%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #f9f9f9 0%,#f9f9f9 40%,#ffffff 40%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #f9f9f9 0%,#f9f9f9 40%,#ffffff 40%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to right,  #f9f9f9 0%,#f9f9f9 40%,#ffffff 40%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
		padding: 5px 0;
		margin: 2px; 
	}
	
	.gateways_list_entry label {
		background: transparent; 	}
	
} /* mq */


/* copyright */
#leyka-single-form-wrapper #leyka-copy {
	padding: 0px 8px;
	border-top: 1px solid #BCE19B; }

#leyka-single-form-wrapper #leyka-copy p {
	margin: 0;
	font-size: 11px;
	color: #999;
	padding: 6px 35px 6px  0;
	background: transparent url(../images/logo-m.png) no-repeat right 1px;
	text-align: right; }

#leyka-single-form-wrapper #leyka-copy p a,
#leyka-single-form-wrapper #leyka-copy p a:visited {
	text-decoration: none;
	font-size: 11px; }

#leyka-single-form-wrapper #leyka-copy p a:hover {
	text-decoration: underline; }


/* Popovers */
.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    width: 350px;
    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box; }

.popover.top {
    margin-top: -10px; }

.popover.right {
    margin-left: 10px; }

.popover.bottom {
    margin-top: 10px; }

.popover.left {
    margin-left: -10px; }

.popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px!important;
    font-weight: normal;
    line-height: 18px!important;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0; }
	
h3.popover-title {
    margin: 0; }
	
.popover-content {
    padding: 9px 14px;
    font-size: 12px; }

.popover .arrow,
.popover .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid; }

.popover .arrow {
    border-width: 11px; }

.popover .arrow:after {
    border-width: 10px;
    content: ""; }

.popover.top .arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: #999;
    border-top-color: rgba(0, 0, 0, 0.25);
    border-bottom-width: 0; }

.popover.top .arrow:after {
    bottom: 1px;
    margin-left: -10px;
    border-top-color: #ffffff;
    border-bottom-width: 0; }

.popover.right .arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-right-color: #999;
    border-right-color: rgba(0, 0, 0, 0.25);
    border-left-width: 0; }

.popover.right .arrow:after {
    bottom: -10px;
    left: 1px;
    border-right-color: #ffffff;
    border-left-width: 0; }

.popover.bottom .arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-bottom-color: #999;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-top-width: 0; }

.popover.bottom .arrow:after {
    top: 1px;
    margin-left: -10px;
    border-bottom-color: #ffffff;
    border-top-width: 0; }

.popover.left .arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-left-color: #999;
    border-left-color: rgba(0, 0, 0, 0.25);
    border-right-width: 0; }

.popover.left .arrow:after {
    right: 1px;
    bottom: -10px;
    border-left-color: #ffffff;
    border-right-width: 0; }

/* messages */
#leyka_client_errors {
	float: left;
	width: 37%;
	margin: 20px 0 20px 1%; }
	
#leyka-single-form-wrapper .form-head + .edd_errors {
	margin: 5px; }

#donation_submit_message {
	display: none;
	width: 100%;
	height: 100%;
	background: #fff;
	background: rgba(255, 255, 255 0.95);
	position: absolute;
	top: 0;
	left: 0; }

#donation_submit_message p {
	font-size: 18px;
	color: #40731c;
	width: 45%;
	padding-top: 120px;
	background: transparent url(../images/logo-l.png) no-repeat center 0;
	margin: 20% auto 0;
	text-align: center;
}

